<h2 *ngIf="bancai" mat-dialog-title>{{ bancai.mingzi }}({{ bancai.guige?.join(" × ") }})</h2>
<ng-scrollbar class="flex-110">
  <div class="flex-row cads">
    <div class="flex-row cad" *ngFor="let cad of data.cads">
      <mat-checkbox [(ngModel)]="cad.checked">
        <span [class.disabled]="cad.disabled">{{ cad.name }}({{ cad.num }})</span>
        <!-- <span *ngIf="cad.peihe" [class.disabled]="cad.disabled">({{ cad.peihe }})</span> -->
        <span *ngIf="cad.oversized" style="color: red">(尺寸超出规格：{{ cad.width }} × {{ cad.height }})</span>
      </mat-checkbox>
    </div>
  </div>
</ng-scrollbar>
<div matDialogActions>
  <button mat-raised-button color="primary" (click)="autoCheck()">自动选择</button>
  <button mat-raised-button color="primary" (click)="selectAll()">全选</button>
  <button mat-raised-button color="primary" (click)="unselectAll()">全不选</button>
  <button mat-raised-button color="primary" (click)="enable()">设为开料</button>
  <button mat-raised-button color="primary" (click)="disable()">设为不开料</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="checkedCads.length < 1">移到新板材</button>
  <button mat-raised-button color="primary" (click)="close()">关闭</button>
</div>
