:host {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.disabled {
  text-decoration: line-through;
}

.order {
  display: flex;
  flex-direction: column;
  --title-size: 1.5em;
}

.cads {
  display: flex;
  flex-direction: column;
  --title-size: 1.2em;

  .cad-group {
    display: flex;
    flex-wrap: wrap;
  }

  .cad {
    width: 25%;
  }
}
