@if (!data.editDisabled) {
  <mat-slide-toggle [(ngModel)]="noPaiban">激光开料不排版</mat-slide-toggle>
}
<ng-scrollbar>
  @for (order of data.orders; track order; let i = $index) {
    <div class="order">
      @if (i > 0) {
        <mat-divider></mat-divider>
      }
      @if (order.cads.length > 0) {
        <div class="title">{{ order.code }}</div>
      }
      @for (group of order.cads; track group) {
        <div class="cads">
          @if (group[0]) {
            <div class="title">{{ group[0].bancai.mingzi }}({{ group[0].bancai.guige?.join(" × ") }})</div>
          }
          <div class="cad-group">
            @for (cad of group; track cad) {
              <div class="cad">
                <mat-checkbox [(ngModel)]="cad.checked" [disabled]="!data.editDisabled && cad.disabled">
                  <span [class.disabled]="cad.disabled">{{ cad.name }}</span>
                  @if (cad.oversized) {
                    <span style="color: red">(尺寸超出规格：{{ cad.width }} × {{ cad.height }})</span>
                  }
                </mat-checkbox>
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
</ng-scrollbar>
<div matDialogActions>
  <button mat-raised-button color="primary" (click)="selectAll()">全选</button>
  <button mat-raised-button color="primary" (click)="unselectAll()">全不选</button>
  @if (data.editDisabled) {
    <button mat-raised-button color="primary" (click)="selectOversized()">自动选择</button>
    <button mat-raised-button color="primary" (click)="enable()">设为开料</button>
    <button mat-raised-button color="primary" (click)="disable()">设为不开料</button>
  }
  @if (!data.editDisabled) {
    <button mat-raised-button color="primary" (click)="selectReverse()">反选</button>
  }
  @if (data.submitBtnText) {
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="isSubmitDisabled">
      {{ data.submitBtnText }}
    </button>
  }
  <button mat-raised-button color="primary" (click)="close()">关闭</button>
</div>
