<div class="toolbar">
  @if (showPointsAssemble()) {
    <button mat-flat-button [class.accent]="pointsAssembling()" (click)="pointsAssemble()">按点装配</button>
  } @else {
    <button mat-flat-button (click)="directAssemble()">快速装配</button>
  }
</div>

@if (data().components.connections.length > 0) {
  <ng-scrollbar class="connections">
    <div class="toolbar">
      <button mat-flat-button (click)="clearConnections()">清空</button>
    </div>
    @for (c of data().components.connections; track i; let i = $index) {
      <div class="connection">
        <p>名字: {{ c.names[0] }} &harr; {{ c.names[1] }}</p>
        <p>方向: {{ c.axis }}</p>
        <p>距离: {{ c.space || 0 }}</p>
        <p>定位: {{ c.position === "relative" ? "相对定位" : "绝对定位" }}</p>
        <button mat-flat-button (click)="removeConnection(i)">删除</button>
      </div>
    }
  </ng-scrollbar>
}
