<!-- <mat-form-field>
    <mat-label>距离</mat-label>
    <input matInput type="text" name="distance" [(ngModel)]="options.space" placeholder="请输入距离" />
</mat-form-field>
<mat-form-field>
    <mat-label>定位</mat-label>
    <mat-select name="position" [(ngModel)]="options.position">
        <mat-option value="absolute">绝对定位</mat-option>
        <mat-option value="relative">相对定位</mat-option>
    </mat-select>
</mat-form-field> -->
<div class="btn-group">
  <button mat-raised-button *ngIf="!showPointsAssemble" color="primary" (click)="directAssemble()">快速装配</button>
  <button mat-raised-button *ngIf="showPointsAssemble" [color]="pointsAssembling ? 'accent' : 'primary'" (click)="pointsAssemble()">
    按点装配
  </button>
</div>

<ng-scrollbar class="connections" *ngIf="connections.length">
  <div class="btn-group">
    <button mat-raised-button color="primary" (click)="clearConnections()">清空</button>
  </div>
  <div class="connection" *ngFor="let c of connections; let i = index">
    <p>名字: {{ c.names[0] }} &harr; {{ c.names[1] }}</p>
    <p>方向: {{ c.axis }}</p>
    <p>距离: {{ c.space || 0 }}</p>
    <p>定位: {{ c.position === "relative" ? "相对定位" : "绝对定位" }}</p>
    <button mat-raised-button color="primary" (click)="removeConnection(i)">删除</button>
  </div>
</ng-scrollbar>
