<mat-accordion multi>
  @for (bancai of bancais; track $index) {
    <mat-expansion-panel [(expanded)]="bancai.expanded" [style]="{'page-break-after': bancai.pageBreakAfter}" class="page">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ bancai["厚度"] }}, {{ bancai["材料"] }}, {{ bancai["板材"] }}</mat-panel-title>
        <mat-panel-description> {{ bancai["规格"][0] }}×{{ bancai["规格"][1] }}={{ bancai["数量"] }} </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="cads">
        @for (data of bancai.data; track $index) {
          <mat-card class="cad" [style]="{width: cadElWidth}">
            <div class="header">
              <div class="title">{{ data.code }}</div>
              <div class="subtitle">{{ data.cad.name }}</div>
            </div>
            <app-image
              [src]="data.img"
              [bigPicSrc]="data.imgLarge"
              [style]="{maxWidth: imgSize[0] + 'px', maxHeight: imgSize[1] + 'px'}"
            ></app-image>
            <mat-card-footer>
              <div>{{ data.zhankaiSize[0] }}×{{ data.zhankaiSize[1] }}={{ data.num }}</div>
            </mat-card-footer>
          </mat-card>
        }
      </div>
      <div class="footer" [class]="{'no-print': bancai.pageBreakAfter === undefined}">
        第{{ bancai.printPageIndex }}页，共{{ printPageTotal }}页
      </div>
    </mat-expansion-panel>
  }
</mat-accordion>
<div class="btn-group toolbar">
  <button mat-raised-button color="primary" (click)="print()">打印</button>
</div>
