:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.toolbar {
  position: fixed;
  left: 830px;
  top: 10px;
}

.page {
  width: 210mm;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px !important;

  * {
    color: black !important;
    font-family: "宋体" !important;
  }
}

.cads {
  display: flex;
  flex-wrap: wrap;

  .cad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid lightgrey;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .title {
        font-size: 22px;
        text-align: left;
      }
      .subtitle {
        font-size: 11px;
        text-align: right;
      }
    }
  }
}

@media print {
  :host {
    height: auto;
    overflow: hidden;
  }

  .toolbar {
    display: none;
  }

  .page {
    padding: 0;
    margin: 0 !important;
    box-shadow: none;
  }
}
:host ::ng-deep {
  @media print {
    .page .mat-expansion-indicator,
    .no-print {
      display: none;
    }
  }

  .mat-expansion-panel-body {
    padding: 0;
  }
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  font-size: 30px;
  line-height: 30px;
  align-items: center;
}
.mat-expansion-panel-header-title {
  flex: 1 1 0;
  justify-content: flex-end;
  margin-right: 30px;
}
.mat-expansion-panel-header-description {
  flex: 0 0 auto;
}
.mat-card {
  box-shadow: 0px 2px 6px -1px rgb(0 0 0 / 20%), 0px 1px 6px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.mat-card-header {
  width: 100%;
}
.mat-card-footer {
  margin: 5px -10px -10px -10px;
  font-size: 18px;
  line-height: 18px;
}

.footer {
  text-align: center;
  // position: absolute;
  // left: 0;
  // bottom: -5px;
}
