@if (!toolbarVisible) {
  <div class="toolbar-toggle" [@toolbarToggleEnter] [@toolbarToggleLeave]>
    <button mat-icon-button class="accent" (click)="toggleToolbarVisible()"><mat-icon>expand_more</mat-icon></button>
  </div>
}
@if (toolbarVisible) {
  <div class="toolbar toolbar" [@toolbarEnter] [@toolbarLeave]>
    @if (showDxfInput) {
      <input #uploadDxfInput type="file" hidden accept=".dxf" (input)="uploadDxf($event)" />
      <input #uploadJsonInput type="file" hidden accept=".json" (input)="uploadDxf($event)" />
      <button mat-flat-button (click)="uploadDxfInput.click()">上传dxf</button>
      <button mat-flat-button (click)="uploadJsonInput.click()">上传json</button>
      <mat-form-field style="flex: 0 0 250px">
        <mat-label>字体</mat-label>
        <input type="text" matInput [(ngModel)]="fontFamily" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          @for (font of fonts; track $index) {
            <mat-option [value]="font">{{ font }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    }
    @if (enableZixuanpeijian) {
      <button mat-flat-button (click)="toggleMode()">{{ mode === "edit" ? "退出" : "来图单自选配件" }}</button>
      <button mat-flat-button (click)="downloadDxf(false)" [disabled]="!downloadUrl">下载自选配件dxf</button>
      @if (mode === "edit") {
        <button mat-flat-button (click)="openZixuanpeijianDialog()">查看已选配件</button>
        <button mat-flat-button (click)="setOrderZixuanpeijian()">保存自选配件</button>
        <button mat-flat-button (click)="resetTranslate()">重置自选配件位置</button>
        <button mat-flat-button (click)="addCommentText()">添加备注</button>
      }
    }
    @if (mode !== "edit") {
      <button mat-flat-button (click)="downloadDxf(true)" [disabled]="!downloadUrl">下载原始dxf</button>
      <button mat-flat-button (click)="print()">打印</button>
      <button mat-flat-button (click)="openCadMuban()">打开cad模板</button>
      <button mat-flat-button (click)="saveAsImage()">保存成图片</button>
      @if (showSavePdf) {
        <button mat-flat-button (click)="savePdf()">保存PDF</button>
      }
    }
    @if (!production) {
      <mat-slide-toggle [(ngModel)]="checkEmpty">checkEmpty</mat-slide-toggle>
      <button mat-flat-button (click)="clearHttpCache()">clearHttpCache</button>
      <button mat-flat-button (click)="resetTextMap()">resetTextMap</button>
    }
    <button mat-icon-button class="accent" (click)="toggleToolbarVisible()"><mat-icon>expand_less</mat-icon></button>
  </div>
}
<div class="content" style="display: flex">
  @if (mode === "edit") {
    <div class="效果图">
      <div class="text title">效果图</div>
      <input type="file" #orderImageInput hidden accept="image/*" (change)="uploadOrderImage($event)" />
      <app-image [src]="orderImageUrl" (click)="orderImageInput.click()"></app-image>
      <div class="text">点击图片选择</div>
    </div>
  }
  <div class="cad-container" #cadContainer>
    @if (pdfUrl) {
      <embed [class]="{hidden: mode !== 'print'}" name="算料单" width="100%" height="100%" [src]="pdfUrl" type="application/pdf" />
    }
  </div>
  @if (mode === "edit") {
    <div class="输出变量">
      @for (key of shuchubianliangKeys; track key) {
        <div>{{ key }}:{{ materialResult[key] }}</div>
      }
    </div>
  }
</div>
<app-spinner [id]="loaderId"></app-spinner>
