:host {
  display: block;
  width: 50vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.15rem;
  border-radius: 20px;

  > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .title {
    font-size: 1.2em;
    text-align: center;
  }

  .help-info {
    font-size: 0.9em;
    text-align: center;
    color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action {
    button {
      width: 100%;
    }
  }
}
