.login-form {
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;

  .help-info {
    color: var(--mat-sys-on-surface-variant);
  }

  .action {
    button {
      width: 100%;
    }
  }
}
