:host {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.sections {
  overflow-x: auto;
  --mat-icon-size: 24px;
  --mat-icon-padding: 0;

  .section {
    display: flex;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;

    .section-title {
      align-items: center;
    }

    .items {
      min-height: 20px;
      padding: 5px;
      box-sizing: border-box;

      .item {
        align-items: center;

        .name {
          cursor: pointer;
          align-items: center;
        }

        &.placeholder {
          opacity: 0;
          height: 5px;
        }
      }
    }
  }
}
