<div class="flex-row flex-110">
  <div class="nav flex-column">
    <div class="toolbar">
      <app-input [info]="navQueryInputInfo()"></app-input>
      <button mat-stroked-button [class.accent]="navEditMode()" (click)="toggleNavEditMode()">编辑分类</button>
      @if (navEditMode()) {
        <button mat-stroked-button (click)="addNavNode('root')">添加1级</button>
        <button mat-stroked-button (click)="moveNavNodes(selectedNavNodes())">移动选中</button>
        <button mat-stroked-button (click)="removeNavNodes(selectedNavNodes())">删除选中</button>
      }
    </div>
    <div class="toolbar">
      <button mat-stroked-button (click)="importNavNodes()">导入</button>
      <button mat-stroked-button (click)="exportNavNodes()">导出</button>
      <button mat-stroked-button (click)="navNodesTree.expandAll()">展开</button>
      <button mat-stroked-button (click)="navNodesTree.collapseAll()">收起</button>
      <button mat-stroked-button (click)="selectNavNodes(navNodes(), true)">全选</button>
      <button mat-stroked-button (click)="selectNavNodes(navNodes(), false)">全选1级</button>
    </div>
    <ng-scrollbar #navNodesScrollbar>
      <mat-tree #navNodesTree [dataSource]="navNodes()" [childrenAccessor]="childrenAccessor" [trackBy]="navNodeTrackBy">
        <mat-nested-tree-node *matTreeNodeDef="let node" [class.hidden]="node.hidden">
          <div class="toolbar">
            <button mat-icon-button disabled style="opacity: 0">
              <mat-icon>chevron_right</mat-icon>
            </button>
            <div class="toolbar">
              <ng-container *ngTemplateOutlet="nodeTitle; context: {$implicit: node}"></ng-container>
            </div>
            <ng-container *ngTemplateOutlet="nodeEdit; context: {$implicit: node}"></ng-container>
          </div>
        </mat-nested-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: navNodehasChild" [class.hidden]="node.hidden" isExpandable>
          <div class="toolbar">
            <button mat-icon-button matTreeNodeToggle (click)="clickNavNode(node)">
              <mat-icon>
                {{ navNodesTree.isExpanded(node) ? "expand_more" : "chevron_right" }}
              </mat-icon>
            </button>
            <div class="toolbar" matTreeNodeToggle>
              <ng-container *ngTemplateOutlet="nodeTitle; context: {$implicit: node}"></ng-container>
            </div>
            <ng-container *ngTemplateOutlet="nodeEdit; context: {$implicit: node}"></ng-container>
          </div>
          <div [class.hidden]="!navNodesTree.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
        <ng-template #nodeTitle [appTypedTemplate]="{$implicit: navNodes()[0]}" let-node>
          @if (navEditMode()) {
            <mat-checkbox [checked]="selectedNavNodes().includes(node)" (change)="selectNavNode(node)" appClickStop></mat-checkbox>
          }
          <button
            mat-button
            class="nav-title plain"
            [class.accent]="activeNavNode()?.id === node.id"
            [attr.data-id]="node.id"
            (click)="clickNavNode(node)"
          >
            @if (navEditMode()) {
              <span>({{ node.order }})</span>
            }
            <span>{{ node.name }}</span>
            @if (node.itemCounts.self > 0) {
              @if (itemQuery().value) {
                <span class="accent">(搜到{{ node.itemCounts.selfQuery }}个)</span>
              } @else {
                <span>({{ node.itemCounts.self }}个)</span>
              }
            }
          </button>
        </ng-template>
        <ng-template #nodeEdit [appTypedTemplate]="{$implicit: navNodes()[0]}" let-node>
          @if (navEditMode()) {
            <div class="nav-edit toolbar compact">
              <button mat-button (click)="selectNavNodeChildren(node)">全选下级</button>
              @if (node.isVirtual) {
                @if (!node.hasChild()) {
                  <button mat-button (click)="editNavNode(node)">编辑</button>
                }
              } @else {
                <button mat-button (click)="addNavNode(node)">添加{{ node.level + 2 }}级</button>
                <button mat-button (click)="editNavNode(node)">编辑</button>
                <button mat-button (click)="moveNavNode(node)">移动</button>
                <button mat-button (click)="removeNavNode(node)">删除</button>
              }
            </div>
          }
        </ng-template>
      </mat-tree>
    </ng-scrollbar>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="flex-110 flex-column">
    <div class="toolbar">
      @for (info of itemQueryInputInfos(); track $index) {
        <app-input [info]="info"></app-input>
      }
      <button mat-flat-button (click)="toggleSortItems()">{{ sortItems() ? "名字排序" : "原始排序" }}</button>
      <ng-content select="[appDataListToolbar]"></ng-content>
    </div>
    <ng-scrollbar #itemsScrollbar>
      <ng-content select="[appDataListItems]"></ng-content>
    </ng-scrollbar>
  </div>
</div>

@if (nodeSelector(); as selector) {
  <app-floating-dialog width="50%" height="90%" left="25%" top="5%" backdrop noPin noMinimize (close)="closeNodeSelector(false)">
    <ng-container appFloatingDialogTitle>{{ selector.title }}</ng-container>
    <div class="toolbar">
      <app-input class="flex-110" [info]="nodeSelectorQueryInputInfo()"></app-input>
      <button mat-flat-button (click)="addNavNode(null, true)">添加1级</button>
      @if (selector.mode === "parent") {
        <button mat-flat-button (click)="closeNodeSelector(true, true)">移动到顶层</button>
      }
      <button mat-flat-button (click)="closeNodeSelector(true)">移动到选中分类</button>
      <button mat-flat-button (click)="closeNodeSelector(false)">取消</button>
    </div>
    <ng-scrollbar #nodeSelectorScrollbar>
      <mat-tree #nodeSelectorTree [dataSource]="selector.nodes" [childrenAccessor]="childrenAccessor" [trackBy]="navNodeTrackBy">
        <mat-nested-tree-node *matTreeNodeDef="let node" [class.hidden]="node.hidden">
          <div class="toolbar">
            <button mat-icon-button disabled style="opacity: 0">
              <mat-icon>chevron_right</mat-icon>
            </button>
            <div class="toolbar flex-110">
              <ng-container *ngTemplateOutlet="nodeTitle; context: {$implicit: node}"></ng-container>
            </div>
          </div>
        </mat-nested-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: navNodehasChild" [class.hidden]="node.hidden" isExpandable>
          <div class="toolbar">
            <button mat-icon-button matTreeNodeToggle>
              <mat-icon>
                {{ nodeSelectorTree.isExpanded(node) ? "expand_more" : "chevron_right" }}
              </mat-icon>
            </button>
            <div class="toolbar flex-110" matTreeNodeToggle>
              <ng-container *ngTemplateOutlet="nodeTitle; context: {$implicit: node}"></ng-container>
            </div>
          </div>
          <div [class.hidden]="!nodeSelectorTree.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
        <ng-template #nodeTitle [appTypedTemplate]="{$implicit: navNodes()[0]}" let-node>
          <button
            mat-button
            class="nav-title plain"
            [class.accent]="selector.selectedNode?.id === node.id"
            [attr.data-id]="node.id"
            (click)="clickNodeSelectorNode(node)"
          >
            <span>{{ node.name }}</span>
            @if (node.itemCounts.self > 0) {
              @if (itemQuery()) {
                <span class="accent">(搜到{{ node.itemCounts.selfQuery }}个)</span>
              } @else {
                <span>({{ node.itemCounts.self }}个)</span>
              }
            }
          </button>
          <div appClickStop>
            <button mat-button (click)="addNavNode(node, true)">添加{{ node.level + 2 }}级</button>
          </div>
        </ng-template>
      </mat-tree>
    </ng-scrollbar>
  </app-floating-dialog>
}
