<div class="flex-row flex-110">
  <div class="nav flex-column">
    <div class="toolbar">
      <app-input [info]="navQueryInputInfo()"></app-input>
      <button mat-stroked-button [color]="navEditMode() ? 'accent' : 'primary'" (click)="toggleNavEditMode()">开启编辑</button>
      @if (navEditMode()) {
        <button mat-stroked-button (click)="addNavNode()">添加1级</button>
      }
    </div>
    <div class="toolbar">
      <button mat-stroked-button (click)="importNavNodes()">导入</button>
      <button mat-stroked-button (click)="exportNavNodes()">导出</button>
    </div>
    <ng-scrollbar #navNodesScrollbar>
      <mat-tree #navNodesTree [dataSource]="navNodes()" [childrenAccessor]="childrenAccessor" [trackBy]="navNodeTrackBy">
        <mat-nested-tree-node *matTreeNodeDef="let node" [class.hidden]="node.hidden">
          <div class="toolbar">
            <ng-container *ngTemplateOutlet="nodeTitle; context: {$implicit: node}"></ng-container>
            <ng-container *ngTemplateOutlet="nodeEdit; context: {$implicit: node}"></ng-container>
          </div>
        </mat-nested-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: navNodehasChild" [class.hidden]="node.hidden">
          <div class="toolbar">
            <button mat-icon-button matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{ navNodesTree.isExpanded(node) ? "expand_more" : "chevron_right" }}
              </mat-icon>
            </button>
            <ng-container *ngTemplateOutlet="nodeTitle; context: {$implicit: node}"></ng-container>
            <ng-container *ngTemplateOutlet="nodeEdit; context: {$implicit: node}"></ng-container>
          </div>
          <div [class.hidden]="!navNodesTree.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
        <ng-template #nodeTitle [appTypedTemplate]="{$implicit: navNodes()[0]}" let-node>
          <button
            mat-button
            class="nav-title"
            [class.plain]="activeNavNode()?.id !== node.id"
            [attr.data-id]="node.id"
            (click)="clickNavNode(node)"
          >
            {{ node.name }}
            @if (navEditMode()) {
              (排序{{ node.order }})
            } @else {
              @if (itemQuery()) {
                <span style="color: red">(搜到{{ node.itemCount }}个)</span>
              } @else {
                ({{ node.itemCount }}个)
              }
            }
          </button>
        </ng-template>
        <ng-template #nodeEdit [appTypedTemplate]="{$implicit: navNodes()[0]}" let-node>
          @if (navEditMode()) {
            <div class="nav-edit toolbar compact">
              @if (node.isVirtual) {
                @if (!node.hasChild()) {
                  <button mat-button (click)="editNavNode(node)">编辑</button>
                }
              } @else {
                <button mat-button (click)="addNavNode(node)">添加{{ node.level + 2 }}级</button>
                <button mat-button (click)="editNavNode(node)">编辑</button>
                <button mat-button (click)="removeNavNode(node)">删除</button>
              }
            </div>
          }
        </ng-template>
      </mat-tree>
    </ng-scrollbar>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="flex-110 flex-column">
    <div class="toolbar">
      @for (info of itemQueryInputInfos(); track $index) {
        <app-input [info]="info"></app-input>
      }
      <button mat-flat-button (click)="toggleSortItems()">{{ sortItems() ? "名字排序" : "原始排序" }}</button>
      <ng-content select="[appDataListToolbar]"></ng-content>
    </div>
    <ng-scrollbar #itemsScrollbar>
      <ng-content select="[appDataListItems]"></ng-content>
    </ng-scrollbar>
  </div>
</div>
