.point {
  position: fixed;
  border: 1px solid var(--mat-sys-on-surface);
  border-radius: 20px;
  background-color: var(--mat-sys-surface);
  cursor: pointer;
  transform: translate(-50%, -50%);
  user-select: none;
  animation: point 2.2s linear infinite;
  --active-color: var(--mat-sys-primary);
  &:hover {
    background-color: var(--active-color);
  }
  &.active,
  &.active2 {
    background-color: var(--active-color);
    animation: unset;
  }

  @keyframes point {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
