:host {
  overflow: auto;
  padding: 0;
  flex-direction: row;

  & > :not(:first-child) {
    margin-left: 10px;
  }
}

.menu {
  flex: 0 0 auto;
  height: 100%;
  box-sizing: border-box;
  padding-right: 2px;

  .toolbar {
    width: 100%;
  }

  app-table {
    flex: 1 1 0;
  }
}

.content {
  width: 210mm;
  flex: 0 0 auto;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;

  > .title {
    line-height: 36px;
    position: relative;
  }
}

.qr-code {
  position: absolute;
  top: 0;
  right: 0;
  top: 2.5px;
  right: 0;
}

.content .table-container {
  > * {
    &.hide-title {
      .table-title {
        display: none;
      }

      &[type="main"] {
        app-table ::ng-deep {
          mat-table mat-header-row:first-child mat-header-cell .cell-content {
            border-top: none;
          }
        }
      }
    }

    &[type="header"] {
      app-table {
        --row-max-height: auto;
      }
    }

    &[type="footer"] {
      &:first-of-type {
        margin-top: 10px;
      }

      app-table {
        border: none;
      }
    }

    &.has-sum {
      app-table ::ng-deep {
        .table-body mat-row:last-child {
          .mat-mdc-cell {
            overflow: visible;
            width: auto;

            .cell-content {
              border: none;
              white-space: nowrap;
              padding: 0;
              &:hover,
              &.active {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }

  app-table {
    --border: 1px solid var(--mat-sys-on-surface);
    --row-min-height: 36px;
    --row-max-height: 36px;
    --cell-active-color: #b2b2b2;
    --cell-padding: 2px;
    ::ng-deep {
      .title {
        text-align: left;
        font-size: 1.2em;
        border-left: var(--border);
        border-right: var(--border);
      }

      .table-container {
        .table-body {
          box-shadow: none;

          .mat-mdc-header-cell,
          .mat-mdc-cell,
          .mat-mdc-footer-cell {
            &.no-border-bottom .cell-content {
              border-bottom: none;
            }
          }
        }
      }
    }
    &:not(:first-child) {
      border-top: none;
    }
  }
}

@media print {
  :host {
    height: auto;
  }

  .content {
    padding: 30px;
  }

  app-table {
    &.page-break {
      + * {
        border-top: var(--border);
      }
    }

    ::ng-deep {
      .page-break {
        break-before: page;
        opacity: 0;
        height: var(--row-min-height);
        + * {
          border-top: var(--border);
        }
      }
    }
  }
}

.table-title {
  border-left: var(--border);
  border-right: var(--border);
  padding: 5px;

  & + .xingcai-info {
    border-bottom: var(--border);
  }
}

.xingcai-info {
  border-left: var(--border);
  border-right: var(--border);
  display: flex;
  font-size: 17px;
  min-height: 50px;

  .xingcai-info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    white-space: nowrap;

    &.铝型材 {
      flex: 1 1 0;
    }
    &.型材颜色 {
      flex: 2 2 0;
    }
    &.图示 {
      flex: 1 1 0;
    }
    &.领料要求 {
      flex: 3 3 0;
    }

    app-image {
      width: 100%;
      height: 0;
      flex: 1 1 0;
    }
  }
}
