<div class="content">
  <div class="title center">{{ title }}</div>
  <div class="table-container flex-column flex-110">
    @for (tableInfo of tableInfos; track $index) {
      <app-table [info]="tableInfo" (rowButtonClick)="onRowButtonClick(tableInfo, $event)"></app-table>
    }
  </div>
</div>
<div class="menu toolbar no-print flex-column">
  <div class="toolbar">
    <button mat-raised-button color="primary" (click)="export()">导出</button>
    <button mat-raised-button color="primary" (click)="print()">打印</button>
  </div>
  <div class="flex-110 flex-column">
    @if (xikongTableInfo) {
      <app-table [info]="xikongTableInfo" [style]="{width: xikongTableWidth + 'px'}"></app-table>
    }
  </div>
</div>
