:host {
  overflow: auto;
  padding: 0;
}

.toolbar {
  position: absolute;
  left: calc(210mm + 10px);
  top: 10px;
}

.content {
  width: 210mm;
  padding: 10px;
  box-sizing: border-box;
}

app-table {
  --border: 1px solid black;
  border: var(--border);
  ::ng-deep {
    .title {
      text-align: left;
      font-size: 1.2em;
    }

    .table-body {
      box-shadow: none !important;
    }
  }
  &:not(:first-child) {
    border-top: none;
  }
}

@media print {
  .content {
    height: 297mm;
    overflow: hidden;
    padding: 0 10px;
  }
}
