:host {
  overflow: auto;
  padding: 0;
  flex-direction: row;

  & > :not(:first-child) {
    margin-left: 10px;
  }
}

.menu {
  flex: 0 0 auto;
  height: 100%;
  box-sizing: border-box;
  padding-right: 2px;

  .toolbar {
    width: 100%;
  }

  app-table {
    flex: 1 1 0;
  }
}

.content {
  flex: 0 0 210mm;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}

app-table {
  --border: 1px solid black;
  border: var(--border);
  --row-max-height: 40px;
  --cell-active-color: #b2b2b2;
  ::ng-deep {
    .title {
      text-align: left;
      font-size: 1.2em;
    }

    .table-body {
      box-shadow: none !important;
    }
  }
  &:not(:first-child) {
    border-top: none;
  }
}

@media print {
  .content {
    height: 297mm;
    overflow: hidden;
    padding: 30px;
  }
}
