<div class="content">
  <div class="title center">
    <div>{{ title() }}</div>
    @if (qrCodeImg(); as img) {
      <div class="qr-code link" (click)="openQrCodeUrl()">
        <app-image [src]="img"></app-image>
      </div>
    }
  </div>
  <div class="table-container flex-column flex-110">
    @for (info of tableInfos(); track $index) {
      @if (info.title && !info.hideTitle) {
        <div class="table-title">{{ info.title }}</div>
      }
      @if (info["型材信息"]; as xingcaiInfo) {
        <div class="xingcai-info">
          <div class="xingcai-info-item 铝型材">
            {{ xingcaiInfo["铝型材"] }}
          </div>
          <div class="xingcai-info-item 型材颜色">
            {{ xingcaiInfo["型材颜色"] }}
          </div>
          <div class="xingcai-info-item 图示">
            <app-image [src]="xingcaiInfo['图示']"></app-image>
          </div>
          <div class="xingcai-info-item 领料要求">
            @for (item of xingcaiInfo["领料要求"]; track $index) {
              <div>{{ getLlyqStr(item) }}</div>
            }
          </div>
        </div>
      }
      @if (info.isHeader) {
        <app-table [info]="info"></app-table>
      } @else {
        <app-table #tables [info]="info" (rowButtonClick)="onRowButtonClick(info, $event)"></app-table>
      }
    }
  </div>
</div>
@if (!lvxingcaiyouhuaInfo()) {
  <div class="menu toolbar no-print flex-column">
    <div class="toolbar">
      <button mat-raised-button color="primary" (click)="export()">导出</button>
      <button mat-raised-button color="primary" (click)="print()">打印</button>
    </div>
    <div class="flex-110 flex-column">
      @if (xikongTableInfo(); as info) {
        <app-table [info]="info" [style]="{width: xikongTableWidth() + 'px'}"></app-table>
      }
    </div>
  </div>
}
