:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

json-editor {
  flex: 1 1 0;

  ::ng-deep {
    > div {
      height: 100%;
    }
  }
}

.qiezhongkong {
  display: flex;
  flex-wrap: wrap;

  .qiezhongkong-item {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: calc(33.33% - 10px);
  }
}

::ng-deep app-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;

  .group {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    > * {
      width: 50%;
    }
  }
  &.外框基准线 .group {
    flex-wrap: nowrap;

    > * {
      width: 0;
      flex: 1 1 0;
    }
  }
}
