:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

app-input {
  ::ng-deep {
    .mat-mdc-form-field,
    .mat-mdc-form-field-flex,
    .mat-mdc-form-field-infix,
    textarea {
      height: 100% !important;
    }
  }
}
