<form>
  <button hidden></button>
  @for (info of infoGroup1(); track $index) {
    <app-input [info]="info"></app-input>
  }
  @for (info of baseLineInfos(); track $index; let j = $index) {
    <div>
      <mat-form-field [color]="info.color">
        <mat-label>基准</mat-label>
        <input matInput type="text" [(ngModel)]="info.data.name" (change)="updateBaseLineInfos()" name="baseLineName" />
        <button mat-icon-button matSuffix [color]="info.color" (click)="selectBaseLine(j)">
          <mat-icon>linear_scale</mat-icon>
        </button>
        <button mat-icon-button matSuffix color="primary" (click)="addBaseLine(j)">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button matSuffix color="primary" (click)="removeBaseLine(j)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <mat-hint [align]="'start'">x:{{ info.data.valueX.toFixed(2) }}, y:{{ info.data.valueY.toFixed(2) }}</mat-hint>
      </mat-form-field>
    </div>
  }
  @for (info of jointPointInfos(); track $index; let j = $index) {
    <div>
      <mat-form-field [color]="info.color">
        <mat-label>连接点</mat-label>
        <input matInput type="text" [(ngModel)]="info.data.name" (change)="updateJointPointInfos()" name="jointPointName" />
        <button mat-icon-button matSuffix [color]="info.color" (click)="selectJointPoint(j)">
          <mat-icon>linear_scale</mat-icon>
        </button>
        <button mat-icon-button matSuffix color="primary" (click)="addJointPoint(j)">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button matSuffix color="primary" (click)="removeJointPoint(j)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <mat-hint [align]="'start'">x:{{ info.data.valueX.toFixed(2) }}, y:{{ info.data.valueY.toFixed(2) }}</mat-hint>
      </mat-form-field>
    </div>
  }
  @for (info of infoGroup2(); track $index) {
    <app-input [info]="info"></app-input>
  }
  @for (key of intersectionKeys; track $index) {
    <div class="sub-form-field">
      <div class="label">{{ intersectionKeysTranslate[key] }}</div>
      @if (data()[key].length === 0) {
        <div>
          <button mat-icon-button color="primary" (click)="addIntersectionValue(key)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      }
      @for (v of intersectionInputs()[key]; track $index) {
        <div class="toolbar">
          @for (v2 of v; track $index) {
            <app-input [info]="v2"></app-input>
          }
        </div>
      }
    </div>
  }
  <div class="sub-form-field">
    <div class="label">激光开料标记线</div>
    @if (data().info["激光开料标记线"]?.length === 0) {
      <div>
        <button mat-icon-button color="primary" (click)="arrayAdd2(data().info, '激光开料标记线', emptyBjxItem)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    }
    @for (v of data().info["激光开料标记线"]; track $index; let j = $index) {
      <div>
        <mat-form-field>
          <mat-select [(ngModel)]="v.type" [ngModelOptions]="{standalone: true}">
            @for (type of bjxTypes; track $index) {
              <mat-option [value]="type">{{ type }}</mat-option>
            }
          </mat-select>
          <button mat-icon-button matSuffix [color]="getBjxPointColor(j)" (click)="$event.stopPropagation(); selectBjxPoint(j)">
            <mat-icon>linear_scale</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="$event.stopPropagation(); arrayAdd2(data().info, '激光开料标记线', emptyBjxItem, j + 1)"
          >
            <mat-icon>add_circle</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="$event.stopPropagation(); arrayRemove2(data().info, '激光开料标记线', j)"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </mat-form-field>
      </div>
    }
  </div>
  @for (info of infoGroup3(); track $index) {
    <app-input [info]="info"></app-input>
  }
</form>
