:host {
  width: auto;
  height: auto;
}

.var-names-groups {
  width: calc(var(--names-per-row) * var(--var-width) + 10px);

  .var-names-group {
    width: 100%;

    .name {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .var-names {
    flex-wrap: wrap;
    > * {
      width: var(--var-width);
    }
  }
}
