@if (varNamesItem(); as item) {
  <div class="var-names-groups flex-column flex-110" [style.--var-width.px]="item.width" [style.--names-per-row]="namesPerRow()">
    <div class="toolbar">
      <div class="title">系统变量</div>
      <button mat-raised-button color="primary" (click)="openDoc()">
        帮助文档
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
    <ng-scrollbar>
      @for (group of item.nameGroups; track i; let i = $index) {
        @if (i > 0) {
          <mat-divider></mat-divider>
        }
        <div class="var-names-group flex-column">
          <div class="name">{{ group.groupName }}</div>
          <div class="var-names toolbar">
            @for (name of group.varNames; track $index) {
              <button mat-button color="primary" (click)="clickVarName(name)">{{ name }}</button>
            }
          </div>
        </div>
      }
    </ng-scrollbar>
  </div>
}
