:host {
  --border: 1px solid rgba(0, 0, 0, 0.12);
  --mat-table-row-item-outline-color: var(--border);
  --row-min-height: 40px;
  --row-max-height: unset;
  --cell-hover-color: #eaeaea;
  --cell-active-color: #eaeaea;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  .title {
    white-space: pre;
  }

  .table-toolbar {
    margin: 0;
  }

  .table-body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    box-shadow:
      0 5px 5px -3px #0003,
      0 8px 10px 1px #00000024,
      0 3px 14px 2px #0000001f;

    .mat-mdc-table {
      overflow: auto;
    }

    mat-row,
    mat-header-row,
    mat-footer-row {
      min-height: var(--row-min-height);
      max-height: var(--row-max-height);
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell,
    .mat-mdc-footer-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
      padding: 5px;
      transition: 0.3s;
      &:hover {
        background-color: var(--cell-hover-color);
      }
      &.active {
        background-color: var(--cell-active-color);
      }
      border-left: var(--border);
      &:last-child {
        border-right: var(--border);
      }
      border-bottom: var(--border);

      &:not(.mat-column-select) {
        flex: 1 1 0;
        width: 0;
      }

      &.error {
        background-color: #ffcece;
      }

      .mat-mdc-form-field {
        ::ng-deep {
          .mat-mdc-text-field-wrapper {
            padding: 0;
            background-color: transparent;

            .mat-mdc-form-field-focus-overlay {
              display: none;
            }
          }

          .mat-mdc-form-field-subscript-wrapper {
            display: none;
          }
        }
      }

      .btn-group {
        justify-content: center;

        .mdc-button {
          padding: 5px 10px;
          min-width: unset;
          height: auto;
        }
      }
    }
    .mat-mdc-cell {
      background-color: #f2f2f2;
      .mdc-button {
        min-width: unset;
        height: 28px;
        padding: 0 8px 0 8px;

        ::ng-deep {
          .mat-mdc-button-touch-target {
            height: 30px;
          }
        }
      }
    }
    .mat-mdc-header-cell {
      border-top: var(--border);
    }

    .column-type-image {
      > div {
        height: 100%;
        app-image {
          height: 100%;
        }
      }
    }
    .column-type-cad {
      .cad-preview {
        cursor: pointer;
      }
    }
  }
  &:not(.no-scroll) {
    .table-body .mat-mdc-table {
      flex: 1 1 0;
    }
  }
}
@media print {
  .table-container {
    .table-toolbar {
      display: none;
    }

    .table-body {
      box-shadow: none;

      .mat-mdc-table {
        overflow: visible;
      }

      .mat-mdc-cell {
        background-color: transparent;
        &:hover,
        &.active {
          background-color: transparent;
        }
      }

      .mat-mdc-header-cell,
      .mat-mdc-cell {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }
}

.popup-form {
  width: 120px;
  background-color: white;
  border: 1px solid gray;
  font-size: 1rem;
  line-height: 1rem;

  .mat-mdc-form-field {
    margin-bottom: -1.25em;
  }

  input {
    width: 100%;
    padding: 5px;
  }
}

.error-msg {
  background-color: #ffcece;
  color: gray;
  padding: 5px 10px;
  display: flex;
  align-items: center;

  .mat-icon {
    color: red;
    margin-right: 5px;
  }
}
