:host {
  --border: 1px solid var(--mat-sys-outline);
  --mat-table-row-item-outline-color: var(--border);
  --row-min-height: 40px;
  --row-max-height: unset;
  --cell-padding: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &.no-border {
    --border: none !important;
  }
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  .title {
    white-space: pre-wrap;
  }

  .table-toolbar {
    margin: 0;
  }

  .table-body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    box-shadow: var(--mat-sys-level2);

    .mat-mdc-table {
      overflow: auto;
    }

    mat-row,
    mat-header-row,
    mat-footer-row {
      min-height: var(--row-min-height);
      max-height: var(--row-max-height);
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell,
    .mat-mdc-footer-cell {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0;
      border: none;

      &:not(.mat-column-select) {
        flex: 1 1 0;
        width: 0;
      }

      .cell-content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: pre-wrap;
        padding: var(--cell-padding);

        transition: 0.3s;
        &:hover,
        &.active {
          background-color: var(--mat-sys-outline-variant);
        }

        border-left: var(--border);
        border-bottom: var(--border);
      }
      &:last-child .cell-content {
        border-right: var(--border);
      }

      &.cell-merge-rows-head {
        align-items: flex-start;
        overflow: visible;

        .cell-content {
          height: calc(100% * var(--merge-rows-n));
        }
      }
      &.cell-merge-rows-middle,
      &.cell-merge-rows-tail {
        z-index: -1;

        .cell-content {
          display: none;
        }
      }

      &.align-left {
        .cell-content {
          justify-content: flex-start;
          text-align: left;
        }
      }
      &.align-center {
        .cell-content {
          justify-content: center;
          text-align: center;
        }
      }
      &.align-right {
        .cell-content {
          justify-content: flex-end;
          text-align: right;
        }
      }

      .mat-mdc-form-field {
        ::ng-deep {
          .mat-mdc-text-field-wrapper {
            padding: 0;
            background-color: transparent;

            .mat-mdc-form-field-focus-overlay {
              display: none;
            }
          }

          .mat-mdc-form-field-subscript-wrapper {
            display: none;
          }
        }
      }
    }
    .mat-mdc-cell {
      .toolbar.compact .mdc-button {
        margin: 0;
      }
      :not(.toolbar.compact) .mdc-button {
        min-width: unset;
        padding: 0 5px;
      }
    }
    .mat-mdc-header-cell {
      .cell-content {
        border-top: var(--border);
      }
    }

    .column-type-image {
      .image-container {
        width: 100%;
        height: 100%;

        app-image {
          width: 100%;
          height: 100%;
        }
      }
    }
    .column-type-cad {
      app-cad-image {
        cursor: pointer;
      }
    }
  }
  &:not(.no-scroll) {
    .table-body .mat-mdc-table {
      flex: 1 1 0;
    }
  }
}

:host.no-border {
  --border: none !important;

  .table-container {
    .table-body {
      .mat-mdc-header-cell,
      .mat-mdc-cell,
      .mat-mdc-footer-cell {
        .cell-content {
          &:hover,
          &.active {
            background-color: unset;
          }
        }
      }
    }
  }
}

@media print {
  .table-container {
    .table-toolbar {
      display: none;
    }

    .table-body {
      box-shadow: none;

      .mat-mdc-table {
        overflow: visible;
      }

      .mat-mdc-cell {
        .cell-content {
          background-color: transparent;
          &:hover,
          &.active {
            background-color: transparent;
          }
        }
      }

      .mat-mdc-header-cell,
      .mat-mdc-cell {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }
}

.popup-form {
  width: 120px;
  background-color: var(--mat-sys-surface);
  border: 1px solid var(--mat-sys-outline);
  font-size: 1rem;
  line-height: 1rem;

  .mat-mdc-form-field {
    margin-bottom: -1.25em;
  }

  input {
    width: 100%;
    padding: 5px;
  }
}

.error-msg {
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
  padding: 5px 10px;
  display: flex;
  align-items: center;

  .mat-icon {
    color: var(--mat-sys-error);
    margin-right: 5px;
  }
}
