<div class="table-container" [ngClass]="{'no-scroll': info.noScroll, 'no-data': !haveData}">
  @if (info.title && !toolbarButtons.inlineTitle) {
    <div class="title center">{{ info.title }}</div>
  }
  @if (haveToolbarButtons) {
    <div class="btn-group table-toolbar">
      @if (info.title && toolbarButtons.inlineTitle) {
        <div class="title">{{ info.title }}</div>
      }
      @if (toolbarButtons.add) {
        <button mat-raised-button color="primary" (click)="addItem()">添加</button>
      }
      @if (toolbarButtons.remove) {
        <button mat-raised-button color="primary" (click)="removeItem()" [disabled]="selection.selected.length < 1">删除</button>
      }
      @if (toolbarButtons.export) {
        <button mat-raised-button color="primary" (click)="export()">导出</button>
      }
      @if (toolbarButtons.import) {
        <button mat-raised-button color="primary" (click)="import()">导入</button>
      }
      @if (toolbarButtons.editModeToggle) {
        <button mat-raised-button [color]="info.editMode ? 'accent' : 'primary'" (click)="toggleEditMode()">编辑</button>
      }
      @for (button of toolbarButtons.extra; track $index) {
        <button
          mat-raised-button
          [color]="button.color"
          [ngClass]="button.class"
          [ngStyle]="button.style"
          (click)="onToolbarBtnClick({button})"
        >
          {{ button.title || button.event }}
        </button>
      }
    </div>
  }
  @for (item of errorState; track $index) {
    <div class="error-msg">
      <mat-icon>error</mat-icon>
      <div>{{ item.msg }}</div>
    </div>
  }
  <div class="table-body">
    <mat-table [dataSource]="dataSource" matSort>
      <div>
        <ng-container matColumnDef="select" sticky>
          <mat-header-cell *matHeaderCellDef [ngStyle]="getCheckBoxStyle()">
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let item; let rowIdx = index" [ngStyle]="getCheckBoxStyle()">
            <mat-checkbox appClickStop (change)="$event ? selection.toggle(item) : null" [checked]="selection.isSelected(item)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        @for (column of info.columns; track colIdx; let colIdx = $index) {
          <ng-container [matColumnDef]="toTypeString(column.field)" [sticky]="column.sticky">
            @if (info.sortable) {
              <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="getCellClass(column, -1)" [ngStyle]="getCellStyle(column)">
                {{ column.name || column.field }}
              </mat-header-cell>
            } @else {
              <mat-header-cell *matHeaderCellDef [ngClass]="getCellClass(column, -1)" [ngStyle]="getCellStyle(column)">
                {{ column.name || column.field }}
              </mat-header-cell>
            }
            <mat-cell
              *matCellDef="let item; let rowIdx = index"
              [ngClass]="getCellClass(column, rowIdx)"
              [ngStyle]="getCellStyle(column)"
              [class.error]="!isVaild(rowIdx)"
              (click)="onCellClick({column, item, colIdx, rowIdx})"
            >
              @if (info.isTree && colIdx === 0) {
                <button
                  mat-icon-button
                  [style.opacity]="item.children?.length > 0 ? '1' : '0'"
                  [style.marginLeft.px]="item.level * 10"
                  (click)="treeControl.toggle(item)"
                >
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{ treeControl.isExpanded(item) ? "expand_more" : "chevron_right" }}
                  </mat-icon>
                </button>
              }
              @switch (column.type) {
                @case ("string") {
                  @if (isColumnEditable({column, item, colIdx, rowIdx})) {
                    <mat-form-field>
                      <input
                        type="text"
                        matInput
                        [value]="item[column['field']]"
                        (change)="setCellValue($event, colIdx, rowIdx, item)"
                        (focus)="onCellFocus($event, colIdx, rowIdx, item)"
                        (blur)="onCellBlur($event, colIdx, rowIdx, item)"
                      />
                    </mat-form-field>
                  } @else {
                    {{ getValueString(item, column) }}
                  }
                }
                @case ("number") {
                  @if (isColumnEditable({column, item, colIdx, rowIdx})) {
                    <mat-form-field>
                      <input
                        matInput
                        type="number"
                        [value]="item[column['field']]"
                        (change)="setCellValue($event, colIdx, rowIdx, item)"
                        (focus)="onCellFocus($event, colIdx, rowIdx, item)"
                        (blur)="onCellBlur($event, colIdx, rowIdx, item)"
                      />
                    </mat-form-field>
                  } @else {
                    {{ getValueString(item, column) }}
                  }
                }
                @case ("boolean") {
                  @if (isColumnEditable({column, item, colIdx, rowIdx})) {
                    <mat-form-field>
                      <input type="text" matInput hidden />
                      <mat-slide-toggle
                        [checked]="!!item[column['field']]"
                        (change)="setCellValue($event, colIdx, rowIdx, item)"
                      ></mat-slide-toggle>
                    </mat-form-field>
                  } @else {
                    {{ getValueString(item, column) }}
                  }
                }
                @case ("time") {
                  @if (isColumnEditable({column, item, colIdx, rowIdx})) {
                    <mat-form-field>
                      <!-- todo: datetime picker -->
                      <input
                        type="text"
                        matInput
                        [value]="item[column['field']]"
                        (change)="setCellValue($event, colIdx, rowIdx, item)"
                        (focus)="onCellFocus($event, colIdx, rowIdx, item)"
                        (blur)="onCellBlur($event, colIdx, rowIdx, item)"
                      />
                    </mat-form-field>
                  } @else {
                    {{ getValueString(item, column) }}
                  }
                }
                @case ("select") {
                  @if (isColumnEditable({column, item, colIdx, rowIdx})) {
                    <mat-form-field>
                      <mat-select [value]="item[column['field']]" (selectionChange)="setCellValue($event, colIdx, rowIdx, item)">
                        @for (item of getColumnOptions(column); track $index) {
                          <mat-option [value]="item">
                            {{ item }}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  } @else {
                    {{ getValueString(item, column) }}
                  }
                }
                @case ("button") {
                  @if (column.showValue) {
                    <div>{{ getValueString(item, column) }}</div>
                  }
                  <div class="btn-group">
                    @for (button of getColumnButtons(column); track $index) {
                      <button
                        mat-stroked-button
                        [color]="button.color"
                        [ngClass]="button.class"
                        [ngStyle]="button.style"
                        (click)="onRowButtonClick({button, column, item, colIdx, rowIdx})"
                      >
                        {{ button.title || button.event }}
                      </button>
                    }
                  </div>
                }
                @case ("link") {
                  @if (isColumnEditable({column, item, colIdx, rowIdx})) {
                    <mat-form-field>
                      <input
                        type="text"
                        matInput
                        readonly
                        [value]="getValueString(item, column)"
                        (focus)="onCellFocus($event, colIdx, rowIdx, item)"
                        (blur)="onCellBlur($event, colIdx, rowIdx, item)"
                      />
                      <button mat-icon-button matSuffix color="primary" (click)="selectOptions(colIdx, rowIdx, item)">
                        <mat-icon>list</mat-icon>
                      </button>
                    </mat-form-field>
                  } @else {
                    {{ getValueString(item, column) }}
                  }
                }
                @case ("image") {
                  <div class="flex-column flex-110">
                    @if (getItemImgSmall(item, column)) {
                      <app-image [src]="getItemImgSmall(item, column)" [bigPicSrc]="getItemImgLarge(item, column)"></app-image>
                    }
                    @if (isColumnEditable({column, item, colIdx, rowIdx})) {
                      <div class="btn-group">
                        <button mat-raised-button color="primary" (click)="uploadFile(colIdx, rowIdx, item)">上传</button>
                        @if (getItemImgSmall(item, column)) {
                          <button mat-raised-button color="accent" (click)="deleteFile(colIdx, rowIdx, item)">删除</button>
                        }
                      </div>
                    }
                  </div>
                }
                @case ("cad") {
                  <div class="flex-column">
                    @if (cadImgs[getItemCadImgId(item, column)]) {
                      <app-image
                        class="cad-preview"
                        [src]="cadImgs[getItemCadImgId(item, column)]"
                        [bigPicSrc]="cadImgs[getItemCadImgId(item, column)]"
                      ></app-image>
                    }
                    @if (isColumnEditable({column, item, colIdx, rowIdx}, true)) {
                      <div class="btn-group">
                        <button mat-raised-button color="primary" (click)="uploadCad(colIdx, rowIdx, item)">上传</button>
                        @if (cadImgs[getItemCadImgId(item, column)]) {
                          <button mat-raised-button color="primary" (click)="openCad(colIdx, rowIdx, item)">编辑</button>
                          <button mat-raised-button color="accent" (click)="deleteCad(colIdx, rowIdx, item)">删除</button>
                        }
                      </div>
                    }
                  </div>
                }
              }
            </mat-cell>
          </ng-container>
        }

        <mat-header-row *matHeaderRowDef="columnFields; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnFields; let i = index"></mat-row>
      </div>
    </mat-table>
  </div>
</div>
