<div class="toolbar right">
  <button mat-flat-button (click)="submit()">保存</button>
  <button mat-flat-button (click)="cancel()">关闭</button>
</div>

<ng-scrollbar>
  <div class="items">
    @for (item of data.data | keyvalue: returnZero; track $index) {
      @if (item.value) {
        <app-cad-item
          [cad]="item.value"
          [buttons]="cadButtons"
          [customInfo]="{key: item.key}"
          [yaoqiu]="data['cad数据要求']"
          [gongshis]="data.gongshis"
        ></app-cad-item>
      } @else {
        <div class="item link" (click)="selectFentiCad(item.key)">
          <div class="name">{{ item.key }}</div>
          <div class="empty-cad"></div>
        </div>
      }
    }
  </div>
</ng-scrollbar>
