.nav {
  display: flex;
  flex-direction: column;
  > * {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .toolbar.vertical {
    width: auto;
    > .mdc-button {
      width: calc(100% - 10px);
    }
  }
}

.menchaungs {
  .menchuang-header {
    width: 100%;
    background-color: var(--mat-sys-primary-fixed);
    color: var(--mat-sys-on-primary-fixed);
    --mat-button-text-label-text-color: var(--mat-sys-on-primary-fixed);
    padding: 5px;
    align-items: center;

    .name {
      font-size: 18px;
      padding: 0 2px;
      display: flex;
      box-sizing: border-box;
    }
  }
}

.gongyis {
  width: 100%;
  .item {
    transition: 0.3s;
    padding: 5px;
    &.active,
    &:hover {
      background-color: var(--mat-sys-outline-variant);
    }

    .gongyi-header {
      width: 100%;
      align-items: center;

      .name {
        flex: 1 1 0;
        display: flex;
      }
      .toolbar {
        width: auto;
      }
    }
  }
}

.fenlei-list {
  .zuofa-list {
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .name {
    width: 100%;
    justify-content: flex-start;
    &.active {
      background: var(--mat-sys-outline-variant);
    }
  }
}
