@if (info.data["算料公式"]) {
  <div class="gongshis flex-column flex-110">
    <div class="toolbar">
      <div class="title">算料公式</div>
      <button mat-raised-button color="primary" (click)="addGongshi()">添加</button>
    </div>
    <ng-scrollbar class="fixed-width">
      <div class="items no-items-per-row">
        @for (gongshi of info.data["算料公式"]; track gongshi; let i = $index) {
          @if (i > 0) {
            <mat-divider></mat-divider>
          }
          <div class="gongshi-card item">
            <div class="toolbar compact">
              <div class="gongshi-name text long">{{ gongshi["名字"] }}</div>
              @if (gongshiInfo[i].formulas) {
                <button mat-button color="primary" (click)="editGongshiEnd(i, null, true)">关闭编辑</button>
              } @else {
                <button mat-button color="primary" (click)="editGongshiStart(i)">直接编辑</button>
              }
              <button mat-button color="primary" (click)="editGongshi(i)">弹窗编辑</button>
              <button mat-button color="primary" (click)="copyGongshi(i)">复制</button>
              <button mat-button color="primary" (click)="removeGongshi(i)">删除</button>
            </div>
            <div class="gongshi-items">
              @if (gongshiInfo[i].formulas) {
                <app-formulas-editor
                  [formulas]="gongshiInfo[i].formulas"
                  [compact]="true"
                  (formulasChange)="editGongshiEnd(i, $event)"
                ></app-formulas-editor>
              } @else {
                @for (item of gongshi["公式"] | keyvalue: returnZero; track item.key) {
                  <div class="gongshi-item text-ellipsis" [matTooltip]="getGongshiStr(item)">{{ getGongshiStr(item) }}</div>
                }
              }
            </div>
          </div>
        }
      </div>
    </ng-scrollbar>
  </div>
}
@if (info.data["输入数据"]) {
  <div class="shurushuju flex-column">
    <app-table
      class="flex-110"
      [info]="shuruTable"
      (toolbarButtonClick)="onShuruToolbar($event)"
      (rowButtonClick)="onShuruRow($event)"
    ></app-table>
  </div>
}
