:host {
  padding: 0 10px 10px 10px;
}

.gongshis {
  flex: 1 0 65%;
  ::ng-deep {
    .ng-scroll-content {
      width: 100%;
    }
  }
  .gongshi-card {
    width: 100%;

    .gongshi-name {
      font-size: 1.2em;
    }
  }

  app-text-info {
    flex: 0 0 auto;
    height: auto;
  }
}

.shurushuju {
  flex: 1 0 35%;
}
