:host {
  padding: 5px;
}

.gongshis {
  .gongshi-card {
    width: 100%;

    .gongshi-name {
      font-size: 1.2em;
    }
  }

  .gongshi-items {
    width: 100%;
  }

  .gongshi-item {
    white-space: pre;
  }
}

.test-cases {
  flex: 0 0 30%;
}

.shurushuju {
  flex: 0 0 30%;
}
