@if (info().data["算料公式"]; as slgs) {
  <div class="gongshis flex-column">
    <div class="toolbar">
      <div class="title">算料公式</div>
      <button mat-stroked-button color="primary" (click)="addGongshi()">添加</button>
      <button mat-stroked-button color="primary" (click)="viewAllGonshis()">全部</button>
      <button mat-stroked-button color="primary" (click)="importGonshis()">导入</button>
      <button mat-stroked-button color="primary" (click)="exportGongshis()">导出</button>
    </div>
    @if (noScroll()) {
      <ng-container *ngTemplateOutlet="content"></ng-container>
    } @else {
      <ng-scrollbar>
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </ng-scrollbar>
    }
    <ng-template #content>
      <div class="items no-items-per-row">
        @for (gongshi of slgs; track i; let i = $index) {
          @if (i > 0) {
            <mat-divider></mat-divider>
          }
          <div class="gongshi-card item">
            <div class="toolbar compact">
              <div class="gongshi-name text long">{{ gongshi["名字"] }}</div>
              @if (gongshiInfo().at(i)?.formulas) {
                <button mat-button color="primary" (click)="editGongshiEnd(i, null, true)">关闭编辑</button>
              } @else {
                <button mat-button color="primary" (click)="editGongshiStart(i)">直接编辑</button>
              }
              <button mat-button color="primary" (click)="editGongshi(i)">弹窗编辑</button>
              <button mat-button color="primary" (click)="copyGongshi(i)">复制</button>
              <button mat-button color="primary" (click)="removeGongshi(i)">删除</button>
            </div>
            <div class="gongshi-items">
              @if (gongshiInfo().at(i)?.formulas; as formulas) {
                <app-formulas-editor
                  [formulas]="formulas"
                  [compact]="{minRows: 5}"
                  (formulasChange)="editGongshiEnd(i, $event)"
                ></app-formulas-editor>
              } @else {
                @for (item of gongshi["公式"] | keyvalue: returnZero; track item.key) {
                  <div class="gongshi-item text-ellipsis" [matTooltip]="getGongshiStr(item)">{{ getGongshiStr(item) }}</div>
                }
              }
            </div>
          </div>
        }
      </div>
    </ng-template>
  </div>
}
@if (info().data["输入数据"]) {
  <div class="shurushuju flex-column">
    <app-table
      class="flex-110"
      [info]="shuruTable()"
      (toolbarButtonClick)="onShuruToolbar($event)"
      (rowButtonClick)="onShuruRow($event)"
    ></app-table>
  </div>
}
