<div class="toolbar">
  <div class="title">优化单号：{{ code() }}</div>
  <div class="placeholder"></div>
  <button mat-flat-button (click)="calc()">计算</button>
  <button mat-flat-button (click)="getOptimizeDataCode()">请求数据</button>
  <button mat-flat-button (click)="selectAllBoms()">全选</button>
  <div class="placeholder"></div>
  <button mat-flat-button (click)="setOptimizeData()">按选中加工料优化排产</button>
  <button mat-flat-button (click)="youhuaInfoHidden.set(!youhuaInfoHidden())">{{ youhuaInfoHidden() ? "隐藏" : "显示" }}生产工单</button>
  <!-- <button mat-flat-button  (click)="unsetOptimizeData()">取消优化</button> -->
</div>
<div class="flex-row flex-110 scrollbar-container">
  @if (!youhuaInfoHidden()) {
    <app-print-table [lvxingcaiyouhuaInfo]="youhuaInfo()"></app-print-table>
  }
  <div class="flex-column flex-110 calc-result-container">
    <div class="toolbar">
      <div class="title">优化结果</div>
      @for (info of filterOutputInputInfos(); track $index) {
        <app-input [info]="info"></app-input>
      }
    </div>
    @if (calcResult(); as calcResult) {
      <ng-scrollbar class="enable-x">
        <div class="calc-result item">
          <div class="text">总利用率【{{ calcResult.result["总利用率"] }}】用时【{{ calcResult.duration }}ms】</div>
          <div class="items">
            @for (item of calcResultItems(); track i; let i = $index) {
              <div class="xingcai item border">
                <div class="xingcai-name text toolbar">
                  @for (key of xingcaiDiaplayKeys(); track $index) {
                    <div>{{ key }}【{{ item[key] }}】</div>
                  }
                </div>
                <div class="toolbar">
                  <span>所有型材利用率【{{ item["所有型材利用率"] }}】【{{ item["优化结果"].length }}】根</span>
                  <button mat-icon-button (click)="toggleCalcResultItemShowDetails(i)">
                    @if (item.showDetails) {
                      <mat-icon>expand_circle_down</mat-icon>
                    } @else {
                      <mat-icon>expand_circle_right</mat-icon>
                    }
                  </button>
                </div>
                @if (item.showDetails) {
                  <div class="items">
                    @for (item2 of item["优化结果"]; track j; let j = $index) {
                      <div class="item border">
                        <div class="text toolbar">
                          <div>【{{ j + 1 }}】不含余料利用率【{{ item2["单支型材利用率"] }}】【{{ getTypeStr(item2) }}】</div>
                          <div>{{ getLengthsStr(item2) }}</div>
                          <div>
                            @if (item2["余料可以入库"]) {
                              余料长
                            } @else {
                              废料
                            }
                            ：{{ item2["排料后剩余长度"] }}
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </ng-scrollbar>
    }
  </div>
</div>
