<div class="title">优化单号：{{ code() }}</div>
<div class="toolbar">
  @for (info of filterInputInfos(); track $index) {
    <app-input [info]="info"></app-input>
  }
  <button mat-raised-button color="primary" (click)="calc()">计算</button>
  <button mat-raised-button color="primary" (click)="getOptimizeDataCode()">请求数据</button>
  <button mat-raised-button color="primary" (click)="setOptimizeData()">确定优化</button>
  <!-- <button mat-raised-button color="primary" (click)="unsetOptimizeData()">取消优化</button> -->
</div>
@if (calcResult(); as calcResult) {
  <div class="title">优化结果</div>
  <ng-scrollbar>
    <div class="calc-result item">
      <div class="text">总利用率【{{ calcResult.result["总利用率"] }}】用时【{{ calcResult.duration }}ms】</div>
      <div class="text">(1) 余料计算长度包含45度切角</div>
      <div class="text">(2) 废料，指长度小于余料入库最小长度的加工剩余型材</div>
      <div class="items">
        @for (item of calcResultItems(); track i; let i = $index) {
          <div class="xingcai item border">
            <div class="xingcai-name text toolbar">
              <div>型材【{{ item["型材"] }}】</div>
              <div>余料入库最小长度【{{ item["余料入库最小长度"] }}】</div>
              <div>切断90度损耗【{{ item["切断90度损耗"] }}】</div>
              <div>切断45度损耗【{{ item["切断45度损耗"] }}】</div>
            </div>
            <div class="toolbar">
              <span>所有型材利用率【{{ item["所有型材利用率"] }}】【{{ item["优化结果"].length }}】根</span>
              <button mat-icon-button color="primary" (click)="toggleCalcResultItemShowDetails(i)">
                @if (item.showDetails) {
                  <mat-icon>expand_circle_down</mat-icon>
                } @else {
                  <mat-icon>expand_circle_right</mat-icon>
                }
              </button>
            </div>
            @if (item.showDetails) {
              <div class="items">
                @for (item2 of item["优化结果"]; track j; let j = $index) {
                  <div class="item border">
                    <div class="text toolbar">
                      <div>【{{ j + 1 }}】不含余料利用率【{{ item2["单支型材利用率"] }}】【{{ getTypeStr(item2) }}】</div>
                      <div>{{ getLengthsStr(item2) }}</div>
                      <div>
                        @if (item2["余料可以入库"]) {
                          不计损耗余料长
                        } @else {
                          废料
                        }
                        ：{{ item2["排料后剩余长度"] }}
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>
  </ng-scrollbar>
}
