:host {
  padding: 20px;
}

app-print-table {
  width: auto;
}
.calc-result-container {
  width: 0;
}

.calc-result {
  .items {
    width: 100%;
  }
  .item,
  &.item {
    --border: 1px solid var(--mat-sys-on-surface);
    padding: 5px;
  }

  .xingcai {
    .xingcai-name {
      color: var(--mat-sys-error);
    }
  }
}
