app-table {
  --border: 1px solid black;
  margin-top: 0;
  height: 100%;
}

.tab-content {
  height: 100%;
}

.下单选项输入配置 {
  display: flex;
  > * {
    flex: 1 1 0;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
