<div style="margin: 10px">
  <mat-slide-toggle [checked]="componentsMode" (change)="toggleMultiSelect()">{{ componentsMode ? "多选" : "单选" }}</mat-slide-toggle>
</div>
<ng-scrollbar>
  <div class="section">
    <span class="section-title">主CAD</span>
    <div
      class="cad-image"
      *ngIf="main"
      (contextmenu)="onContextMenu($event, main.data, 'main')"
      [matTooltip]="main.data.name"
      [matTooltipPosition]="'above'"
    >
      <span>
        {{ main.data.name }}
      </span>
      <div class="content">
        <img class="cad-preview" [src]="main.img" />
      </div>
    </div>
  </div>

  <div *ngIf="components.length > 0" class="section">
    <mat-divider></mat-divider>
    <span class="section-title">装配CAD</span>
    <div class="btn-group" [ngSwitch]="isAllComponentsSelected()">
      <button mat-flat-button color="primary" *ngSwitchCase="false" [disabled]="!componentsSelectable" (click)="selectAllComponents()">
        全选
      </button>
      <button mat-flat-button color="primary" *ngSwitchCase="true" [disabled]="!componentsSelectable" (click)="unselectAllComponents()">
        全不选
      </button>
      <button mat-flat-button color="primary" (click)="deleteSelectedComponents()">删除已选</button>
    </div>
    <div class="checkbox-group add-empty-msg">
      <div class="cad-image" *ngFor="let item of components; let i = index">
        <mat-checkbox class="example-margin" [checked]="item.checked" (change)="selectComponent(i)" [disabled]="!componentsSelectable">
          {{ item.data.name }}
        </mat-checkbox>
        <div class="content">
          <img class="cad-preview" [src]="item.img" (click)="selectComponent(i)" />
        </div>
      </div>
    </div>
  </div>
</ng-scrollbar>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <ng-container *ngIf="contextMenuCad?.field === 'main'">
      <button mat-menu-item (click)="editComponents()">选择装配CAD</button>
      <mat-divider></mat-divider>
    </ng-container>
    <button mat-menu-item (click)="downloadDxf()">下载dxf文件</button>
    <button mat-menu-item [matMenuTriggerFor]="uploadMenu">上传dxf文件</button>
    <mat-menu #uploadMenu="matMenu">
      <button mat-menu-item (click)="uploadDxf(false, false)">替换</button>
      <button mat-menu-item (click)="uploadDxf(true, false)">添加</button>
      <button mat-menu-item (click)="uploadDxf(false, true)">替换主CAD</button>
    </mat-menu>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="getJson()">复制json数据</button>
    <button mat-menu-item (click)="setJson()">粘贴json数据</button>
    <button mat-menu-item (click)="downloadJson()">下载json文件</button>
    <button mat-menu-item (click)="editJson()">修改json数据</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="replaceData()">替换数据</button>
  </ng-template>
</mat-menu>
<input #dxfInut type="file" accept=".dxf" hidden (change)="onDxfInutChange($event)" />
