:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  flex: 1 1 0;
}

.section {
  display: flex;
  flex-direction: column;
  padding-right: 5px;

  .section-title {
    padding: 5px;
  }
}

button {
  min-width: unset !important;
  padding: 0 8px;
}

.cad-image {
  margin: 10px 0;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.3);
  text-align: center;

  .title {
    line-height: 1.5rem;
    font-size: 1rem;
  }

  .content {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    &:hover {
      transform: scale(1.01);
    }
  }

  &.active {
    .title {
      background-color: red;
    }
  }
}

.mat-expansion-panel {
  .btn-group {
    margin: 0;
  }
}
