<div style="margin: 10px">
  <mat-slide-toggle [checked]="componentsMode" (change)="toggleMultiSelect()">{{ componentsMode ? "多选" : "单选" }}</mat-slide-toggle>
</div>
<ng-scrollbar>
  <div class="section">
    <span class="section-title">主CAD</span>
    @if (main) {
      <div
        class="cad-image"
        [appContextMenuTrigger]="contextMenu"
        (contextMenu)="onContextMenu(main.data, 'main')"
        [matTooltip]="main.data.name"
        [matTooltipPosition]="'above'"
      >
        <span>
          {{ main.data.name }}
        </span>
        <div class="content">
          <app-cad-image [id]="main.data.id" [collection]="collection" [data]="main.data"></app-cad-image>
        </div>
      </div>
      @if (main.data.info.fromCad) {
        <div class="cad-image" [matTooltip]="main.data.info.fromCad.name" [matTooltipPosition]="'above'">
          <span>
            {{ main.data.info.fromCad.name }}
          </span>
          <div class="content">
            <app-cad-image [id]="main.data.info.fromCad.imgId" [isImgId]="true"></app-cad-image>
          </div>
        </div>
      }
    }
  </div>

  @if (components.length > 0) {
    <div class="section">
      <mat-divider></mat-divider>
      <span class="section-title">装配CAD</span>
      <div class="btn-group">
        @if (isAllComponentsSelected()) {
          <button mat-flat-button color="primary" [disabled]="!componentsSelectable" (click)="selectAllComponents()">全选</button>
        } @else {
          <button mat-flat-button color="primary" [disabled]="!componentsSelectable" (click)="unselectAllComponents()">全不选</button>
        }
        <button mat-flat-button color="primary" (click)="deleteSelectedComponents()">删除已选</button>
      </div>
      <div class="checkbox-group add-empty-msg">
        @for (item of components; track i; let i = $index) {
          <div class="cad-image">
            <mat-checkbox class="example-margin" [checked]="item.checked" (change)="selectComponent(i)" [disabled]="!componentsSelectable">
              {{ item.data.name }}
            </mat-checkbox>
            <div class="content">
              <app-cad-image [id]="item.data.id" [data]="item.data" (click)="selectComponent(i)"></app-cad-image>
            </div>
          </div>
        }
      </div>
    </div>
  }
</ng-scrollbar>

<app-context-menu #contextMenu>
  @if (contextMenuCad?.field === "main") {
    <button mat-menu-item (click)="editComponents()">选择装配CAD</button>
    <mat-divider></mat-divider>
  }
  <button mat-menu-item (click)="downloadDxf()">下载dxf文件</button>
  <button mat-menu-item [matMenuTriggerFor]="uploadMenu">上传dxf文件</button>
  <mat-menu #uploadMenu="matMenu">
    <button mat-menu-item (click)="uploadDxf(false, false)">替换</button>
    <button mat-menu-item (click)="uploadDxf(true, false)">添加</button>
    <button mat-menu-item (click)="uploadDxf(false, true)">替换主CAD</button>
  </mat-menu>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="getJson()">复制json数据</button>
  <button mat-menu-item (click)="setJson()">粘贴json数据</button>
  <button mat-menu-item (click)="downloadJson()">下载json文件</button>
  <button mat-menu-item (click)="editJson()">修改json数据</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="replaceData()">替换数据</button>
</app-context-menu>
<input #dxfInut type="file" accept=".dxf" hidden (change)="onDxfInutChange($event)" />
