<div class="toolbar">
  <div class="flex-110"></div>
  <button mat-raised-button color="primary" (click)="copySuanliaoCads()">从其他做法复制</button>
  <button mat-raised-button color="primary" (click)="selectSuanliaoCads()">从配件库选择</button>
  <button mat-raised-button color="primary" (click)="suanliaoTest()">算料测试</button>
  <button mat-raised-button color="primary" (click)="submit()">提交并关闭</button>
</div>
<div class="flex-110 flex-row">
  <app-suanliaogongshi class="suanliaogongshis" [info]="openCadOptions.suanliaogongshiInfo"></app-suanliaogongshi>
  <mat-divider vertical></mat-divider>
  <ng-scrollbar class="flex-110" track="all">
    <div class="cads flex-row">
      @for (cad of suanliaoData["算料CAD"]; track i; let i = $index) {
        <app-cad-item
          [cad]="cad"
          [buttons]="cadItemButtons"
          [mubanExtraData]="mubanExtraData"
          [openCadOptions]="openCadOptions"
          [customInfo]="{index: i}"
          [noMuban]="!data.isKailiao"
        ></app-cad-item>
      }
    </div>
  </ng-scrollbar>
  <mat-divider vertical></mat-divider>
  @if (data.isKailiao) {
    <app-suanliao-tables [suanliaoDataParams]="data.suanliaoDataParams"></app-suanliao-tables>
  }
</div>
