<div class="flex-110 flex-row">
  <app-suanliaogongshi class="suanliaogongshis" [info]="suanliaogongshiInfo"></app-suanliaogongshi>
  <mat-divider vertical></mat-divider>
  <div class="suanliaocads flex-column">
    <div class="toolbar">
      <div class="flex-110"></div>
      <button mat-raised-button color="primary" (click)="copySuanliaoCads()">从其它做法复制</button>
      <button mat-raised-button color="primary" (click)="selectSuanliaoCads()">从配件库选择</button>
      <button mat-raised-button color="primary" (click)="suanliao()">计算</button>
      <button mat-raised-button color="primary" (click)="submit()">提交</button>
      <button mat-raised-button color="primary" (click)="cancel()">关闭</button>
    </div>
    <div class="flex-row flex-110">
      <ng-scrollbar class="flex-110" track="all">
        <div class="cads flex-row">
          @for (cad of suanliaoData["算料CAD"]; track i; let i = $index) {
            <app-cad-item
              [cad]="cad"
              [buttons]="cadItemButtons"
              [mubanExtraData]="mubanExtraData"
              [suanliaogongshiInfo]="suanliaogongshiInfo"
              [customInfo]="{index: i}"
            ></app-cad-item>
          }
        </div>
      </ng-scrollbar>
      <app-suanliao-tables style="width: 30%" [suanliaoDataParams]="data.suanliaoDataParams"></app-suanliao-tables>
    </div>
  </div>
</div>
