<div class="toolbar">
  <div class="flex-110"></div>
  <button mat-raised-button color="primary" (click)="editBcfz()">板材分组</button>
  <button mat-raised-button color="primary" (click)="copySuanliaoCads()">从其他做法复制</button>
  <button mat-raised-button color="primary" (click)="selectSuanliaoCads()">从配件库选择</button>
  <button mat-raised-button color="primary" (click)="suanliaoTest()">算料测试</button>
  <mat-divider vertical class="placeholder large"></mat-divider>
  <button mat-raised-button color="primary" (click)="submitMenjiao()">保存</button>
  <button mat-raised-button color="primary" (click)="submit()">提交并关闭</button>
</div>
<div class="flex-110 flex-row">
  @if (showMenuLeft()) {
    <div class="menu">
      <app-suanliaogongshi class="suanliaogongshis" [info]="openCadOptions.suanliaogongshiInfo"></app-suanliaogongshi>
      <div class="toolbar">
        <button mat-mini-fab color="primary" (click)="showMenuLeft.set(false)"><mat-icon>navigate_before</mat-icon></button>
      </div>
    </div>
  }
  <mat-divider vertical></mat-divider>
  <div class="flex-column flex-110 scrollbar-container">
    <div class="toolbar">
      @if (!showMenuLeft()) {
        <button mat-mini-fab color="primary" (click)="showMenuLeft.set(true)"><mat-icon>navigate_next</mat-icon></button>
      }
      <app-input style="width: 0; flex: 0 1 180px" [info]="suanliaoCadsSearch"></app-input>
      <button mat-raised-button [color]="isSuanliaoCadReversed ? 'accent' : 'primary'" (click)="isSuanliaoCadReversed = true">升序</button>
      <button mat-raised-button [color]="isSuanliaoCadReversed ? 'primary' : 'accent'" (click)="isSuanliaoCadReversed = false">降序</button>
      <div class="flex-110"></div>
      @if (!showMenuRight()) {
        <button mat-mini-fab color="primary" (click)="showMenuRight.set(true)"><mat-icon>navigate_before</mat-icon></button>
      }
    </div>
    <ng-scrollbar #cadsScrollbar class="enable-x">
      <div class="cads flex-row">
        @for (cad of getSuanliaoCads(); track i; let i = $index) {
          <app-cad-item
            [cad]="cad"
            [buttons]="cadItemButtons"
            [yaoqiu]="cadShujuyaoqiu"
            [mubanExtraData]="mubanExtraData"
            [openCadOptions]="openCadOptions"
            [customInfo]="{index: getSuanliaoCadIndex(i)}"
            [showMuban]="data.isKailiao"
            [validators]="{zhankai: true}"
            [class.hidden]="hiddenSuanliaoCads.includes(getSuanliaoCadIndex(i))"
          ></app-cad-item>
        }
      </div>
    </ng-scrollbar>
  </div>
  <mat-divider vertical></mat-divider>
  @if (data.isKailiao && showMenuRight()) {
    <div class="menu">
      <div class="toolbar">
        <button mat-mini-fab color="primary" (click)="showMenuRight.set(false)"><mat-icon>navigate_next</mat-icon></button>
      </div>
      <app-suanliao-tables [suanliaoDataParams]="data.suanliaoDataParams"></app-suanliao-tables>
    </div>
  }
</div>
