.suanliaogongshis {
  width: 425px;
}

.cads {
  flex-wrap: wrap;
}

.menu {
  display: flex;
  align-items: flex-start;
  --mat-outlined-button-icon-offset: 0;
  --mat-outlined-button-icon-spacing: 0;
  --title-padding: 0 0.5em;
}

.toolbar.at-top {
  height: 100%;
  align-items: flex-start;
}
