<div class="pages flex-column">
  @for (order of orders(); track i; let i = $index) {
    <div [class]="['page', 'flex-row', type()]" [style]="order.style">
      @if (order.info) {
        <div class="info">
          @for (section of order.info; track $index) {
            <div class="section">
              @for (row of sectionConfig().rows; track $index) {
                <div class="row">
                  @for (cell of row.cells; track $index) {
                    <div class="cell border" [class]="cell.class" [class.is-boolean]="cell.isBoolean" [class.auto-width]="cell.autoWidth">
                      @if (getLabel(cell); as label) {
                        <div class="label center" [style]="cell.labelStyle">{{ label }}</div>
                      }
                      @if (getValue(section, cell); as value) {
                        <div class="value center" [style]="cell.valueStyle">{{ value }}</div>
                      }
                    </div>
                  }
                </div>
              }
              <div class="row flex-row">
                <div class="cell">
                  <svg #barcode class="barcode value" height="40" [attr.jsbarcode-value]="order.code" [attr.jsbarcode-height]="40"></svg>
                </div>
                <div class="cell" style="flex: 0 0 auto">
                  <div class="value">{{ section["制单工号"] || section["制单"] }}</div>
                </div>
              </div>
              <div class="order-info border-bottom">
                <div class="flex-column" style="width: 200px">
                  <div class="cell">
                    <div class="value center">宽×高×厚</div>
                  </div>
                  <div class="cell">
                    <div class="label">外尺&nbsp;</div>
                    <div class="value border-bottom">{{ section["包框规格"] }}</div>
                  </div>
                  <div class="cell">
                    <div class="label">外门板</div>
                    <div class="value border-bottom">{{ section["订货单门扇信息"] }}</div>
                  </div>
                  <div class="cell">
                    <div class="label">内门板</div>
                    <div class="value border-bottom">{{ section["套门门扇信息"] }}</div>
                  </div>
                  <div class="cell">
                    <div class="label">门花&nbsp;</div>
                    <div class="value border-bottom">{{ section["花件尺寸"] }}</div>
                  </div>
                  <div class="cell">
                    <div class="label">门头花</div>
                    <div class="value">{{ section["门头花尺寸"] }}</div>
                  </div>
                </div>
                <div class="flex-column flex-110">
                  <div class="cell">
                    <div class="value">特别要求：<br />{{ section["其他备注"] }}</div>
                  </div>
                </div>
              </div>
              <div class="示意图" #shiyitusContainer>
                @for (shiyitu of order.shiyitus; track $index) {
                  <div [class]="shiyitu.name" class="shiyitu-container">
                    @for (cadInfo of shiyitu.cads; track $index) {
                      <div class="shiyitu-inner" [style]="cadInfo.style">
                        <app-image [src]="cadInfo.img" [bigPicSrc]="cadInfo.imgLarge"></app-image>
                      </div>
                    }
                  </div>
                }
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="flex-row flex-110">
          @if (type() === "配件模块" && order.mokuaiInfo) {
            <div class="配件模块 flex-column out-of-page">
              @for (info of order.mokuaiInfo.details; track $index) {
                <div>
                  @if (info.title) {
                    <span>{{ info.title }}：</span>
                  }
                  @if (isMokuaiVersion2024(order)) {
                    <span style="text-decoration: underline; cursor: pointer" (click)="openMokuai(order)">{{ info.value }}</span>
                  } @else {
                    <span>{{ info.value }}</span>
                  }
                </div>
              }
              <div class="flex-110 flex-row">
                <div class="flex-colummn">
                  @for (info of order.mokuaiInfo.formulaInfos; track j; let j = $index) {
                    <div class="formula-infos">
                      @if (j > 0) {
                        <mat-divider></mat-divider>
                      }
                      <div class="title flex-row">
                        <span>{{ info.title }}</span>
                        @if (info.title === "测试数据") {
                          <button
                            class="no-print"
                            mat-flat-button
                            [class.accent]="!calcResults().at(order.mokuaiInfo.index)?.fulfilled"
                            (click)="editMokuaiFormulas(order.mokuaiInfo.index)"
                          >
                            编辑
                          </button>
                        }
                      </div>
                      <app-formulas [formulaInfos]="info.infos" [keyStyles]="{color: 'var(--mat-sys-on-surface)'}"></app-formulas>
                    </div>
                  }
                </div>
                <div class="image-container flex-column">
                  <app-image [src]="mokuais()[order.mokuaiInfo.index].xiaoguotu" [prefix]="urlPrefix()"></app-image>
                </div>
              </div>
            </div>
          }
          <div #cadsEls class="cads flex-110 flex-row">
            @for (cad of order.cads; track $index) {
              <div class="cad flex-column" [class.large]="cad.isLarge" [style]="cad.style">
                <div class="cad-tags flex-column">
                  @for (item of cad.data.info["标签信息"]; track $index) {
                    <div [style]="isArray(item) ? item[1] : {}">
                      {{ isArray(item) ? item[0] : item }}
                    </div>
                  }
                </div>
                @if (config().showBarcode) {
                  <div>
                    <svg #barcode class="barcode" [attr.jsbarcode-value]="cad.data.info.groupId"></svg>
                  </div>
                }
                <div class="cad-image flex-110 flex-column" [style]="cad.imgStyle">
                  <div class="cad-image-inner">
                    <app-image class="img" [src]="cad.img" [bigPicSrc]="cad.imgLarge"></app-image>
                  </div>
                </div>
                <div class="cad-info flex-column">
                  @for (zhankai of cad.zhankai; track $index) {
                    <div class="cad-size flex-row">
                      @if (isLvxingcai()) {
                        <span>长{{ zhankai.height }}mm</span>
                      } @else {
                        @if (cad.zhankaiDisplayInfos?.[$index]; as info) {
                          @if (info.kuan) {
                            <span class="highlight">{{ zhankai.width }}</span>
                          }
                          @if (info.sign) {
                            <span class="sign">×</span>
                          }
                          @if (info.gao) {
                            <span>{{ zhankai.height }}</span>
                          }
                          @if (info.num) {
                            <span class="sign">=</span>
                            <span>{{ zhankai.num }}</span>
                          }
                        }
                      }
                    </div>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
</div>

<ng-template #formTitle [appTypedTemplate]="formTitleTplType" let-title>
  @if (typeof title === "string") {
    <div class="title">{{ title }}</div>
  } @else if (title) {
    <div class="title" [style]="title.style">{{ title.content }}</div>
  }
</ng-template>

<div class="forms">
  @for (form of forms(); track $index) {
    <div class="form flex-column" [class]="type()" [style]="getFormStyle(form)">
      @if (form.title && !form.isTitleInner) {
        <ng-container *ngTemplateOutlet="formTitle; context: {$implicit: form.title}"></ng-container>
      }
      <div class="form-inner flex-110">
        @if (form.title && form.isTitleInner) {
          <ng-container *ngTemplateOutlet="formTitle; context: {$implicit: form.title}"></ng-container>
        }
        <ng-template *ngTemplateOutlet="formTpl; context: {$implicit: form}"></ng-template>
        @if (form.barCode) {
          <div class="barcode-container">
            <svg #barcode class="barcode value" [attr.jsbarcode-value]="form.barCode"></svg>
          </div>
        }
      </div>
      @if (form.footer?.content; as content) {
        <div class="footer" [style]="form.footer?.style">
          <span>{{ content }}</span>
        </div>
      }
    </div>
  }
</div>

<ng-template #formTpl let-form [appTypedTemplate]="{$implicit: forms()[0]}">
  @for (row of form.rows; track $index) {
    @if (isArray(row)) {
      <div class="row" [class.row-border]="!!form.rowBorder">
        @for (item of row; track $index) {
          <ng-container *ngTemplateOutlet="formItemTpl; context: {$implicit: item}"></ng-container>
        }
      </div>
    } @else {
      <div class="row" [class.row-border]="!!form.rowBorder" [style]="row.style">
        @for (item of row.items; track $index) {
          <ng-container *ngTemplateOutlet="formItemTpl; context: {$implicit: item}"></ng-container>
        }
      </div>
    }
  }
</ng-template>
<ng-template #formItemTpl let-item [appTypedTemplate]="formItemTplType">
  <div class="item" [style]="item.style">
    <div class="label" [style]="item.labelStyle">{{ item.label }}</div>
    <div class="value" [style]="item.valueStyle">
      @switch (item.type) {
        @case ("image") {
          <app-image [src]="item.value" [prefix]="remoteFilePath"></app-image>
        }
        @default {
          <span>{{ item.value }}</span>
        }
      }
    </div>
  </div>
</ng-template>

<div class="toolbar toolbar no-print">
  @if (type() === "配件模块") {
    <button mat-flat-button (click)="calcMokuais()">计算</button>
  }
  <button mat-flat-button (click)="print()">打印</button>
  @if (!production) {
    <button mat-flat-button (click)="clearHttpCache()">clearHttpCache</button>
    @for (info of configInputInfos(); track $index) {
      <app-input [info]="info"></app-input>
    }
  }
</div>
