:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  background-color: #dddddd;
}
@media print {
  :host {
    overflow: visible;
    height: auto;
    background-color: transparent;
  }
}

.toolbar {
  position: fixed;
  left: 1137px;
  top: 60px;
}
@media screen and (max-width: 1260px) {
  .toolbar {
    left: unset;
    right: 0;
  }
}

.page {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  border: var(--border);
  background-color: white;

  :not(.out-of-page) {
    font-family: "宋体";
    overflow: hidden;
  }
}
@media print {
  .page {
    margin: 0;
    border: 0;
  }
}

$cads-border: solid 1px grey;
.cads {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
  position: relative;

  .menu {
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(calc(100% + 10px));
  }

  .cad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: none;
    // border: $cads-border;
    position: absolute;

    .menu {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      margin: 0;
    }

    .img {
      cursor: pointer;
      width: 100%;
      height: 100%;
    }

    .cad-size {
      height: 25px;
      line-height: 25px;

      > .highlight {
        border: $cads-border;
        padding: 0 10px;
        background-color: #e5e5e5;
      }

      .sign {
        font-size: 25px;
      }
    }

    .cad-tags {
      width: 100%;
    }

    .cad-image {
      width: 100%;
      justify-content: center;

      .cad-image-inner {
        position: relative;
        height: 100%;
      }

      .排版编号 {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .barcode {
      width: 100%;
    }
  }

  .ceshishuju {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

$info-border: solid 1px black;
.info {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .section {
    display: flex;
    flex-direction: column;
    border: $info-border;
    flex: 1 1 0;
    height: 100%;
    &:not(:last-child) {
      margin-right: 5px;
    }

    .row {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        border-bottom: $info-border;
      }

      .cell {
        display: flex;
        flex: 1 1 0;
        height: 100%;
        &.border {
          &:not(:last-child) {
            border-right: $info-border;
          }
          .label {
            border-right: $info-border;
          }
        }

        .label,
        .value {
          word-break: break-word;
          padding: 3px;
          display: flex;
          align-items: center;
          &.center {
            justify-content: center;
          }
        }
        .value {
          flex: 1 1 0;
        }

        &.alt {
          .value {
            font-weight: bold;
            font-size: 18px;
          }
        }
        &.text-left {
          .value {
            justify-content: flex-start;
          }
        }
      }
    }

    .示意图 {
      display: flex;

      > * {
        display: flex;
        flex-direction: column;

        app-image {
          height: 100%;
        }
      }
      .开启锁向示意图 {
        align-items: flex-start;
        padding-left: 5px;
      }
      .配合框-group {
        justify-content: flex-end;
        padding-bottom: 10px;
        .配合框 {
          display: flex;
          justify-content: flex-end;
          padding-right: 5px;

          .name {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
.info-border-left {
  border-left: $info-border;
}
.info-border-right {
  border-right: $info-border;
  flex: 0 0 200px;
}
.info-border-top {
  border-top: $info-border;
}
.info-border-bottom {
  border-bottom: $info-border;
}

.配件模块 {
  --title-size: 1.2em;
  --title-padding: 3px 0;
  .title {
    align-items: center;
  }

  .image-container {
    width: 150px;
    justify-content: flex-start;
    padding: 0 5px;
    box-sizing: border-box;
  }
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  --form-space: 10px;
  padding: var(--form-space);
  box-sizing: border-box;
}
.form {
  flex: 0 0 auto;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  --label-width: auto;
  --label-height: 16px;
  --value-height: 17px;
  &:not(:last-child) {
    margin-bottom: var(--form-space);
    page-break-after: always;
  }

  .form-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .title {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    padding: 6px;
  }

  .row {
    display: flex;
    width: 100%;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 0;
    --border: 1px solid black;

    > * {
      margin: 0;
      padding: 5px 0;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .label {
      flex: 0 0 var(--label-width);
      font-size: var(--label-height);
      line-height: var(--label-height);
    }

    .value {
      font-size: var(--value-height);
      line-height: var(--value-height);
      width: 0;
      flex: 1 1 0;
    }
  }

  .barcode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    overflow: hidden;
  }
}
@media print {
  .forms {
    align-items: flex-start;
    --form-space: 0;
  }
  .form {
    box-shadow: none;
    margin-bottom: 0;
  }
}

.质检标签 {
  width: 59mm;
  height: 99mm;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  --label-width: 45px;

  .item {
    border-bottom: 1px solid black;

    .value {
      font-weight: bold;
    }
  }
}

.合格证 {
  width: 9.5cm;
  height: 12.5cm;
  padding: 0.2cm 0 0.2cm 5cm;
  --label-width: 84px;
  --label-height: 18px;
  --value-height: 22px;

  .form-inner {
    border: var(--border);
    border-right: none;
    padding: 10px 2px 2px 2px;
    box-sizing: border-box;
  }

  .item {
    > * {
      padding: 7px 0;
    }
    .label {
      &:empty {
        display: none;
      }
      &:not(:empty) {
        &::after {
          content: ":";
        }
      }
    }
  }
}

.流程指令卡 {
  width: 122mm;
  height: 165mm;
  padding: 10mm 8mm 5mm 8mm;
  box-sizing: border-box;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  --label-height: 15px;
  --value-height: 15px;
  --label-width: 70px;
  --border: 1px solid black;

  .title {
    padding: 0 0 2px 0;
    font-size: 15px;
    line-height: 15px;
  }

  .form-inner {
    border: var(--border);
    flex: 1 1 0;
  }

  .row {
    flex: 1 1 0;
    &:not(:last-child) {
      border-bottom: var(--border);
    }
  }

  .item {
    &:not(:last-child) {
      border-right: var(--border);
    }

    .label,
    .value {
      padding: 2px;
    }
    .label {
      border-right: var(--border);
    }
  }
}

.mat-mdc-card {
  box-shadow:
    0px 2px 6px -1px rgb(0 0 0 / 20%),
    0px 1px 6px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.matt-mdc-card-header {
  width: 100%;
}
.mat-mdc-card-footer {
  margin: 0;
  font-size: 34px;
  line-height: 34px;
}

.footer {
  text-align: center;
  // position: absolute;
  // left: 0;
  // bottom: -5px;
}
