:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.changelog {
  display: flex;
  flex-direction: column;
}

.title,
.content {
  display: flex;
}
.title {
  align-items: center;
}

.content-type {
  width: 30%;
  margin-right: 10px;
}
.content-text {
  width: 70%;
}

:host ::ng-deep .mat-paginator-container {
  justify-content: center !important;
}
