<ng-scrollbar style="flex-basis: auto">
  @for (group of componentMenuInputs(); track $index) {
    <ng-template #inputs>
      @for (info of group.infos; track $index) {
        <app-input [info]="info"></app-input>
      }
    </ng-template>
    @if (group.name) {
      <mat-expansion-panel [expanded]="group.expanded" (expandedChange)="onExpandedChange(group, $event)">
        <mat-expansion-panel-header>{{ group.name }}</mat-expansion-panel-header>
        <ng-container *ngTemplateOutlet="inputs"></ng-container>
      </mat-expansion-panel>
    } @else {
      <ng-container *ngTemplateOutlet="inputs"></ng-container>
    }
  }
</ng-scrollbar>
