<div class="btn-group">
  <div class="toolbar flex-110" [ngSwitch]="step">
    <ng-container *ngSwitchCase="1">
      <button mat-raised-button color="primary" (click)="addXinghao()">新建型号</button>
      <app-input class="flex-110" [info]="filterInputInfo"></app-input>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <div class="name title">型号：{{ xinghaoName }}</div>
    </ng-container>
    <ng-container *ngSwitchCase="3">
      <div class="name title">型号：{{ xinghaoName }}</div>
      <div class="name title">产品分类：{{ fenleiName }}</div>
      <div class="name title">工艺做法：{{ gongyiName }}</div>
    </ng-container>
  </div>
  <button mat-raised-button color="primary" (click)="back()">返回</button>
</div>
<ng-container [ngSwitch]="step">
  <ng-scrollbar class="step-1" *ngSwitchCase="1">
    <div class="items">
      <ng-container *ngFor="let xinghao of xinghaos">
        <div *ngIf="!xinghao.hidden" class="item" (click)="editXinghao(xinghao)">
          <app-image [src]="xinghao.tupian" fit="contain"></app-image>
          <div class="name" [matTooltip]="xinghao.mingzi">{{ xinghao.mingzi }}</div>
        </div>
      </ng-container>
    </div>
  </ng-scrollbar>
  <div *ngSwitchCase="2" class="step-2 flex-column flex-110">
    <div class="toolbar">
      <app-input class="flex-110" *ngFor="let info of xinghaoInputInfos" [info]="info"></app-input>
    </div>
    <ng-scrollbar>
      <div class="items" *ngIf="xinghao">
        <ng-container *ngFor="let fenlei of xinghao['显示产品分类']; let i = index">
          <mat-divider *ngIf="i > 0"></mat-divider>
          <div class="产品分类 item">
            <div class="header">
              <div class="name">{{ fenlei }}</div>
            </div>
            <div class="工艺做法 items">
              <div class="item" *ngFor="let gongyi of xinghao['产品分类'][fenlei]">
                <div class="name" (click)="editGongyi2(fenlei, gongyi['名字'])">{{ gongyi["名字"] }}</div>
                <div class="toolbar center">
                  <button mat-button color="primary" (click)="editGongyi(fenlei, gongyi['名字'])">编辑</button>
                  <button mat-button color="primary" (click)="copyGongyi(fenlei, gongyi['名字'])">复制</button>
                  <button mat-button color="primary" (click)="removeGongyi(fenlei, gongyi['名字'])">删除</button>
                </div>
                <app-image [src]="getGongyiImageUrl(gongyi['图片'])" fit="contain" (click)="editGongyi2(fenlei, gongyi['名字'])">
                  <div slot="error" class="image-error" (click)="editGongyi2(fenlei, gongyi['名字'])"></div>
                </app-image>
                <div class="text">停用：{{ getBooleanStr(gongyi["停用"]) }}</div>
                <div class="text">录入完成：{{ getBooleanStr(gongyi["录入完成"]) }}</div>
              </div>
              <div class="item border" (click)="addGongyi(fenlei)">
                <div class="toolbar center flex-110">
                  <button mat-icon-button color="primary"><mat-icon>add</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-scrollbar>
  </div>
  <mat-tab-group
    *ngSwitchCase="3"
    class="step-3"
    mat-stretch-tabs="false"
    [selectedIndex]="tabIndex"
    (selectedTabChange)="onSelectedTabChange($event)"
  >
    <mat-tab label="下单选项输入配置">
      <div class="tab-content items 下单选项输入配置">
        <app-table
          class="item"
          [info]="xuanxiangTable"
          (toolbarButtonClick)="onXuanxiangToolbar($event)"
          (rowButtonClick)="onXuanxiangRow($event)"
        ></app-table>
        <app-table
          class="item"
          [info]="shuruTable"
          (toolbarButtonClick)="onShuruToolbar($event)"
          (rowButtonClick)="onShuruRow($event)"
        ></app-table>
      </div>
    </mat-tab>
    <mat-tab label="门铰锁边铰边">
      <app-table [info]="menjiaoTable" (toolbarButtonClick)="onMenjiaoToolbar($event)" (rowButtonClick)="onMenjiaoRow($event)"></app-table>
    </mat-tab>
    <mat-tab label="算料公式CAD配置">
      <div class="tab-content flex-row">
        <div class="suanliaogongshis flex-column">
          <div class="gongshis">
            <div class="toolbar">
              <div>算料公式</div>
              <button mat-raised-button color="primary" (click)="editGongshis()">编辑</button>
              <button mat-raised-button color="primary" (click)="getGongshis()">刷新</button>
            </div>
            <ng-scrollbar>
              <div class="items">
                <mat-card class="gongshi-card item" *ngFor="let gongshi of gongyi?.['算料公式']; let i = index">
                  <mat-card-header>
                    <div class="flex-110">{{ gongshi["名字"] }}</div>
                    <button mat-button color="primary" (click)="editGongshis(i)">编辑</button>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="gongshi-item flex-row" *ngFor="let item of gongshi['公式'] | keyvalue">
                      <span>{{ item.key }}</span>
                      <span>=</span>
                      <span>{{ item.value }}</span>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </ng-scrollbar>
          </div>
          <div class="test-cases">
            <div class="toolbar">
              <div>测试数据</div>
              <button mat-raised-button color="primary" (click)="addTestCase()">添加</button>
            </div>
            <ng-scrollbar>
              <div class="items">
                <mat-card class="test-case-card item" *ngFor="let testCase of gongyi?.['测试用例']">
                  <div class="toolbar">
                    <div class="text short">{{ testCase["名字"] }}</div>
                    <div class="text long" [matTooltip]="getTimeStr(testCase['时间'])">{{ getTimeStr(testCase["时间"]) }}</div>
                    <button mat-button color="primary">编辑</button>
                    <button mat-button color="primary">复制</button>
                    <button mat-button color="primary">删除</button>
                  </div>
                </mat-card>
              </div>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
