<div class="toolbar" #toolbar>
  @for (btn of toolbarBtns(); track $index) {
    @if (!btn.hidden) {
      @if (btn.name) {
        @if (btn.type === "text") {
          <div [class]="btn.class" [style]="btn.style">{{ btn.name }}</div>
        } @else {
          <button mat-flat-button [class]="btn.class" [style]="btn.style" [class.accent]="btn.color" (click)="onToolbarBtnClick(btn)">
            {{ btn.name }}
          </button>
        }
      } @else {
        <mat-divider vertical class="placeholder large" [class]="btn.class" [style]="btn.style"></mat-divider>
      }
    }
  }
  <button mat-flat-button [matMenuTriggerFor]="links">更多</button>
  <mat-menu #links="matMenu">
    <button mat-menu-item (click)="showChangelog()"><app-about appClickStop></app-about></button>
    <ng-scrollbar>
      @for (btn of moreBtns(); track $index) {
        <button mat-menu-item (click)="btn.onClick()">{{ btn.name }}</button>
      }
    </ng-scrollbar>
  </mat-menu>
</div>

<div class="flex-110 flex-row" style="height: 0">
  <div class="lrsj-left">
    <app-lurushuju-nav></app-lurushuju-nav>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="lrsj-right">
    <app-lrsj-xinghaos class="lrsj-piece" [class.hidden]="!pieceInfos().xinghaos.show"></app-lrsj-xinghaos>
    <app-lrsj-zuofas class="lrsj-piece" [class.hidden]="!pieceInfos().zuofas.show"></app-lrsj-zuofas>
    <app-lrsj-suanliao-data class="lrsj-piece" [class.hidden]="!pieceInfos().suanliaoData.show"></app-lrsj-suanliao-data>
    <app-lrsj-suanliao-cads class="lrsj-piece" [class.hidden]="!pieceInfos().suanliaoCads.show"></app-lrsj-suanliao-cads>
  </div>
</div>

<app-floating-dialog-trays #trays [limits]="{top: toolbar, bottom: trays.traysEl().nativeElement}"></app-floating-dialog-trays>
