:host {
  padding: 10px;
  --title-size: 1.2em;
}

.lrsj-piece {
  display: flex;
  --menchuang-name-bg: rgb(237, 191, 95);
  --gongyi-name-bg: lightgray;

  ::ng-deep {
    .lrsj-left {
      min-width: 180px;
      display: flex;
      flex-direction: column;
    }
    .lrsj-right {
      flex: 1 1 0;
    }
  }
}
