<div matDialogTitle>分组：【{{ data.key }}】</div>
<app-bancai-form [data]="data.data" [bancaiList]="data.bancaiList" [xinghao]="data.xinghao" [key]="data.key"></app-bancai-form>
<div matDialogActions>
  @if (!prod) {
    <button mat-raised-button color="primary" (click)="selectRandom()">rand</button>
    <button mat-raised-button color="primary" (click)="selectFirst()">first</button>
  }
  <button mat-raised-button color="primary" (click)="submit()">确定</button>
  <button mat-raised-button color="primary" (click)="cancel()">取消</button>
</div>
