<div class="title">门扇布局配置</div>
<div class="content flex-row flex-110">
  <div class="rect-container flex-column">
    <div class="rect-area flex-column">
      <div class="btn-group">
        <button mat-raised-button color="primary" (click)="submit()">提交</button>
        @if (!production) {
          <button mat-raised-button color="primary" (click)="generateRects({resetColors: true})">重新生成矩形</button>
          <!-- <div>颜色范围</div>
          <div class="flex-row" style="height: 64px; align-items: flex-end">
            <mat-slider [min]="0" [max]="255" discrete style="width: 300px">
              <input [(ngModel)]="rgbMin" matSliderStartThumb />
              <input [(ngModel)]="rgbMax" matSliderEndThumb />
            </mat-slider>
          </div> -->
        }
      </div>
      <app-msbj-rects [rectInfos]="msbjInfo?.peizhishuju?.['模块节点']" (selectRect)="setCurrRectInfo($event)"></app-msbj-rects>
    </div>
    <div class="flex-110" (click)="setCurrRectInfo(null)">
      <div class="title center">{{ msbjInfo?.name }}</div>
    </div>
  </div>
  <div class="fenlei-container flex-column flex-110" cdkDropListGroup>
    <app-input [info]="nameInputInfo"></app-input>
    <div class="daxiaoguanxi flex-column">
      <div class="btn-group">
        <div class="title">模块大小关系</div>
        <button mat-raised-button color="primary" (click)="editMokuaidaxiao()">编辑</button>
      </div>
    </div>
    <ng-scrollbar>
      <div class="cads flex-row">
        @for (cad of cads; track cad) {
          <div class="cad flex-column">
            <div class="title center">{{ cad.data.name }}</div>
            <app-cad-image [id]="cad.data.id" [data]="cad.data" (click)="openCad(cad.data)"></app-cad-image>
          </div>
        }
      </div>
    </ng-scrollbar>
  </div>
</div>
