.content {
  height: 100%;

  .shuru-table {
    width: 500px;
  }

  .xuanxiang-table {
    width: 500px;
  }

  .slgs {
    width: 450px;
  }

  .suanliao-config {
    width: 420px;
    padding: 10px;

    .suanliao-config-item {
      width: 100%;
      padding: 5px;
    }
  }
}
