.content {
  height: 100%;

  > * {
    padding: 5px;
    box-sizing: border-box;
  }

  .shuru-table {
    width: 500px;
  }

  .xuanxiang-table {
    width: 500px;
  }

  .slgs {
    width: 400px;
  }

  .suanliao-config {
    width: 400px;

    .suanliao-mszjbzxs {
      width: 100%;
      padding: 5px;
    }
  }
}
