:host {
  padding: 20px;
  --active-color: lightgray;
}

.bancai {
  --title-size: 1rem;
  &.active {
    background-color: var(--active-color);
  }

  .bancai-info {
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    > :not(:last-child) {
      margin-right: 10px;
    }

    .title {
      white-space: nowrap;
      justify-content: flex-end;
    }
  }

  .bancai-attrs {
    > * {
      width: 0;
      box-sizing: border-box;

      &:not(:last-child) {
        padding-right: 5px;
      }
    }
  }
}

.item-list {
  flex-wrap: wrap;

  .item {
    &.active {
      background-color: var(--active-color);
    }

    app-image {
      height: 120px;
    }

    .title {
      font-size: 15px;
      display: flex;
      align-items: center;
      .mat-mdc-icon-button {
        padding: 0;
      }
    }
  }
}

.tips {
  color: red;
}
