:host {
  padding: 20px;
  --active-color: lightgray;
  --cad-image-width: 200px;
  --cad-image-height: 100px;
  --item-image-height: 100px;
  &.no-scroll {
    height: auto;
  }
}

.bancai {
  &.active {
    background-color: var(--active-color);
  }

  .bancai-info {
    align-items: center;
    > :not(:last-child) {
      margin-right: 10px;
    }

    .title {
      white-space: nowrap;
      justify-content: flex-end;
    }
  }

  .bancai-attrs {
    > * > * {
      width: 0;
      box-sizing: border-box;

      &:not(:last-child) {
        padding-right: 5px;
      }
    }
  }

  .error {
    margin: 3px 0;
  }
}
