<div class="btn-group">
  @if (inputData || !isFromOrder) {
    <button mat-raised-button color="primary" (click)="submit()">提交</button>
    @if (closeable) {
      <button mat-raised-button color="primary" (click)="close()">关闭</button>
    }
  }
  @if (!inputData && xinghao.raw.mingzi) {
    <div class="title">{{ xiaodaohangStructure?.mingzi }}：{{ xinghao.raw.mingzi }}</div>
  }
</div>
<div class="flex-row flex-110">
  <div class="bancais flex-110">
    <ng-scrollbar class="flex-110">
      @for (key of bancaiKeys; track key; let i = $index) {
        <div class="bancai flex-column" [ngClass]="{active: key === activeBancaiKey}" (click)="selectBancaiKey(key)">
          <div class="bancai-info flex-row">
            <div class="title">{{ key }}:</div>
            <div class="bancai-text" [ngStyle]="getBancaiStyle(key)">{{ xinghao.getBancaiTitle(key, "请选择") }}</div>
            <button mat-raised-button color="primary" (click)="editBancaiForm(key)">编辑</button>
            <button mat-raised-button color="primary" (click)="emptyBancaiForm(key)">清空</button>
          </div>
          <div class="bancai-attrs flex-row">
            @for (info of xinghao.inputInfos[key]; track info) {
              <app-input #bancaiInput [info]="info" appClickStop></app-input>
            }
          </div>
          <div
            class="item-list flex-row"
            cdkDropList
            cdkDropListOrientation="horizontal"
            [cdkDropListData]="xinghao['默认板材'][key].CAD"
            (cdkDropListDropped)="dropListItem($event, key, 'CAD')"
          >
            @for (id of xinghao["默认板材"][key].CAD; track id) {
              <div class="item flex-column" cdkDrag (click)="selectListItem(cads[id], 'CAD', key)">
                <app-image class="cad-preview" [src]="cads[id].img"></app-image>
                <div class="title center">
                  {{ cads[id].data.name }}
                  <button mat-icon-button color="primary" appClickStop (click)="openCad(cads[id])"><mat-icon>open_in_new</mat-icon></button>
                </div>
              </div>
            }
          </div>
          <div class="item-list flex-row">
            @for (id of xinghao["默认板材"][key]["企料"]; track id) {
              <div class="item flex-column" (click)="selectListItem(qiliaos[id], '企料', key)">
                <div class="title center">
                  {{ qiliaos[id].name }}
                </div>
              </div>
            }
          </div>
          <div class="item-list flex-row">
            @for (id of xinghao["默认板材"][key]["花件"]; track id) {
              <div class="item flex-column" (click)="selectListItem(huajians[id], '花件', key)">
                <app-image [src]="huajians[id].data.xiaotu"></app-image>
                <div class="title center">{{ huajians[id].data.mingzi }}</div>
              </div>
            }
          </div>
        </div>
      }
    </ng-scrollbar>
  </div>
  @if (inputData || !isFromOrder) {
    <mat-divider vertical></mat-divider>
    <div class="flex-column flex-110">
      <ng-scrollbar class="flex-110">
        <div class="item-list flex-row">
          @for (item of cads | keyvalue: returnZero; track item.key) {
            @if (!item.value.selected) {
              <div class="item flex-column" (click)="selectListItem(item.value, 'CAD')">
                <app-image class="cad-preview" [src]="item.value.img"></app-image>
                <div class="title center">
                  {{ item.value.data.name }}
                  <button mat-icon-button color="primary" appClickStop (click)="openCad(item.value)">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                </div>
              </div>
            }
          }
        </div>
      </ng-scrollbar>
      <mat-divider></mat-divider>
      <ng-scrollbar style="height: 105px">
        <div class="item-list flex-row">
          @for (item of qiliaos | keyvalue: returnZero; track item.key) {
            @if (!item.value.selected) {
              <div class="item flex-column" (click)="selectListItem(item.value, '企料')">
                <div class="title center">{{ item.value.name }}</div>
              </div>
            }
          }
        </div>
      </ng-scrollbar>
      <div class="tips">企料不分组则程序自动分组为：门扇板材</div>
      <mat-divider></mat-divider>
      <ng-scrollbar class="flex-110">
        <div class="item-list flex-row">
          @for (item of huajians | keyvalue: returnZero; track item.key) {
            @if (!item.value.selected) {
              <div class="item flex-column" (click)="selectListItem(item.value, '花件')">
                <app-image [src]="item.value.data.xiaotu"></app-image>
                <div class="title center">{{ item.value.data.mingzi }}</div>
              </div>
            }
          }
        </div>
      </ng-scrollbar>
    </div>
  }
</div>
