<div class="btn-group">
  <ng-container *ngIf="!isFromOrder">
    <button mat-raised-button color="primary" (click)="submit()">提交</button>
    <button mat-raised-button color="primary" *ngIf="closeable" (click)="close()">关闭</button>
  </ng-container>
  <div *ngIf="xinghao.raw.mingzi" class="title">{{ xiaodaohangStructure?.mingzi }}：{{ xinghao.raw.mingzi }}</div>
</div>
<div class="flex-row flex-110">
  <div class="bancais flex-110">
    <ng-scrollbar class="flex-110">
      <div
        class="bancai flex-column"
        [ngClass]="{active: key === activeBancaiKey}"
        *ngFor="let key of bancaiKeys; let i = index"
        (click)="selectBancaiKey(key)"
      >
        <div class="bancai-info flex-row">
          <div class="title">{{ key }}:</div>
          <div class="bancai-text" [ngStyle]="getBancaiStyle(key)">{{ xinghao.getBancaiTitle(key, "请选择") }}</div>
          <button mat-raised-button color="primary" (click)="editBancaiForm(key)">编辑</button>
          <button mat-raised-button color="primary" (click)="emptyBancaiForm(key)">清空</button>
        </div>
        <div class="bancai-attrs flex-row">
          <app-input #bancaiInput *ngFor="let info of xinghao.inputInfos[key]" [info]="info" appClickStop></app-input>
        </div>
        <div class="item-list flex-row">
          <ng-container *ngFor="let item of cads">
            <div class="item flex-column" *ngIf="xinghao['默认板材'][key].CAD.includes(item.id)" (click)="selectListItem(item, 'CAD', key)">
              <app-image class="cad-preview" [src]="item.img"></app-image>
              <div class="title center">
                {{ item.data.name }}
                <button mat-icon-button color="primary" appClickStop (click)="openCad(item)"><mat-icon>open_in_new</mat-icon></button>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="item-list flex-row">
          <ng-container *ngFor="let item of qiliaos">
            <div
              class="item flex-column"
              *ngIf="xinghao['默认板材'][key]['企料'].includes(item.id)"
              (click)="selectListItem(item, '企料', key)"
            >
              <div class="title center">
                {{ item.data.mingzi }}
              </div>
            </div>
          </ng-container>
        </div>
        <div class="item-list flex-row">
          <ng-container *ngFor="let item of huajians">
            <div
              class="item flex-column"
              *ngIf="xinghao['默认板材'][key]['花件'].includes(item.id)"
              (click)="selectListItem(item, '花件', key)"
            >
              <app-image [src]="item.data.xiaotu"></app-image>
              <div class="title center">{{ item.data.mingzi }}</div>
            </div>
          </ng-container>
          <!-- <div class="item flex-column" *ngFor="let item of getXinghaoList(key, '花件')" (click)="selectListItem(item, '花件', key)">
            <ng-container *ngIf="item.isVirtual; else huajianItem">
              <app-image [src]="''" (click)="selectListItem(item, '花件', key)"></app-image>
              <div class="title center">{{ item.id }}</div>
            </ng-container>
            <ng-template #huajianItem>
              <app-image [src]="item.data.xiaotu"></app-image>
              <div class="title center">{{ item.data.mingzi }}</div>
            </ng-template>
          </div> -->
        </div>
      </div>
    </ng-scrollbar>
  </div>
  <ng-container *ngIf="!isFromOrder">
    <mat-divider vertical></mat-divider>
    <div class="flex-column flex-110">
      <ng-scrollbar class="flex-110">
        <div class="item-list flex-row">
          <ng-container *ngFor="let item of cads">
            <div class="item flex-column" *ngIf="!item.selected" (click)="selectListItem(item, 'CAD')">
              <app-image class="cad-preview" [src]="item.img"></app-image>
              <div class="title center">
                {{ item.data.name }}
                <button mat-icon-button color="primary" appClickStop (click)="openCad(item)"><mat-icon>open_in_new</mat-icon></button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-scrollbar>
      <mat-divider></mat-divider>
      <ng-scrollbar style="height: 105px">
        <div class="item-list flex-row">
          <ng-container *ngFor="let item of qiliaos">
            <div class="item flex-column" *ngIf="!item.selected" (click)="selectListItem(item, '企料')">
              <div class="title center">{{ item.data.mingzi }}</div>
            </div>
          </ng-container>
        </div>
      </ng-scrollbar>
      <div class="tips">企料不分组则程序自动分组为：门扇板材</div>
      <mat-divider></mat-divider>
      <ng-scrollbar class="flex-110">
        <div class="item-list flex-row">
          <ng-container *ngFor="let item of huajians">
            <div class="item flex-column" *ngIf="!item.selected" (click)="selectListItem(item, '花件')">
              <app-image [src]="item.data.xiaotu"></app-image>
              <div class="title center">{{ item.data.mingzi }}</div>
            </div>
          </ng-container>
        </div>
      </ng-scrollbar>
    </div>
  </ng-container>
</div>
