<div class="toolbar">
  @for (info of inputInfos(); track $index) {
    <app-input [info]="info"></app-input>
  }
</div>
<div class="toolbar">
  @if (showBtns1()) {
    <button mat-flat-button (click)="exportCads('包边正面')">包边正面</button>
    <button mat-flat-button (click)="exportCads('框型和企料')">框型和企料</button>
    <button mat-flat-button (click)="exportCads('指定型号')">指定型号</button>
    <button mat-flat-button (click)="exportCads('企料分体')">企料分体</button>
    <button mat-flat-button (click)="exportCads('企料')">企料</button>
    <button mat-flat-button (click)="exportCads('框型')">框型</button>
  }
  @if (showBtns2()) {
    <button mat-flat-button (click)="exportCads('导出选中')">导出选中</button>
  }
  <button mat-flat-button (click)="exportCads('自由选择')">自由选择</button>
  <button mat-flat-button (click)="exportCads('导出所有')">导出所有</button>
</div>
<app-progress-bar [progressBar]="progressBar"></app-progress-bar>
