<ng-scrollbar>
  <div class="items no-items-per-row">
    @for (msbj of msbjs(); track $index) {
      <div class="item link" (click)="openMsbj(msbj)">
        <app-image [src]="msbj.xiaoguotu" [prefix]="imgPrefix"></app-image>
        <div class="text short" [matTooltip]="msbj.name">{{ msbj.name }}</div>
      </div>
    }
  </div>
</ng-scrollbar>

@if (openedMsbj(); as openedMsbj) {
  <app-floating-dialog [maximized]="true" noTitle>
    <app-msbj [msbjInfo]="openedMsbj" closable (close)="closeMsbj($event)"></app-msbj>
  </app-floating-dialog>
}
