:host {
  padding: 10px;
}

.menshan-options {
  border: var(--border);

  .menshan-option {
    justify-content: center;
    align-items: center;
    height: 100px;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: var(--border);
    }
    &:hover {
      background-color: lightgray;
    }
    &.active {
      background-color: lightgray;
    }
  }
}

.title {
  font-size: 1em;
  font-weight: bold;
}

.box {
  padding: 3px;
  box-sizing: border-box;
  border: var(--border);
  height: 0;
  flex: 1 1 0;
}

.buju-infos {
  margin: 0px 0 10px 0;
  > * {
    width: 0;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .inputs {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;

    app-input {
      flex: 0 0 50%;
      padding-right: 5px;
      box-sizing: border-box;
    }
  }

  .buju-basic {
    flex: 0 1 250px;
    --item-height: 100%;
    app-msbj-rects {
      width: 100%;
      height: 100%;
    }
  }

  .buju-details {
    flex: 1 1 500px;
  }

  .buju-bancais {
    .buju-bancai-text {
      font-size: var(--mat-option-label-text-size);
      padding-right: 80px;
      box-sizing: border-box;
    }

    app-input {
      width: 100%;
    }
  }
}

.buju-bottom {
  --item-width: 200px;
  --item-image-height: 100px;
}
.buju-mokuais {
  width: 66.66%;
}
