<form>
  <button hidden></button>
  @for (d of dimensions(); track i; let i = $index) {
    <div>
      <mat-form-field>
        <mat-label [class.active]="d.selected">标注名字</mat-label>
        <input
          matInput
          type="text"
          [value]="getDimensionName(d, i)"
          (focus)="dimNameFocus.set(i)"
          (blur)="dimNameFocus.set(-1)"
          (change)="setDimensionName($event, d)"
          name="dimensionName"
        />
        <button mat-icon-button matSuffix (click)="removeDimension(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <mat-hint [align]="'start'">
          <button mat-flat-button (click)="editDimension(i)">编辑</button>
          <button mat-flat-button [class.accent]="dimLineSelecting() === i" (click)="selectDimLine(i)">选线</button>
          <label>隐藏尺寸线</label>
          <mat-slide-toggle [checked]="getHideDimLines(i)" (change)="setHideDimLines($event, i)"></mat-slide-toggle>
        </mat-hint>
      </mat-form-field>
    </div>
  }
  <div class="toolbar">
    <button mat-flat-button [class.accent]="isAddingDimension()" (click)="addDimensionLinear()">添加线性标注</button>
    <button mat-flat-button (click)="editAllDimensions()">修改全部标注</button>
  </div>
</form>
