mat-form-field {
  margin-bottom: 18px;
}

mat-hint {
  button {
    min-width: unset;
    width: 40px;
    height: 24px;
    font-size: 0.8rem;
    line-height: 24px;
    margin: 0 5px;
    padding: 0;
  }
}
