:host {
  padding: 10px;

  &.printing {
    width: 210mm;
    height: auto;
    overflow: visible;
  }
}

.test-case-card {
  font-size: 16px;
  padding: 5px;
}

.test-cases {
  width: 25%;
}

.slgs-list {
  width: 25%;
}

.cads {
  flex: 1 1 0;
}

.gongshi-item {
  white-space: pre;
  width: 100%;
}
