<div class="flex-row flex-110">
  <div #section1 class="section">
    <ng-scrollbar>
      @for (info of infos().mkdxFormulaInfos; track i; let i = $index) {
        <div class="flex-column">
          <div class="title">{{ info.name }}</div>
          <app-formulas [formulaInfos]="info.formulaInfos" [formulaStyles]="formulaStyles" (updated)="updateSection1()"></app-formulas>
          @if (i < $count - 1) {
            <mat-divider></mat-divider>
          }
        </div>
      }
    </ng-scrollbar>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="section flex-110">
    <ng-scrollbar>
      @for (info of infos().xuanzhongMokuaiInfos; track i; let i = $index) {
        <div class="flex-column">
          <div class="title">{{ info.name }}选中模块</div>
          @for (node of info.nodes; track $index) {
            <div>
              <div class="title flex-row">
                <div>层名字：{{ node.layer }}</div>
                <mat-divider class="placeholder" [vertical]="true"></mat-divider>
                @if (data.openMokuai; as open) {
                  <div class="link text" (click)="open(node.mokuai)">{{ getMokuaiTitle(node.mokuai) }}</div>
                } @else {
                  <div>{{ getMokuaiTitle(node.mokuai) }}</div>
                }
              </div>
              <app-formulas [formulaInfos]="node.formulaInfos" [formulaStyles]="formulaStyles"></app-formulas>
            </div>
          }
          @if (i < $count - 1) {
            <mat-divider></mat-divider>
          }
        </div>
      }
    </ng-scrollbar>
  </div>
</div>
<div matDialogActions>
  <button mat-raised-button color="primary" (click)="close()">关闭</button>
</div>
