<div class="flex-row flex-110">
  <div #section1 class="section">
    <ng-scrollbar>
      <div class="flex-column" *ngFor="let info of mkdxFormulaInfos; let i = index">
        <div class="title">{{ info.name }}</div>
        <app-formulas [formulaInfos]="info.formulaInfos" [formulaStyles]="formulaStyles" (updated)="updateSection1()"></app-formulas>
        <mat-divider *ngIf="i < mkdxFormulaInfos.length - 1"></mat-divider>
      </div>
    </ng-scrollbar>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="section flex-110">
    <ng-scrollbar track="all">
      <div class="flex-column" *ngFor="let info of xuanzhongMokuaiInfos; let i = index">
        <div class="title">{{ info.name }}选中模块</div>
        <div *ngFor="let node of info.nodes">
          <div class="title flex-row">
            <div>层名字：{{ node.layer }}</div>
            <mat-divider class="placeholder" [vertical]="true"></mat-divider>
            <div>模块：{{ getMokuaiTitle(node.mokuai) }}</div>
          </div>
          <app-formulas [formulaInfos]="node.formulaInfos" [formulaStyles]="formulaStyles"></app-formulas>
        </div>
        <mat-divider *ngIf="i < xuanzhongMokuaiInfos.length - 1"></mat-divider>
      </div>
    </ng-scrollbar>
  </div>
</div>
<div matDialogActions>
  <button mat-raised-button color="primary" (click)="close()">关闭</button>
</div>
