<div class="title">
  型号【<span class="link text" (click)="openXhmrmsbj()">{{ data.xinghao.raw.mingzi }}】</span>
</div>
<div class="flex-row flex-110 scrollbar-container">
  <div #section1 class="section">
    <ng-scrollbar>
      @for (info of infos().mkdxFormulaInfos; track i; let i = $index) {
        <div class="flex-column">
          <div class="title">{{ info.name }}</div>
          <app-formulas [formulaInfos]="info.formulaInfos" [formulaStyles]="formulaStyles" (updated)="updateSection1()"></app-formulas>
          @if (i < $count - 1) {
            <mat-divider></mat-divider>
          }
        </div>
      }
    </ng-scrollbar>
  </div>
  <mat-divider vertical></mat-divider>
  <ng-scrollbar>
    <div class="mokuai-infos items items-per-row">
      @for (info of infos().xuanzhongMokuaiInfos; track i; let i = $index) {
        <div class="item border">
          <div class="title">{{ info.name }}选中模块</div>
          <div style="width: 100%">
            @for (node of info.nodes; track $index) {
              <div class="title toolbar">
                <div>层名字：{{ node.layer }}</div>
                <mat-divider class="placeholder" [vertical]="true"></mat-divider>
                <div [innerHTML]="getMokuaiTitle(node.mokuai)"></div>
              </div>
              <app-formulas [formulaInfos]="node.formulaInfos" [formulaStyles]="formulaStyles"></app-formulas>
            }
          </div>
        </div>
      }
    </div>
  </ng-scrollbar>
</div>
<div matDialogActions>
  <button mat-raised-button color="primary" (click)="close()">关闭</button>
</div>
