<div class="toolbar">
  <app-input [info]="searchInputInfo()"></app-input>
  @if (data.multi) {
    <button mat-flat-button (click)="selectAll()">全选当前数据</button>
  }
  @if (data.name && !data.useLocalOptions) {
    <button mat-flat-button (click)="search(true, true)">刷新</button>
  }
  @if (!noImage1()) {
    <button mat-flat-button [class.accent]="!noImage2()" (click)="toggleNoImage2()">显示图片</button>
  }
  @if (data.openInNewTab) {
    <button mat-flat-button (click)="editInNewTab()">
      <mat-icon>open_in_new</mat-icon>
      <span>编辑可选项</span>
    </button>
  }
</div>
@if (data.typeFiltering) {
  <div class="toolbar">
    <button mat-flat-button [class.accent]="activeOptionTypes().length < 1" (click)="toggleActiveOptionType(null)">全部</button>
    @for (type of optionTypesManager.data().types; track $index) {
      <button mat-flat-button [class.accent]="activeOptionTypes().includes(type)" (click)="toggleActiveOptionType(type)">
        {{ type }}
      </button>
    }
  </div>
}

<ng-scrollbar>
  <app-spinner [id]="loaderIds.optionsLoader"></app-spinner>
  <div class="options items add-empty-msg">
    @for (item of pageData(); track i; let i = $index) {
      <div class="option border item" [class.checked]="checkedItems().includes(item)" (click)="onCheckboxChange(i)">
        <div class="toolbar compact hidden-if-empty" appClickStop>
          @if (data.defaultValue; as val) {
            <button mat-button [class.accent]="val.value === item.name" (click)="setDefaultValue(i)">默认值</button>
            <div class="flex-110"></div>
          }
          @if (!noImage() && !noImage2()) {
            <div class="flex-110"></div>
            <button mat-icon-button [class.hidden]="noImage()" (click)="optionImg.showBigPic()">
              <mat-icon>zoom_in</mat-icon>
            </button>
          }
        </div>
        <app-image
          #optionImg
          [class.hidden]="noImage()"
          [src]="noImage() && noImage2Count() < 1 ? '' : item.img"
          [bigPicSrc]="item.img"
          [prefix]="filePathUrl"
          bigPicClickShowDisabled
        ></app-image>
        <div class="option-name toolbar">
          <mat-checkbox [checked]="checkedItems().includes(item)">
            <span>{{ item.label || item.name }}</span>
            @if (item.disabled) {
              <span class="error">(已停用)</span>
            }
          </mat-checkbox>
          @for (btn of data.itemBtns; track $index) {
            <button mat-button appClickStop [class.hidden]="btn.hidden" (click)="btn.onClick(item)">{{ btn.name }}</button>
          }
        </div>
        @if (optionOptionsInputInfos()[i]; as info) {
          <app-input appClickStop [info]="info"></app-input>
        }
      </div>
    }
  </div>
</ng-scrollbar>

@if (showPaginator()) {
  <mat-paginator
    #paginator
    [length]="length()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions()"
    showFirstLastButtons
    (page)="changePage($event)"
  ></mat-paginator>
}

<div matDialogActions>
  <div class="spinner-container">
    <button mat-flat-button (click)="submit()">确定</button>
    <app-spinner [id]="loaderIds.submitLoaderId" [inline]="true"></app-spinner>
  </div>
  <button mat-flat-button (click)="close()">取消</button>
</div>
