:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.options {
  --items-per-row: 5;
  --item-image-height: 150px;

  .option {
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    margin: 5px;
    --border: 1px solid black;
    padding-right: 5px;
    &.checked {
      background-color: lightgray;
    }

    .option-name {
      > .toolbar {
        width: auto;
        max-width: 100%;

        > .text {
          width: auto;
        }
      }
    }
  }
}

.content {
  height: 0;
  flex: 1 1 0;
}
