:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.options {
  .option {
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    margin: 5px;
    --border: 1px solid black;
    padding: 3px;
    &.checked {
      background-color: lightgray;
    }

    .option-name {
      > .toolbar {
        width: auto;
        max-width: 100%;
      }
    }

    app-image {
      flex: 0 0 150px;
    }

    app-input {
      width: 100%;
    }
  }
}
