<div class="btn-group">
  <app-input class="flex-110" [info]="searchInputInfo"></app-input>
  @if (data.multi) {
    <button mat-raised-button color="primary" (click)="selectAll()">当前页全选</button>
    <button mat-raised-button color="primary" (click)="selectReverse()">当前页反选</button>
  }
  <button mat-raised-button color="primary" (click)="search(true, true)">刷新</button>
  @if (data.openInNewTab) {
    <button mat-raised-button color="primary" (click)="editInNewTab()">
      <mat-icon>open_in_new</mat-icon>
      <span>编辑可选项</span>
    </button>
  }
</div>

<ng-scrollbar class="content">
  <app-spinner [id]="loaderIds.optionsLoader"></app-spinner>
  <div class="options items no-items-per-row add-empty-msg">
    @for (item of pageData; track i; let i = $index) {
      <div class="option border item" [class.checked]="item.checked" (click)="onCheckboxChange(item)">
        <div class="toolbar">
          <mat-checkbox [checked]="item.checked" [disabled]="item.disabled && !item.checked"> </mat-checkbox>
          <div class="text long" [matTooltip]="item.name" [matTooltipPosition]="'above'">{{ item.name }}</div>
          @if (data.defaultValue) {
            <button
              mat-button
              [color]="data.defaultValue.value === item.name ? 'accent' : 'primary'"
              appClickStop
              (click)="setDefaultValue(item)"
            >
              默认值
            </button>
          }
        </div>
        @if (!data.noImage) {
          <app-image [src]="item.img" [prefix]="filePathUrl"></app-image>
        }
      </div>
    }
  </div>
</ng-scrollbar>

@if (showPaginator) {
  <mat-paginator
    #paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    (page)="changePage($event)"
  ></mat-paginator>
}

<div matDialogActions>
  <div class="spinner-container">
    <button mat-raised-button color="primary" (click)="submit()">确定</button>
    <app-spinner [id]="loaderIds.submitLoaderId" [inline]="true"></app-spinner>
  </div>
  <button mat-raised-button color="primary" (click)="close()">取消</button>
</div>
