:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.options {
  --items-per-row: 5;
  --item-height: 200px;
  --mdc-checkbox-state-layer-size: 30px;

  .option {
    cursor: pointer;
    .mat-mdc-checkbox {
      margin: 0;
    }
    .text {
      text-align: center;
    }
  }
}

.content {
  height: 0;
  flex: 1 1 0;
}
