:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: auto;
}

.msgs {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  font-family: "Fira Code Retina", monospace;

  $msg-height: 20px;
  .msg {
    min-height: 20px;
    line-height: 20px;

    &.info {
      color: black;
    }
    &.success {
      color: green;
    }
    &.error {
      color: red;
    }
    &.warning {
      color: orange;
    }
    &.divider {
      height: calc($msg-height / 2);
      border-bottom: 1px dashed black;
      margin-bottom: calc($msg-height / 2);
    }
    &.progress {
      color: black;
    }
  }
}
