<div class="toolbar">
  <button mat-flat-button (click)="close()">关闭</button>
  <button mat-flat-button (click)="openCommits()">查看详细<mat-icon>open_in_new</mat-icon></button>
  <button mat-flat-button (click)="toggleEnvBeta()">切换到{{ env.beta ? "正式" : "测试" }}版</button>
</div>

<ng-scrollbar>
  <div class="flex-column">
    @for (item of changelog; track i; let i = $index) {
      @if (updateDivideIndex === i) {
        <ng-template [ngTemplateOutlet]="updateTimeTemp"></ng-template>
      }
      <div class="changelog flex-row">
        <div class="avatar">
          <app-image [src]="item.avatar" [bigPicSrc]="item.avatar"></app-image>
        </div>
        <div class="text flex-110">
          <div class="toolbar">
            <div class="time">{{ item.author }} {{ "@" }} {{ item.time + "\n" }}</div>
            @if (item.details) {
              <button mat-icon-button [color]="item.showDetails ? 'accent' : 'primary'" (click)="item.showDetails = !item.showDetails">
                <mat-icon>more_horiz</mat-icon>
              </button>
            }
            <button mat-icon-button (click)="openCommit(item)"><mat-icon>open_in_new</mat-icon></button>
          </div>
          <span class="message">{{ item.message }}</span>
          @if (item.showDetails && item.details) {
            <span class="details">{{ separator + item.details }}</span>
          }
        </div>
      </div>
    }
    @if (updateDivideIndex < 0) {
      <ng-template [ngTemplateOutlet]="updateTimeTemp"></ng-template>
    }
  </div>
</ng-scrollbar>

<ng-template #updateTimeTemp>
  <mat-divider></mat-divider>
  <div class="time">更新时间：{{ getTitle(updateTime, true) }}</div>
  <div class="time">当前分支：{{ branch }}</div>
  <mat-divider></mat-divider>
</ng-template>

<app-spinner [id]="loaderId"></app-spinner>
