:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-sizing: border-box;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.type {
  font-size: 1.1em;
}

.items {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.footer {
  text-align: center;
  color: gray;
}
