:host {
  padding: 20px;
}

.time {
  font-weight: bold;
}

.changelog {
  margin: 10px;
  --avatar-size: 50px;

  > :not(:last-child) {
    margin-right: 10px;
  }

  .avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    overflow: hidden;
  }

  .text {
    white-space: pre-wrap;

    .message,
    .details {
      font-size: 1.2em;
    }
  }
}
