<div class="toolbar">
  <button mat-raised-button color="primary" (click)="close()">关闭</button>
  <button mat-raised-button color="primary" (click)="openCommits()">查看详细<mat-icon>open_in_new</mat-icon></button>
</div>

<ng-scrollbar>
  <div class="flex-column">
    @for (item of changelog; track $index) {
      <div class="changelog flex-row">
        <div class="avatar">
          <app-image [src]="item.avatar" [bigPicSrc]="item.avatar"></app-image>
        </div>
        <div class="text flex-110">
          <div class="toolbar">
            <div class="time">{{ item.author }} {{ "@" }} {{ item.time + "\n" }}</div>
            @if (item.details) {
              <button mat-icon-button [color]="item.showDetails ? 'accent' : 'primary'" (click)="item.showDetails = !item.showDetails">
                <mat-icon>more_horiz</mat-icon>
              </button>
            }
            <button mat-icon-button color="primary" (click)="openCommit(item)"><mat-icon>open_in_new</mat-icon></button>
          </div>
          <span class="message">{{ item.message }}</span>
          @if (item.showDetails && item.details) {
            <span class="details">{{ separator + item.details }}</span>
          }
        </div>
      </div>
    }
  </div>
</ng-scrollbar>
<app-spinner [id]="loaderId"></app-spinner>
