:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  > :not(:last-child) {
    margin-right: 10px;
  }
}

.formulas-list {
  width: 100%;
}

.formula {
  display: flex;
  align-items: center;

  > :not(:last-child) {
    margin-right: 5px;
  }

  .key {
    flex: 0 1 200px;
    width: 0;
  }

  .value {
    flex: 1 0 200px;
    width: 0;
  }

  .eq {
    font-size: 18px;
    transform: translateY(-11px);
  }
}

.extra-input-infos {
  app-input {
    flex: 1 1 0;
  }
}

.test-result {
  > * {
    width: 100%;
  }
}
