@if (compact()) {
  @if (noScroll()) {
    <ng-container [ngTemplateOutlet]="compactContent"></ng-container>
  } @else {
    <ng-scrollbar>
      <ng-container [ngTemplateOutlet]="compactContent"></ng-container>
    </ng-scrollbar>
  }
} @else {
  @if (noScroll()) {
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  } @else {
    <ng-scrollbar>
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </ng-scrollbar>
  }
}

<ng-template #compactContent>
  <app-input [info]="formulasInputInfo()"></app-input>
</ng-template>

<ng-template #content>
  <div class="content flex-row">
    <div class="flex-110">
      @if (extraInputInfos()) {
        <div class="toolbar extra-input-infos">
          @for (info of extraInputInfos(); track $index) {
            <app-input #extraInput [info]="info" (change)="refreshExtraInputInfos()"></app-input>
          }
        </div>
      }

      @if (!noFormulasText()) {
        <div class="formulas-input">
          <app-input [info]="formulasInputInfo()"></app-input>
          <div class="toolbar" style="margin-top: -10px">
            <button mat-raised-button color="primary" (click)="addFormulas()">批量添加</button>
            <button mat-raised-button color="primary" (click)="test(true)">测试</button>
          </div>
        </div>
      }

      <div class="flex-column flex-110">
        <div class="toolbar">
          <div>公式</div>
          <button mat-raised-button color="primary" (click)="addFormula()">添加</button>
          <button mat-raised-button color="primary" (click)="test(false)">测试</button>
          <button mat-raised-button color="primary" (click)="import(true)">导入替换</button>
          <button mat-raised-button color="primary" (click)="import(false)">导入添加</button>
          <button mat-raised-button color="primary" (click)="export()">导出</button>
        </div>
        <div class="formulas-list" cdkDropList [cdkDropListData]="formulaList" (cdkDropListDropped)="dropFormula($event)">
          @for (formula of formulaList(); track i; let i = $index) {
            <div class="formula" cdkDrag cdkDragLockAxis="y">
              <div class="drag-placeholder" cdkDragHandle></div>
              <button mat-icon-button color="primary" (click)="addFormula(i + 1)">
                <mat-icon>add_circle</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="removeFormula(i)">
                <mat-icon>remove_circle</mat-icon>
              </button>
              <app-input class="key" [info]="formulaListInputInfos()[i][0]"></app-input>
              <span class="eq"> = </span>
              <app-input class="value" [info]="formulaListInputInfos()[i][1]"></app-input>
              <div class="drag-placeholder" cdkDragHandle></div>
            </div>
          }
        </div>
      </div>
    </div>

    @if (varNameItem(); as item) {
      <app-var-names [varNameItem]="item" [namesPerRow]="2"></app-var-names>
    }
  </div>
</ng-template>

@if (testResult(); as testResult) {
  <div #testResultEl style="display: none">
    <div style="font-size: 18px; overflow: hidden">
      <div style="margin-bottom: 15px">
        <div style="color: darkturquoise; margin-bottom: 10px">成功结果</div>
        <div class="add-empty-msg">
          @for (item of testResult.succeed | keyvalue: returnZero; track $index) {
            <div style="margin-bottom: 5px">{{ item.key }} = {{ item.value }}</div>
          }
        </div>
      </div>
      <div>
        <div style="color: red; margin-bottom: 10px">失败结果</div>
        <div class="add-empty-msg">
          @for (item of testResult.error | keyvalue: returnZero; track $index) {
            <div style="margin-bottom: 5px">{{ item.key }} = {{ item.value }}</div>
          }
        </div>
      </div>
    </div>
  </div>
}
