:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  > :not(:last-child) {
    margin-bottom: 10px;
  }
}

.formulas-list {
  width: 100%;
}

.formula {
  display: flex;
  align-items: center;

  > :not(:last-child) {
    margin-right: 5px;
  }

  .key {
    flex: 0 0 200px;
  }

  .value {
    flex: 1 1 0;
  }

  .eq {
    font-size: 18px;
    transform: translateY(-11px);
  }
}

.var-names {
  flex-wrap: wrap;
}

.extra-input-infos {
  app-input {
    flex: 1 1 0;
  }
}
