.xinghaos {
  --item-width: 200px;
  --item-image-height: 250px;

  .item {
    position: relative;
  }

  .menleixing {
    font-size: 0.9em;
    transform: translateY(-20px);

    mat-checkbox {
      opacity: 0;
    }
  }
}
