:host {
  display: flex;
}

.menchaungs {
  .menchuang-header {
    width: 100%;
    background-color: rgb(237, 191, 95);
    padding: 5px;
    align-items: center;

    .name {
      font-size: 18px;
      padding: 0 2px;
      display: flex;
      box-sizing: border-box;
    }
  }
}

.gongyis {
  width: 100%;
  .item {
    transition: 0.3s;
    padding: 5px;
    &.active,
    &:hover {
      background-color: lightgray;
    }

    .gongyi-header {
      width: 100%;
      align-items: center;

      .name {
        flex: 1 1 0;
        display: flex;
      }
      .toolbar {
        width: auto;
      }
    }
  }
}

.xinghaos {
  --item-width: 200px;
  --item-image-height: 250px;
}
