:host {
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  > *:not(:last-child) {
    margin-right: 10px;
  }
}

$space: 3px;
.cads {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  padding: $space;

  .cad {
    display: flex;
    flex-direction: column;
    margin: $space;
    width: calc(25% - #{$space} * 2);
    box-sizing: border-box;

    .mat-card-content {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;

      .cad-preview {
        cursor: pointer;
        flex: 1 1 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
