app-suanliaogongshi {
  width: 425px;
}

.cads {
  flex-wrap: wrap;

  ::ng-deep {
    .name-error .name button:nth-child(1) {
      color: var(--mat-sys-error);
    }
  }
}

app-suanliao-tables {
  height: 100%;
}
