:host {
  padding: 10px;
  --mkdxpz-formulas-width: 290px;
}

.msbj-rects-container {
  flex: 0 1 300px;
  max-height: 620px;
  padding: 50px 5px;
  &.as-hidden {
    position: absolute;
    opacity: 0;
    left: -999px;
  }
}

.kexuanmokuais-container {
  flex: 1 0 100px;
}

.menshan-options {
  border: var(--border);
  width: 160px;

  .menshan-option {
    justify-content: center;
    align-items: center;
    min-height: 100px;
    cursor: pointer;
    padding: 2px;
    &:not(:last-child) {
      border-bottom: var(--border);
    }
    &:hover {
      background-color: var(--mat-sys-outline-variant);
    }
    &.active {
      background-color: var(--mat-sys-outline-variant);
    }

    .title {
      padding: 0;
    }
    .text {
      font: var(--mat-sys-body-medium);
    }
  }
}

.mokuai {
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  &.active {
    background-color: var(--mat-sys-outline-variant);
  }

  .mokuai-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .active-sign {
    color: var(--mat-sys-tertiary);
  }

  .default-sign {
    color: var(--mat-sys-on-surface);
    &.active {
      color: var(--mat-sys-tertiary);
    }
  }

  .mokuai-xiaoguotu {
    height: 150px;
  }
}

.xinghao-info,
.xinghao-bancai,
.xinghao-bancai-option {
  --mdc-typography-body1-font-size: 14px;
}
.xinghao-info {
  font-size: var(--mat-select-trigger-text-size);
  > div {
    padding: 5px 72px 5px 16px;
  }
}

.mokuai-inputs {
  width: var(--mkdxpz-formulas-width);
  --items-per-row: 2;
  &.small {
    width: 110px;
    --items-per-row: 1;
  }
}

.bancaixuanze-item {
  > :not(:last-child) {
    margin-right: 5px;
  }

  .key {
    flex: 0 0 auto;
  }
}

.xiaoguotu {
  position: relative;
  transform-origin: left top;
  z-index: -1;

  > * {
    z-index: 1;
  }
}

.mkdxpz-formulas {
  width: var(--mkdxpz-formulas-width);
  box-sizing: border-box;
  padding: 3px;
}

.errors {
  max-width: 310px;

  .error {
    width: 100%;
    color: var(--mat-sys-on-surface);

    ol {
      width: 100%;
      box-sizing: border-box;
      list-style-type: xhmrmsbj-error;
      padding-inline-start: 50px;

      li:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}

@counter-style xhmrmsbj-error {
  system: extends decimal;
  prefix: "错误";
}
