:host {
  padding: 10px;
  --mkdxpz-formulas-width: 290px;
}

.msbj-rects-container {
  flex: 0 1 300px;
  max-height: 620px;
  padding: 50px 5px;
  &.as-hidden {
    position: absolute;
    opacity: 0;
    left: -999px;
  }
}

.kexuanmokuais-container {
  flex: 1 0 100px;
}

.menshan-nav-container {
  flex: 0 0 300px;
}
.menshan-nav-items {
  > .item {
    padding: 10px;
  }
}
.menshan-keys-container {
  flex: 0 0 115px;
}

.mokuai {
  width: 100px;
  padding: 2px;
  margin: 2px;

  .mokuai-xiaoguotu {
    flex: 1 1 150px;
  }
}

.xinghao-info,
.xinghao-bancai,
.xinghao-bancai-option {
  --mat-typography-body1-font-size: 14px;
}
.xinghao-info {
  font-size: var(--mat-select-trigger-text-size);
  > div {
    padding: 5px 60px 5px 16px;
  }
}

.mokuai-inputs {
  width: var(--mkdxpz-formulas-width);
  --items-per-row: 2;
  &.small {
    width: 110px;
    --items-per-row: 1;
  }
}

.bancaixuanze-item {
  > :not(:last-child) {
    margin-right: 5px;
  }

  .key {
    flex: 0 0 auto;
  }
}

.xiaoguotu {
  position: relative;
  transform-origin: left top;
  z-index: -1;

  > * {
    z-index: 1;
  }
}

.mkdxpz-formulas {
  width: var(--mkdxpz-formulas-width);
  box-sizing: border-box;
  padding: 3px;
}

.error-items {
  max-width: 310px;

  .error-item {
    width: 100%;

    ol {
      width: 100%;
      box-sizing: border-box;
      list-style-type: xhmrmsbj-error;
      padding-inline-start: 50px;

      li:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}

@counter-style xhmrmsbj-error {
  system: extends decimal;
  prefix: "错误";
}
