@if (!isFloatingDialog()) {
  <div class="toolbar">
    @for (name of tabNames(); track $index) {
      <button mat-raised-button [color]="name === activeTabName() ? 'accent' : 'primary'" (click)="activeTabName.set(name)">
        {{ name }}
      </button>
    }
    @if (!isFromOrder() || isZhijian()) {
      <button mat-raised-button color="primary" (click)="openMokuaikuInNew()">模块库</button>
      <button mat-raised-button color="primary" (click)="openPeijiankuInNew()">配件库</button>
      <button mat-raised-button color="primary">算料单</button>
    }
    <mat-divider vertical class="large placeholder"></mat-divider>
    @if (isFromOrder()) {
      <button mat-raised-button color="primary" (click)="openMokuais()">查看选中模块算料数据</button>
      @if (canEditMokuaidaxiao()) {
        <button mat-raised-button color="primary" (click)="refreshMokuaidaxiao()">更新模块大小配置</button>
      }
      @if (isZhijian()) {
        <button mat-raised-button color="primary" (click)="openHoutaiUrl()">查看型号默认门扇布局</button>
      }
    } @else {
      @switch (activeTabName()) {
        @case ("锁边铰边") {
          <button mat-raised-button color="primary" (click)="addSbjbItemSbjb()">添加</button>
        }
        @case ("门扇模块") {
          @if (!isFromOrder()) {
            <button mat-raised-button color="primary" (click)="setMsbj()">更换布局</button>
          }
          @if (canEditMokuaidaxiao()) {
            <button mat-raised-button color="primary" (click)="editMokuaidaxiao()">模块大小</button>
          }
          <mat-divider vertical class="large placeholder"></mat-divider>
        }
      }
      <button mat-raised-button color="primary" (click)="submit()">保存</button>
      @if (closable()) {
        <button mat-raised-button color="primary" (click)="close()">关闭</button>
      }
    }
    <div class="title link text" (click)="openXhmrmsbj()">{{ xinghao()?.raw?.mingzi }}</div>
  </div>
}
@if (!isFromOrder() && loadSbjb()) {
  @if (xinghao(); as xinghao) {
    <app-xhmrmsbj-sbjb [class.hidden]="activeTabName() !== '锁边铰边'" [xinghaoName]="xinghao.raw.mingzi"></app-xhmrmsbj-sbjb>
  }
}
<div class="flex-row flex-110" [class.hidden]="activeTabName() !== '门扇模块'">
  @if (!isFloatingDialog()) {
    <div class="flex-column">
      @if (data(); as data) {
        <mat-slide-toggle [(ngModel)]="data['铰扇跟随锁扇']">铰扇布局和锁扇相同</mat-slide-toggle>
      }
      @if (isFromOrder() && !production) {
        <mat-slide-toggle [(ngModel)]="ignoreXiaoguotu">ignoreXiaoguotu</mat-slide-toggle>
      }
      <mat-divider class="placeholder"></mat-divider>
      <ng-scrollbar>
        <div class="flex-column menshan-options">
          @for (item of data()?.menshanbujuInfos | keyvalue: returnZero; track $index) {
            @if (!data()?.["铰扇跟随锁扇"] || !item.key.includes("铰扇")) {
              <div
                class="flex-column menshan-option"
                [class]="{active: activeMenshanKey() === item.key}"
                (click)="selectMenshanKey(item.key)"
              >
                <div style="font-weight: bold">{{ item.key }}</div>
                @if (item.value?.["选中布局数据"]; as data2) {
                  @if (data()?.isVersion2024) {
                    <div class="link text" appClickStop (click)="openMsbj()">布局：{{ data2.name }}</div>
                  } @else {
                    <div>布局：{{ data2.name }}</div>
                  }
                }
              </div>
            }
          }
        </div>
      </ng-scrollbar>
    </div>
    <mat-divider vertical></mat-divider>
  }
  <div class="flex-110 flex-row" style="position: relative">
    <div class="msbj-rects-container flex-column" [class.as-hidden]="isFloatingDialog()">
      <app-msbj-rects
        [rectInfos]="rectInfos()"
        [(activeRectInfo)]="activeRectInfo"
        ignoreNonBuju
        (generateRectsEnd)="generateRectsEnd()"
      ></app-msbj-rects>
    </div>
    <div class="kexuanmokuais-container flex-column" style="width: 0">
      @if (activeMokuaiNode()?.["层名字"]; as nodeName) {
        <div class="toolbar">
          @if (!isFloatingDialog()) {
            <div class="title">{{ nodeName }}位置可选模块</div>
          }
          <app-input [info]="kexuanmokuaiSearchInputInfo()"></app-input>
          @if (!isFromOrder()) {
            <button mat-raised-button color="primary" (click)="setKexuanmokuai()">编辑</button>
          }
        </div>
      }
      <ng-scrollbar>
        <div class="flex-row" style="flex-wrap: wrap">
          @for (mokuai of kexuanmokuais(); track $index) {
            <ng-template *ngTemplateOutlet="mokuaiT; context: {$implicit: mokuai, isActive: isMokuaiActive(mokuai)}"> </ng-template>
          }
        </div>
      </ng-scrollbar>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="flex-column">
      <ng-scrollbar>
        @if (isFromOrder()) {
          @if (!canEditMokuaidaxiao() && !isFloatingDialog()) {
            <div class="mkdxpz-formulas flex-column">
              <div class="title">模块大小</div>
              <app-formulas [formulaInfos]="mkdxpzFormulaInfos()"></app-formulas>
            </div>
          }
          @if (!disableXiaoguotu()) {
            <div class="xiaoguotu flex-110" #xiaoguotuContainer></div>
          }
        }
        <div class="mokuai-inputs flex-column" [class.small]="isFloatingDialog()">
          @if (!isFloatingDialog()) {
            <div class="title">模块输入</div>
            @if (!isFromOrder()) {
              <div class="error">取值顺序：输入值 > 模块公式值 > 通用公式值</div>
            }
          }
          <div class="items">
            @for (info of mokuaiInputInfos(); track $index) {
              <app-input class="item" [info]="info"></app-input>
            }
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
  @if (!isFloatingDialog()) {
    <mat-divider vertical></mat-divider>
    <div class="flex-column">
      @if (xinghao(); as xinghao) {
        <div class="toolbar">
          <div class="title">型号板材分组</div>
          @if (!isFromOrder()) {
            <button mat-raised-button color="primary" (click)="openMrbcjfzDialog()">编辑</button>
          }
        </div>
        <div class="xinghao-info flex-column">
          @for (item of xinghao["默认板材"] | keyvalue: returnZero; track $index) {
            @if (xinghao.getBancaiTitle(item.key)) {
              <div>{{ item.value["板材分组别名"] || item.key }}: {{ xinghao.getBancaiTitle(item.key) }}</div>
            }
          }
        </div>
      }
      @if (xinghao(); as xinghao) {
        <div class="xinghao-bancai flex-110 flex-column">
          @if (activeMokuaiNode()?.["选中模块"]; as mokuai) {
            <mat-divider></mat-divider>
            <div class="toolbar">
              <div class="title">选中模块板材分组</div>
            </div>
          }
          <!-- 板材选择 -->
          <ng-scrollbar>
            @for (info of bancaiInputInfos(); track $index) {
              <app-input [info]="info"></app-input>
            }
            @if (xhmrbsbjInputInfos().length > 0) {
              <mat-divider></mat-divider>
              @for (info of xhmrbsbjInputInfos(); track $index) {
                <app-input [info]="info"></app-input>
              }
            }
          </ng-scrollbar>
        </div>
      }
    </div>
  }
</div>

<ng-template #mokuaiT [appTypedTemplate]="mokuaiTemplateType" let-mokuai let-isActive="isActive">
  <div class="flex-column mokuai" [class]="{active: isActive}">
    <div class="flex-column">
      <div class="toolbar mokuai-top">
        @if (!isFromOrder()) {
          <div class="default-sign" [class]="{active: mokuai?.info?.isDefault}" (click)="setDefaultMokuai(mokuai)">默认</div>
        }
        <div class="flex-110"></div>
        <button mat-icon-button color="primary" (click)="mokuaiImage.showBigPic()">
          <mat-icon>zoom_in</mat-icon>
        </button>
        @if (isActive && isFromOrder()) {
          <button mat-icon-button class="active-sign" (click)="selectMokuai(mokuai)"><mat-icon>check</mat-icon></button>
        }
      </div>
      <app-image
        #mokuaiImage
        class="mokuai-xiaoguotu"
        [src]="mokuai?.xiaoguotu"
        [bigPicSrc]="mokuai?.xiaoguotu"
        bigPicClickShowDisabled
        [prefix]="urlPrefix"
        (click)="selectMokuai(mokuai)"
      ></app-image>
      <div class="flex-row" style="align-items: center">
        @if (isFromOrder()) {
          <div class="title center flex-110" [innerHTML]="getMokuaiTitle(mokuai, true)"></div>
        } @else {
          @if (data()?.isVersion2024) {
            <div class="title link text" (click)="openMokuai(mokuai)">{{ getMokuaiTitle(mokuai, false) }}</div>
          } @else {
            <div class="title" [innerHTML]="getMokuaiTitle(mokuai, false)"></div>
          }
          <button mat-icon-button color="accent" (click)="removeMokuai(mokuai)"><mat-icon>cancel</mat-icon></button>
        }
      </div>
    </div>
  </div>
</ng-template>

@if (openedMsbj(); as openedMsbj) {
  <app-floating-dialog [maximized]="true" noTitle>
    <app-msbj #msbj [msbjInfo]="openedMsbj" closable (close)="closeMsbj($event)"></app-msbj>
  </app-floating-dialog>
}

@if (openedMokuai(); as openedMokuai) {
  <app-floating-dialog [maximized]="true" noTitle>
    <app-mokuai-item
      #mokuaiItem
      [mokuai]="openedMokuai.mokuai"
      [bancaiListData]="openedMokuai.bancaiListData"
      (close)="closeMokuai($event)"
    ></app-mokuai-item>
  </app-floating-dialog>
}

@if (openedMokuaiku(); as openedMokuaiku) {
  <app-floating-dialog [maximized]="true" noTitle>
    <app-mokuaiku #mokuaiku selectable [selectedMokuaiIds]="openedMokuaiku.ids" (close)="closeMokuaiku($event)"></app-mokuaiku>
  </app-floating-dialog>
}

@if (openedMkdcpz(); as openedMkdcpz) {
  <app-floating-dialog [maximized]="true" noTitle>
    <app-mkdxpz-editor
      [data]="openedMkdcpz.data"
      [title]="openedMkdcpz.title"
      [varNameItem]="openedMkdcpz.varNameItem"
      [validator]="mkdcpzValidator"
      closable
      (close)="closeMkdcpz($event)"
    ></app-mkdxpz-editor>
  </app-floating-dialog>
}
