<ng-scrollbar>
  <mat-card *ngFor="let group of data">
    <mat-card-header>
      <mat-card-title>
        {{ group.title }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field *ngFor="let item of group.items">
        <mat-label>{{ item.label }}</mat-label>
        <input
          type="text"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="form[item.label]"
          (input)="options$[item.label].change$.emit(form[item.label])"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options$[item.label].options$ | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <!-- <mat-select [(ngModel)]="form[item.label]" multiple> -->
        <!-- </mat-select> -->
      </mat-form-field>
      <mat-icon *ngIf="group.title === '自由选择'" color="primary" (click)="addOption()">add_circle</mat-icon>
    </mat-card-content>
  </mat-card>
</ng-scrollbar>
<div matDialogActions>
  <button mat-raised-button (click)="submit()">提交</button>
  <button mat-raised-button (click)="cancel()">取消</button>
  <button mat-raised-button (click)="reset()">重置</button>
</div>
