<ng-scrollbar>
  @for (group of data; track $index) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ group.title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @for (item of group.items; track $index) {
          <mat-form-field>
            <mat-label>{{ item.label }}</mat-label>
            <input
              type="text"
              matInput
              [matAutocomplete]="auto"
              [(ngModel)]="form[item.label]"
              (input)="options$[item.label].change$.emit(form[item.label])"
            />
            <mat-autocomplete #auto="matAutocomplete">
              @for (option of options$[item.label].options$ | async; track $index) {
                <mat-option [value]="option">
                  {{ option }}
                </mat-option>
              }
            </mat-autocomplete>
            <!-- <mat-select [(ngModel)]="form[item.label]" multiple> -->
            <!-- </mat-select> -->
          </mat-form-field>
        }
        @if (group.title === "自由选择") {
          <mat-icon (click)="addOption()">add_circle</mat-icon>
        }
      </mat-card-content>
    </mat-card>
  }
</ng-scrollbar>
<div matDialogActions>
  <button mat-flat-button (click)="submit()">提交</button>
  <button mat-flat-button (click)="cancel()">取消</button>
  <button mat-flat-button (click)="reset()">重置</button>
</div>
