.progress-bar {
  --progress-bar-width: 100%;
  --progress-bar-height: 50px;
  position: relative;
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: calc(var(--progress-bar-height) / 2);
  line-height: var(--progress-bar-height);
  font-size: calc(var(--progress-bar-height) / 2.5);
  box-shadow: var(--mat-sys-level2);
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    box-shadow: var(--mat-sys-level3);
  }
  &:active {
    box-shadow: var(--mat-sys-level4);
  }

  .progress-bar-msg {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    &.click {
      animation:
        progress-slide 10s linear infinite,
        progress-flicker 5s alternate infinite;
    }
  }

  .progress-bar-layer {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transition: 0.3s;
    background-color: var(--mat-sys-surface);
    mix-blend-mode: soft-light;
  }

  &.progress,
  &.success {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }
  &.error {
    background-color: var(--mat-sys-error);
    color: var(--mat-sys-on-error);
  }
  &.warning {
    background-color: var(--mat-sys-tertiary);
    color: var(--mat-sys-on-tertiary);
  }
}

$slide-px: 3px;
@keyframes progress-slide {
  0%,
  40%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX($slide-px);
  }
  60% {
    transform: translateX(-$slide-px);
  }
}
@keyframes progress-flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 4px var(--mat-sys-on-primary),
      0 0 12px var(--mat-sys-primary),
      0 0 24px var(--mat-sys-tertiary);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
