:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  --title-size: 1.5rem;
  --title-padding: 10px;
}

.toolbar {
  padding: 5px 10px;
  align-items: center;

  > :not(:last-child) {
    margin-right: 5px;
  }
}

.links {
  text-align: right;
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;

  .link {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.bancai-infos {
  padding: 10px;
  .bancai-info {
    > :not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .bancai-info-row {
    align-items: center;

    > :not(:last-child) {
      margin-right: 5px;
    }

    app-input {
      width: 0;
    }
  }
}

.xingkong-strings {
  font-size: 1.2em;
  line-height: 1.2em;
  white-space: pre;

  .group {
    padding: 10px;
  }

  .item {
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  .value-tag {
    display: inline;
  }

  &.wrap {
    white-space: pre-wrap;
  }
  &.formatted {
    .item {
      &:not(:last-child) {
        border-bottom: var(--border);
        margin-bottom: 5px;
        padding-bottom: 5px;
      }
    }

    .value-tag {
      display: block;

      .tag {
        color: blueviolet;
      }
    }
  }
}
