<router-outlet></router-outlet>
<app-spinner></app-spinner>
@if (!isProd) {
  <div class="nav no-print" cdkDrag>
    <button mat-icon-button [matMenuTriggerFor]="links">
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #links="matMenu">
      <button mat-menu-item (click)="changeProject()">更换项目</button>
      @for (routeInfo of routesInfo(); track $index) {
        <button mat-menu-item (click)="navigate(routeInfo)">
          {{ routeInfo.title2 }}
        </button>
      }
      <app-message-test></app-message-test>
    </mat-menu>
    <button mat-icon-button (click)="toggleDarkMode()">
      @if (isDarkMode()) {
        <mat-icon>light_mode</mat-icon>
      } @else {
        <mat-icon>dark_mode</mat-icon>
      }
    </button>
  </div>
}
