<router-outlet></router-outlet>
<app-spinner></app-spinner>
@if (!isProd) {
  <div class="nav no-print" cdkDrag>
    <mat-icon color="primary" [matMenuTriggerFor]="links">apps</mat-icon>
    <mat-menu #links="matMenu">
      <button mat-menu-item (click)="changeProject()">更换项目</button>
      @for (routeInfo of routesInfo; track routeInfo) {
        <button mat-menu-item (click)="navigate(routeInfo)">
          {{ getRouteTitle(routeInfo) }}
        </button>
      }
      <app-message-test></app-message-test>
    </mat-menu>
  </div>
}
