.header {
  position: relative;
}

.显示内容 {
  width: 0;
}
.work-space {
  flex: 1 1 0;
  overflow: hidden;
  position: relative;
}
.menus {
  width: 300px;
  display: flex;
}

.page {
  margin: auto;
  position: relative;
}
.page-inner {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--background-inner);
}
.multi-selector {
  position: absolute;
  background-color: rgba(29, 149, 234, 0.3);
  border: var(--mat-sys-surface) solid 1px;
}

mat-tab-group {
  ::ng-deep {
    mat-tab-body {
      padding: 5px;
      display: flex;
      flex-direction: column;
    }
    .mat-mdc-tab-body-content {
      overflow: hidden;
      > * {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .mat-mdc-tab {
      padding: 0;
    }
  }
}
