<div class="header toolbar">
  <app-page-components-select class="flex-110"></app-page-components-select>
  <div class="toolbar">
    <button mat-raised-button color="primary" (click)="resetPage()">清空</button>
    <button mat-raised-button color="primary" (click)="import()">导入</button>
    <button mat-raised-button color="primary" (click)="export()">导出</button>
    <button mat-raised-button color="primary" (click)="preview()">预览</button>
    <button mat-raised-button [color]="isSaved() ? 'primary' : 'accent'" (click)="save()">保存</button>
  </div>
</div>
<div class="flex-row flex-110" style="overflow: hidden">
  <div class="显示内容"></div>
  <div #workSpaceEl class="work-space" [style]="workSpaceStyle()">
    <ng-scrollbar class="enable-x">
      <div #pageEl class="page" [style]="pageStyle()" (pointerdown)="onPagePointerDown($event)" (pointerup)="onPagePointerUp($event)">
        <div class="page-inner">
          <app-page-components-diaplay></app-page-components-diaplay>
        </div>
      </div>
    </ng-scrollbar>
    <app-page-component-config2 [workSpaceEl]="workSpaceEl"></app-page-component-config2>
  </div>
  <div class="menus">
    <div class="toolbar vertical">
      <button mat-icon-button color="primary" matTooltip="撤销(ctrl+z)" matTooltipPosition="left" [disabled]="!canUndo()" (click)="undo()">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="恢复(ctrl+y)" matTooltipPosition="left" [disabled]="!canRedo()" (click)="redo()">
        <mat-icon>redo</mat-icon>
      </button>
    </div>
    <mat-tab-group [(selectedIndex)]="menuTabIndex">
      <mat-tab label="页面设置">
        <app-page-config class="tab"></app-page-config>
      </mat-tab>
      <mat-tab label="图层管理">
        <app-page-component-config></app-page-component-config>
      </mat-tab>
      <mat-tab label="页面管理"></mat-tab>
    </mat-tab-group>
  </div>
</div>
