.显示内容 {
  width: 300px;
}

.工作区 {
  flex: 1 1 0;
  overflow: hidden;
}

.功能区 {
  width: 300px;
  display: flex;
}

.page {
  margin: auto;
  position: relative;
}

.page-component {
  position: absolute;
}

mat-tab-group {
  ::ng-deep {
    mat-tab-body {
      padding: 5px;
    }

    .mat-mdc-tab {
      padding: 0;
    }
  }
}
