.header {
  position: relative;

  .actions {
    position: absolute;
    right: 0;
    height: 100%;
  }
}

.显示内容 {
  width: 300px;
}
.work-space {
  flex: 1 1 0;
  overflow: hidden;
  position: relative;
}
.menus {
  width: 300px;
  display: flex;
}

.page {
  margin: auto;
  position: relative;
}

.componet-menu {
  position: absolute;
  width: 240px;
  max-height: 100%;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);

  .name {
    text-align: left;
    padding: 5px 10px;
  }

  .inputs {
    padding: 5px;
  }
}

mat-tab-group {
  ::ng-deep {
    mat-tab-body {
      padding: 5px;
    }

    .mat-mdc-tab {
      padding: 0;
    }
  }
}
