<div class="toolbar">
  <div class="组件栏 flex-110">
    <app-page-components-select
      [(components)]="pageComponents"
      (componentsChange)="onPageComponentChanged($event)"
    ></app-page-components-select>
  </div>
  <button mat-raised-button color="primary" (click)="resetPage()">清空</button>
  <button mat-raised-button color="primary">预览</button>
  <button mat-raised-button color="primary">保存</button>
</div>
<div class="flex-row flex-110" style="overflow: hidden">
  <div class="显示内容"></div>
  <div class="工作区" [style]="workSpaceStyle()">
    <ng-scrollbar class="enable-x">
      <div #pageEl class="page" [style]="pageStyle()" (click)="onPageClick()">
        <app-page-components-diaplay
          [(components)]="pageComponents"
          (componentsChange)="onPageComponentChanged($event)"
          [(activeComponent)]="activePageComponent"
        ></app-page-components-diaplay>
      </div>
    </ng-scrollbar>
  </div>
  <div class="功能区">
    <div class="toolbar vertical">
      <button mat-icon-button color="primary" matTooltip="撤销(ctrl+z)" (click)="undo()"><mat-icon>undo</mat-icon></button>
      <button mat-icon-button color="primary" matTooltip="恢复(ctrl+y)" (click)="redo()"><mat-icon>redo</mat-icon></button>
    </div>
    <mat-tab-group [(selectedIndex)]="menuTabIndex">
      <mat-tab label="页面设置">
        <ng-scrollbar>
          <app-page-config class="tab" [(config)]="pageConfig" (configChange)="onPageConfigChanged($event)"></app-page-config>
        </ng-scrollbar>
      </mat-tab>
      <mat-tab label="图层管理">
        <ng-scrollbar>
          <app-page-component-config
            [(components)]="pageComponents"
            [(activeComponent)]="activePageComponent"
            (componentsChange)="onPageComponentChanged($event)"
          ></app-page-component-config>
        </ng-scrollbar>
      </mat-tab>
      <mat-tab label="页面管理"></mat-tab>
    </mat-tab-group>
  </div>
</div>
