<div class="toolbar">
  <div class="组件栏 flex-110"></div>
  <button mat-raised-button color="primary">预览</button>
  <button mat-raised-button color="primary">保存</button>
</div>
<div class="flex-row flex-110" style="overflow: hidden">
  <div class="显示内容"></div>
  <div class="工作区" #pageContainer [style]="workSpaceStyle()">
    <ng-scrollbar class="enable-x">
      <div class="page" [style]="pageStyle()"></div>
    </ng-scrollbar>
  </div>
  <div class="功能区">
    <mat-tab-group>
      <mat-tab label="页面设置">
        <app-page-config-menu
          class="tab"
          [page]="page"
          [workSpaceStyle]="workSpaceStyle()"
          (pageChanged)="onPageChanged()"
          (workSpaceStyleChanged)="workSpaceStyle.set($event)"
        ></app-page-config-menu>
      </mat-tab>
      <mat-tab label="图层管理"></mat-tab>
      <mat-tab label="页面管理"></mat-tab>
    </mat-tab-group>
  </div>
</div>
