<div class="btn-group">
  <button mat-raised-button [style.z-index]="data ? '1' : '0'" [color]="isDrawingLine ? 'accent' : 'primary'" (click)="drawLine()">
    {{ drawLineName }}
  </button>
  <button mat-raised-button [style.z-index]="data ? '1' : '0'" [color]="isMovingLines ? 'accent' : 'primary'" (click)="moveLines()">
    {{ moveLinesName }}
  </button>
  <button mat-raised-button [style.z-index]="data ? '1' : '0'" [color]="isCuttingLine ? 'accent' : 'primary'" (click)="cutLine()">
    {{ cutLineName }}
  </button>
  <button mat-raised-button color="primary" (click)="autoFix()">修正</button>
  <button
    mat-raised-button
    [style.z-index]="data ? '1' : '0'"
    [color]="isAddingWHDashedLines ? 'accent' : 'primary'"
    [disabled]="!canAddWHDashedLines()"
    (click)="toggleWHDashedLines()"
  >
    增加宽高虚线
  </button>
</div>
<form [class.not-allowed]="editDiabled">
  <button hidden></button>
  <div class="form-item">
    <mat-form-field>
      <mat-label>长度</mat-label>
      <input matInput type="number" [value]="getLineLength()" (change)="setLineLength($event)" name="lineLength" />
    </mat-form-field>
  </div>
  <div class="form-item">
    <app-cad-layer-input [entities]="selected"></app-cad-layer-input>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>显示线长</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('显示线长')"
        (input)="setLineText($event, '显示线长')"
        (focus)="focusedField = '显示线长'"
        (blur)="focusedField = ''"
        name="显示线长"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field floatLabel="always">
      <mat-label>是否隐藏线长</mat-label>
      <mat-checkbox
        [checked]="getHideLengthChecked()"
        [indeterminate]="getHideLengthIndeterminate()"
        (change)="setHideLength($event)"
        name="hideLength"
      ></mat-checkbox>
      <input matInput hidden />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>线长字体大小</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('lengthTextSize')"
        (input)="setLineText($event, 'lengthTextSize')"
        name="lengthTextSize"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>颜色</mat-label>
      <input
        matInput
        [value]="colorText"
        [style]="{color: colorValue, backgroundColor: colorBg, transition: '0.3s'}"
        [matMenuTriggerFor]="colorPicker"
        readonly
      />
      <mat-menu #colorPicker="matMenu">
        <color-circle
          [width]="202"
          [circleSpacing]="10"
          [color]="colorValue"
          [colors]="selectableColors"
          (onChangeComplete)="setLineColor($event)"
          appClickStop
        ></color-circle>
      </mat-menu>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>线宽</mat-label>
      <input matInput type="number" [value]="getLineText('linewidth')" (input)="setLineText($event, 'linewidth')" name="linewidth" />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>名字</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('mingzi')"
        (input)="setLineText($event, 'mingzi')"
        (focus)="focusedField = 'mingzi'"
        (blur)="focusedField = ''"
        name="lineMingzi"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>名字2</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('mingzi2')"
        (input)="setLineText($event, 'mingzi2')"
        (focus)="focusedField = 'mingzi2'"
        (blur)="focusedField = ''"
        name="lineMingzi"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>刨坑起始线</mat-label>
      <mat-select name="刨坑起始线" [value]="getLineText('刨坑起始线')" (selectionChange)="setLineText($event, '刨坑起始线')">
        <mat-option [value]="true">是</mat-option>
        <mat-option [value]="false">否</mat-option></mat-select
      >
    </mat-form-field>
  </div>
  <div class="form-item" *ngIf="data.type === '包边正面'">
    <mat-form-field>
      <mat-label>可改名字</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('kegaimingzi')"
        (input)="setLineText($event, 'kegaimingzi')"
        [disabled]="selected.length !== 1"
        name="lineMingzi"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>区间</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('qujian')"
        (input)="setLineText($event, 'qujian')"
        (focus)="focusedField = 'qujian'"
        (blur)="focusedField = ''"
        name="lineQujian"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>公式</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('gongshi')"
        (input)="setLineText($event, 'gongshi')"
        (focus)="focusedField = 'gongshi'"
        (blur)="focusedField = ''"
        name="lineGongshi"
        [errorStateMatcher]="gongshiMatcher"
      />
      <mat-error>{{ inputErrors.gongshi }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>分体线长公式</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('分体线长公式')"
        (input)="setLineText($event, '分体线长公式')"
        (focus)="focusedField = '分体线长公式'"
        (blur)="focusedField = ''"
        name="分体线长公式"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>关联变化公式</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('guanlianbianhuagongshi')"
        (input)="setLineText($event, 'guanlianbianhuagongshi')"
        (focus)="focusedField = 'guanlianbianhuagongshi'"
        (blur)="focusedField = ''"
        name="guanlianbianhuagongshi"
        [errorStateMatcher]="guanlianbianhuagongshiMatcher"
      />
      <mat-error>{{ inputErrors.guanlianbianhuagongshi }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>孔位</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('kongwei')"
        (input)="setLineText($event, 'kongwei')"
        (focus)="focusedField = 'kongwei'"
        (blur)="focusedField = ''"
        name="kongwei"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>下一个折弯标线</mat-label>
      <mat-select name="nextZhewan" [value]="getLineText('nextZhewan')" (selectionChange)="setLineText($event, 'nextZhewan')">
        <mat-option value="自动">自动</mat-option>
        <mat-option value="无">无</mat-option>
        <mat-option *ngFor="let v of zhewan | async" [value]="v + 'mm'">{{ v }}mm</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>两根线之间的折弯标记</mat-label>
      <mat-select name="nextZhewan" [value]="getLineText('betweenZhewan')" (selectionChange)="setLineText($event, 'betweenZhewan')">
        <mat-option value="自动">自动</mat-option>
        <mat-option value="无">无</mat-option>
        <mat-option *ngFor="let v of zhewan | async" [value]="v + 'mm'">{{ v }}mm</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>折弯标记偏移</mat-label>
      <input
        matInput
        type="number"
        name="zhewanOffset"
        [value]="getLineText('zhewanOffset')"
        (input)="setLineText($event, 'zhewanOffset')"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>指定折弯标记位置</mat-label>
      <input
        matInput
        min="0"
        type="number"
        name="zhewanValue"
        [value]="getLineText('zhewanValue')"
        (input)="setLineText($event, 'zhewanValue')"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>展开方式</mat-label>
      <mat-select name="zhankaifangshi" [value]="getLineText('zhankaifangshi')" (selectionChange)="setLineText($event, 'zhankaifangshi')">
        <mat-option value="自动计算">自动计算</mat-option>
        <mat-option value="使用线长">使用线长</mat-option>
        <mat-option value="指定长度">指定长度</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item" *ngIf="getLineText('zhankaifangshi') === '指定长度'">
    <mat-form-field>
      <mat-label>指定展开长</mat-label>
      <input
        matInput
        type="text"
        name="zidingzhankaichang"
        [value]="getLineText('zidingzhankaichang')"
        (input)="setLineText($event, 'zidingzhankaichang')"
        [disabled]="getLineText('zhankaifangshi') !== '指定长度'"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>条件取值</mat-label>
      <input matInput type="text" disabled />
      <button mat-icon-button matSuffix color="primary" (click)="editTiaojianquzhi()">
        <mat-icon>list</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>使用差值</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('shiyongchazhi')"
        (input)="setLineText($event, 'shiyongchazhi')"
        (focus)="focusedField = 'shiyongchazhi'"
        (blur)="focusedField = ''"
        name="shiyongchazhi"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>展开小数处理</mat-label>
      <mat-select
        name="zhankaixiaoshuchuli"
        [value]="getLineText('zhankaixiaoshuchuli')"
        (selectionChange)="setLineText($event, 'zhankaixiaoshuchuli')"
      >
        <mat-option value="不处理">不处理</mat-option>
        <mat-option value="舍去小数">舍去小数</mat-option>
        <mat-option value="小数进一">小数进一</mat-option>
        <mat-option value="四舍五入">四舍五入</mat-option>
        <mat-option value="0.5取整">0.5取整</mat-option>
        <mat-option value="保留一位小数四舍五入">保留一位小数四舍五入</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>算料单小数处理</mat-label>
      <mat-select
        name="suanliaosanxiaoshuchuli"
        [value]="getLineText('suanliaosanxiaoshuchuli')"
        (selectionChange)="setLineText($event, 'suanliaosanxiaoshuchuli')"
      >
        <mat-option value="默认">默认</mat-option>
        <mat-option value="舍去小数">舍去小数</mat-option>
        <mat-option value="小数进一">小数进一</mat-option>
        <mat-option value="四舍五入">四舍五入</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>开料时删除</mat-label>
      <mat-select
        name="kailiaoshishanchu"
        [value]="getLineText('kailiaoshishanchu')"
        (selectionChange)="setLineText($event, 'kailiaoshishanchu')"
      >
        <mat-option [value]="true">是</mat-option>
        <mat-option [value]="false">否</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>变化方式</mat-label>
      <mat-select name="变化方式" [value]="getLineText('变化方式')" (selectionChange)="setLineText($event, '变化方式')">
        <mat-option *ngFor="let o of bhfs" [value]="o">{{ o }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field *ngFor="let i of [0, 1]" style="width: 50%">
      <mat-label>角度范围</mat-label>
      <input
        matInput
        type="number"
        min="0"
        max="360"
        name="角度范围"
        [value]="getLineText('角度范围', i)"
        (input)="setLineText($event, '角度范围', i)"
      />
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>可输入修改</mat-label>
      <mat-select name="可输入修改" [value]="getLineText('可输入修改')" (selectionChange)="setLineText($event, '可输入修改')">
        <mat-option [value]="true">是</mat-option>
        <mat-option [value]="false">否</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>圆弧显示</mat-label>
      <mat-select name="圆弧显示" [value]="getLineText('圆弧显示')" (selectionChange)="setLineText($event, '圆弧显示')">
        <mat-option value="默认">默认</mat-option>
        <mat-option value="半径">半径</mat-option>
        <mat-option value="R+半径">R+半径</mat-option>
        <mat-option value="φ+直径">φ+直径</mat-option>
        <mat-option value="弧长">弧长</mat-option>
        <mat-option value="弧长+线长">弧长+线长</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>企料位置识别</mat-label>
      <mat-select name="企料位置识别" [value]="getLineText('企料位置识别')" (selectionChange)="setLineText($event, '企料位置识别')">
        <mat-option *ngFor="let o of qlwzshb" [value]="o">{{ o }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>算料不要</mat-label>
      <mat-select name="算料不要" [value]="getLineText('算料不要')" (selectionChange)="setLineText($event, '算料不要')">
        <mat-option [value]="true">是</mat-option>
        <mat-option [value]="false">否</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>开料不要</mat-label>
      <mat-select name="开料不要" [value]="getLineText('开料不要')" (selectionChange)="setLineText($event, '开料不要')">
        <mat-option [value]="true">是</mat-option>
        <mat-option [value]="false">否</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-item">
    <mat-form-field>
      <mat-label>双向折弯附加值</mat-label>
      <input
        matInput
        type="text"
        [value]="getLineText('双向折弯附加值')"
        (input)="setLineText($event, '双向折弯附加值')"
        (focus)="focusedField = '双向折弯附加值'"
        (blur)="focusedField = ''"
        name="双向折弯附加值"
      />
    </mat-form-field>
  </div>
</form>
