<div class="toolbar">
  <button mat-flat-button [style.z-index]="data() ? '1' : '0'" [class.accent]="isDrawingLine()" (click)="drawLine()">
    {{ drawLineName }}
  </button>
  <button mat-flat-button [style.z-index]="data() ? '1' : '0'" [class.accent]="isMovingLines()" (click)="moveLines()">
    {{ moveLinesName }}
  </button>
  <button mat-flat-button [style.z-index]="data() ? '1' : '0'" [class.accent]="isCuttingLine()" (click)="cutLine()">
    {{ cutLineName }}
  </button>
  <button mat-flat-button (click)="autoFix()">修正</button>
  <button
    mat-flat-button
    [style.z-index]="data() ? '1' : '0'"
    [class.accent]="isAddingWHDashedLines()"
    [disabled]="!canAddWHDashedLines()"
    (click)="toggleWHDashedLines()"
  >
    增加宽高虚线
  </button>
</div>
@for (info of lineInputInfos1(); track $index) {
  <app-input [info]="info"></app-input>
}
<app-cad-layer-input [entities]="selected()"></app-cad-layer-input>
@for (info of lineInputInfos2(); track $index) {
  <app-input [info]="info"></app-input>
}
