<ng-scrollbar>
  @for (page of data; track page; let i = $index) {
    <div class="page">
      @for (card of page; track card; let j = $index) {
        <div class="card" [style.margin-top]="getTop(j)" [style.margin-left]="getLeft(j)">
          @if (card.type === "说明") {
            <div class="desc-left">
              @for (t of card.text; track t) {
                <div>{{ t }}</div>
              }
            </div>
            <app-image class="qrcode" [src]="card.codeText"></app-image>
            <div class="code">{{ card.code }}</div>
          }
          @if (card.type === "CAD") {
            <div class="zhankai">{{ card.zhankai }}</div>
            <app-cad-image
              [id]="card.id"
              [width]="cadWidth"
              [height]="cadHeight"
              [backgroundColor]="cadBackgroundColor"
              [paramsGetter]="getCadPreviewParams"
            ></app-cad-image>
            <app-image class="qrcode" [src]="card.codeText"></app-image>
            <div class="code">{{ card.code }}</div>
            <div class="desc-right">
              @for (t of card.text; track t) {
                <div>{{ t }}</div>
              }
            </div>
          }
        </div>
      }
    </div>
  }
</ng-scrollbar>
<div class="btn-group menu">
  <button mat-raised-button color="primary" (click)="printPages()">打印预览</button>
</div>
<app-spinner [id]="loaderId"></app-spinner>
