<ng-scrollbar>
  <div class="page" *ngFor="let page of data; let i = index">
    <div class="card" [style.margin-top]="getTop(j)" [style.margin-left]="getLeft(j)" *ngFor="let card of page; let j = index">
      <ng-container *ngIf="card.type === '说明'">
        <!-- <div class="title" *ngIf="card.title">{{ card.title }}</div> -->
        <div class="desc-left">
          <div *ngFor="let t of card.text">{{ t }}</div>
        </div>
        <app-image class="qrcode" [src]="card.codeText"></app-image>
        <div class="code">{{ card.code }}</div>
      </ng-container>
      <ng-container *ngIf="card.type === 'CAD'">
        <div class="zhankai">{{ card.zhankai }}</div>
        <app-image class="cad-preview" [src]="card.cadImg"></app-image>
        <app-image class="qrcode" [src]="card.codeText"></app-image>
        <div class="code">{{ card.code }}</div>
        <div class="desc-right">
          <div *ngFor="let t of card.text">{{ t }}</div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-scrollbar>
<div class="btn-group menu">
  <button mat-raised-button color="primary" (click)="printPages()">打印预览</button>
</div>
<app-spinner [id]="loaderId"></app-spinner>
