<div class="toolbar">
  <div class="title">{{ mokuai().name }}</div>
  <div class="flex-110"></div>
  <button mat-raised-button color="primary" (click)="openDdbq()">测试</button>
  <button mat-raised-button color="primary" (click)="saveAs()">另存为</button>
  <button mat-raised-button color="primary" (click)="save()">保存</button>
  <button mat-raised-button color="primary" (click)="close()">关闭</button>
</div>
<ng-scrollbar>
  <ng-scrollbar class="enable-x">
    <div class="item-infos flex-row">
      <div class="item-basic flex-column">
        <div class="item">
          <app-image class="link" [src]="mokuai().xiaoguotu" [prefix]="imgPrefix()" (click)="editMokuai()"></app-image>
        </div>
      </div>
      <div class="item-bancai flex-column">
        <div class="toolbar">
          <div class="title">板材分组</div>
          <button mat-raised-button color="primary" (click)="editMrbcjfz()">编辑</button>
          <!-- @if (morenbancaiInputInfos().length < 1) {
                <button mat-icon-button color="primary" (click)="addMorenbancai()"><mat-icon>add</mat-icon></button>
              } -->
        </div>
        @for (info of morenbancaiInputInfos(); track $index) {
          <app-input [info]="info"></app-input>
        }
      </div>
      <div class="mokuai-gongneng flex-column">
        <div class="title">模块功能</div>
        <ng-scrollbar>
          <div class="box">
            <div class="flex-column">
              @for (info of mokuaiInputInfos(); track $index) {
                <app-input [info]="info"></app-input>
              }
            </div>
          </div>
        </ng-scrollbar>
      </div>
      <app-table
        class="flex-110"
        [info]="xuanxiangTable()"
        (toolbarButtonClick)="onXuanxiangToolbar($event)"
        (rowButtonClick)="onXuanxiangRow($event)"
      ></app-table>
    </div>
  </ng-scrollbar>
  <div class="item-cads border flex-row">
    <div class="mokuai-gongshi flex-column">
      <div class="title">模块公式</div>
      @if (useSlgsInfo()) {
        <app-suanliaogongshi [info]="slgsInfo()" (infoChange)="onSlgsChange($event)"></app-suanliaogongshi>
      } @else {
        <app-formulas-editor
          #slgs
          class="box flex-110"
          [formulas]="mokuai().suanliaogongshi"
          noFormulasText
          noScroll
          dataName="模块公式"
        ></app-formulas-editor>
      }
    </div>
    <mat-divider vertical></mat-divider>
    <div class="cads flex-column">
      <div class="toolbar">
        <div class="title">模块的所有配件CAD</div>
        <button mat-raised-button color="primary" (click)="selectCads()">选择CAD</button>
        <button mat-raised-button color="primary" (click)="importCads()">导入替换</button>
        <button mat-raised-button color="primary" (click)="exportCads()">导出</button>
      </div>
      <div class="items no-items-per-row flex-110">
        @for (cad of selectedCads(); track i; let i = $index) {
          <app-cad-item
            class="item"
            [cad]="cad"
            [collection]="collection"
            [buttons]="cadButtons()"
            [customInfo]="{index: i}"
            [yaoqiu]="cadYaoqiu()"
            [mokuaiName]="mokuai().name"
            (afterEditCad)="afterEditCad()"
          ></app-cad-item>
        }
      </div>
    </div>
  </div>
</ng-scrollbar>

@if (showCadsDialog()) {
  <app-floating-dialog [maximized]="true" noTitle>
    <div class="flex-column" appFloatingDialogBody>
      <app-mokuai-cads #mokuaiCads class="flex-110" selectable [(selectedCads)]="selectedCads"></app-mokuai-cads>
      <div class="toolbar center">
        <button mat-raised-button color="primary" (click)="closeCadsDialog(mokuaiCads)">确定</button>
        <button mat-raised-button color="primary" (click)="closeCadsDialog(null)">取消</button>
      </div>
    </div>
  </app-floating-dialog>
}

<app-floating-dialog [maximized]="true" [minimized]="!showMrbcjfzDialog()" [active]="showMrbcjfzDialog()" noTitle>
  <div class="flex-column" appFloatingDialogBody>
    <app-mrbcjfz
      #mrbcjfz
      class="flex-110"
      closeable
      [inputData]="mrbcjfzInputData()"
      (dataSubmit)="onMrbcjfSubmit($event)"
      (dataClose)="onMrbcjfClose()"
    ></app-mrbcjfz>
  </div>
</app-floating-dialog>
