:host {
  padding: 5px;
}

.item-infos {
  height: 362px;
  margin: 20px 0 10px 0;
  > * {
    flex: 0 0 auto;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .title {
    font-size: 1em;
    font-weight: bold;
  }

  .item-basic {
    width: 250px;
    --item-height: 100%;
  }

  .item-bancai {
    width: 250px;
  }

  .box {
    padding: 3px;
    box-sizing: border-box;
    border: var(--border);
  }

  .mokuai-gongneng {
    width: 350px;
  }

  .xuanxiang-table {
    width: 560px;
  }
}

.item-cads {
  .title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .cads {
    flex: 1 1 0;

    .item {
      padding: 3px;
      &.active {
        border: 1px solid red;
      }
    }
  }
}

.mokuai-gongshi {
  width: 500px;
}
