:host {
  width: calc(100vw - 48px);
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--mat-sys-outline);

  .card {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    box-shadow: var(--mat-sys-level2);
    .zhankai-form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;

      .halfwidth {
        width: 50%;
      }
      .fullwidth {
        width: 100%;
      }

      .mat-mdc-form-field {
        box-sizing: border-box;
        padding: 5px;
        flex: 1 1 auto;
      }

      .toolbar {
        margin: 0;
        position: absolute;
        top: 18px;
        right: 8px;
        z-index: 1;
      }
    }
  }
}
