<ng-scrollbar>
  <div class="cards">
    <mat-card class="card" *ngFor="let item of data; let i = index">
      <div class="zhankai-form">
        <div class="btn-group">
          <button mat-flat-button (click)="copyItem(i)">复制</button>
          <button mat-flat-button (click)="removeItem(i)">删除</button>
        </div>
        <div class="fullwidth" style="display: flex; align-items: center">
          <mat-checkbox
            (click)="onCheckboxChanglick($event)"
            [checked]="checkedIndices.has(i)"
            (change)="onCheckboxChange($event, i)"
          ></mat-checkbox>
          <mat-form-field style="font-weight: bold; color: #ff5e00">
            <mat-label>名字</mat-label>
            <input matInput type="text" [(ngModel)]="item.name" (input)="validate()" name="name" [errorStateMatcher]="nameMatcher" />
            <mat-error *ngIf="nameErrorMsg[i]">{{ nameErrorMsg[i] }}</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="halfwidth">
          <mat-label>开料CAD模板</mat-label>
          <input matInput type="text" [(ngModel)]="item.kailiaomuban" name="kailiaomuban" />
          <button mat-icon-button matSuffix color="primary" (click)="openCadmuban(item, 'kailiaomuban')">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button mat-icon-button matSuffix color="primary" (click)="selectCadmuban(item, 'kailiaomuban')">
            <mat-icon>list</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="halfwidth">
          <mat-label>内开模板</mat-label>
          <input matInput type="text" [(ngModel)]="item.neikaimuban" name="neikaimuban" />
          <button mat-icon-button matSuffix color="primary" (click)="openCadmuban(item, 'neikaimuban')">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button mat-icon-button matSuffix color="primary" (click)="selectCadmuban(item, 'neikaimuban')">
            <mat-icon>list</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="halfwidth">
          <mat-label>展开宽</mat-label>
          <input matInput type="text" [(ngModel)]="item.zhankaikuan" name="zhankaikuan" />
        </mat-form-field>
        <mat-form-field class="halfwidth">
          <mat-label>展开高</mat-label>
          <input matInput type="text" [(ngModel)]="item.zhankaigao" name="zhankaigao" />
        </mat-form-field>
        <mat-form-field class="halfwidth">
          <mat-label>数量</mat-label>
          <input matInput type="text" [(ngModel)]="item.shuliang" name="shuliang" />
        </mat-form-field>
        <mat-form-field class="halfwidth">
          <mat-label>数量倍数</mat-label>
          <input matInput type="text" [(ngModel)]="item.shuliangbeishu" name="shuliangbeishu" />
        </mat-form-field>
        <mat-form-field class="halfwidth">
          <mat-label>开料</mat-label>
          <input type="text" matInput hidden value=" " />
          <mat-slide-toggle [checked]="item.kailiao" (change)="item.kailiao = $event.checked"></mat-slide-toggle>
        </mat-form-field>
        <mat-form-field class="halfwidth">
          <mat-label>开料数量不为1时拆成单个</mat-label>
          <input type="text" matInput hidden value=" " />
          <mat-slide-toggle [checked]="item.chai" (change)="item.chai = $event.checked"></mat-slide-toggle>
        </mat-form-field>
        <mat-form-field class="fullwidth">
          <mat-label>包边正面按分类拼接</mat-label>
          <input matInput type="text" [(ngModel)]="item['包边正面按分类拼接']" name="包边正面按分类拼接" />
        </mat-form-field>
        <div class="sub-form-field">
          <div class="label">条件</div>
          <div *ngIf="item.conditions.length === 0">
            <button mat-icon-button (click)="arrayAdd(item.conditions, '')">
              <mat-icon color="primary">add_circle</mat-icon>
            </button>
          </div>
          <mat-form-field *ngFor="let c of ' '.repeat(item.conditions.length).split(''); let j = index">
            <input matInput type="text" [value]="item.conditions[j]" appReplaceFullChars [arr]="item.conditions" [index]="j" />
            <button mat-icon-button matSuffix color="primary" (click)="arrayAdd(item.conditions, '', j + 1)">
              <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-icon-button matSuffix color="primary" (click)="arrayRemove(item.conditions, j)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="sub-form-field">
          <div class="label">内部公式</div>
          <div *ngIf="keysOf(item.neibugongshi).length === 0">
            <button mat-icon-button color="primary" (click)="objectAdd(item.neibugongshi, '')">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
          <div *ngFor="let key of keysOf(item.neibugongshi)">
            <mat-form-field style="width: 30%">
              <mat-label>内部公式-键</mat-label>
              <input type="text" matInput [value]="key" (change)="changeObjectKey(item.neibugongshi, key, $event)" />
            </mat-form-field>
            <mat-form-field style="width: 70%">
              <mat-label>内部公式-值</mat-label>
              <input type="text" matInput [value]="item.neibugongshi[key]" appReplaceFullChars [obj]="item.neibugongshi" [key]="key" />
              <button mat-icon-button matSuffix color="primary" (click)="objectAdd(item.neibugongshi, '', '')">
                <mat-icon>add_circle</mat-icon>
              </button>
              <button mat-icon-button matSuffix color="primary" (click)="objectRemove(item.neibugongshi, key)">
                <mat-icon>remove_circle</mat-icon>
              </button>
              <button mat-icon-button matSuffix color="primary" (click)="selectOptions(cad, key)">
                <mat-icon>list</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="sub-form-field">
          <div class="label">开料时翻转</div>
          <div *ngIf="item.flip.length === 0">
            <button mat-icon-button color="primary" (click)="arrayAdd(item.flip, emptyFlipItem)">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
          <div class="sub-form-field-item" *ngFor="let item2 of item.flip; let j = index">
            <mat-form-field>
              <mat-label>{{ keysMap.kaiqi }}</mat-label>
              <input type="text" matInput [(ngModel)]="item2.kaiqi" />
              <button mat-icon-button matSuffix color="primary" (click)="selectOptions(item2, 'kaiqi')">
                <mat-icon>list</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ keysMap.chanpinfenlei }}</mat-label>
              <input type="text" matInput [(ngModel)]="item2.chanpinfenlei" />
              <button mat-icon-button matSuffix color="primary" (click)="selectOptions(item2, 'chanpinfenlei')">
                <mat-icon>list</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ keysMap.flip }}</mat-label>
              <mat-select [(ngModel)]="item2.fanzhuanfangshi">
                <mat-option *ngFor="let option of flipOptions" [value]="option.value">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-icon-button color="primary" (click)="arrayAdd(item.flip, emptyFlipItem, j + 1)">
                <mat-icon>add_circle</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="arrayRemove(item.flip, j)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="sub-form-field">
          <div class="label">拆开后翻转</div>
          <div>
            <button mat-icon-button color="primary" (click)="addFlipChai(i)">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
          <div class="sub-form-field-item">
            <div *ngFor="let key of keysOf(item.flipChai)">
              <mat-form-field class="halfwidth">
                <mat-label>序号</mat-label>
                <input type="text" matInput readonly [value]="key" />
                <button mat-icon-button matSuffix color="primary" (click)="removeFlipChai(i, key)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field class="halfwidth">
                <mat-label>翻转</mat-label>
                <mat-select [(ngModel)]="item.flipChai[key]">
                  <mat-option *ngFor="let option of flipOptions" [value]="option.value">
                    {{ option.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</ng-scrollbar>
<div matDialogActions>
  <button mat-raised-button color="primary" (click)="addItem()">添加</button>
  <button mat-raised-button color="primary" (click)="selectAll()">全选</button>
  <button mat-raised-button color="primary" (click)="unselectAll()">全不选</button>
</div>
<div matDialogActions>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="!valid">确定</button>
  <button mat-raised-button color="primary" (click)="cancel()">取消</button>
</div>
