:host {
  width: calc(100vw - 48px);
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  background-color: #5d5d5d;

  .card {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .zhankai-form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;

      .halfwidth {
        width: 50%;
      }
      .fullwidth {
        width: 100%;
      }

      .mat-mdc-form-field {
        box-sizing: border-box;
        padding: 5px;
        flex: 1 1 auto;
      }

      .btn-group {
        margin: 0;
        position: absolute;
        top: 18px;
        right: 8px;
        z-index: 1;

        button {
          padding: 0;
          min-width: unset;
          background-color: transparent;
        }
      }
    }
  }
}
