<ng-scrollbar>
  <div class="items items-per-row">
    @for (group of inputInfoGroups(); track i; let i = $index) {
      <div class="item">
        @for (info of group.inputInfos; track $index) {
          @if (info.label === "名字") {
            <div class="toolbar">
              <mat-checkbox [checked]="checkedIndices().includes(i)" (click)="toggleItemSelected(i)"></mat-checkbox>
              <app-input [info]="info"></app-input>
            </div>
          } @else {
            <app-input [info]="info"></app-input>
          }
        }
        <div class="sub-form-field">
          <div class="label">开料时翻转</div>
          @if (group.inputInfosFlip.length < 1) {
            <div class="toolbar">
              <button mat-icon-button (click)="addFlip(i)">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          }
          @for (infos of group.inputInfosFlip; track j; let j = $index) {
            <div class="sub-form-field-item item">
              @for (info of infos; track $index) {
                <app-input [info]="info"></app-input>
              }
              <div class="toolbar">
                <button mat-icon-button matSuffix (click)="addFlip(i, j)">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <button mat-icon-button matSuffix (click)="removeFlip(i, j)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
            </div>
          }
        </div>
        <div class="sub-form-field">
          <div class="label">拆开后翻转</div>
          <div class="toolbar">
            <button mat-icon-button (click)="addFlipChai(i)">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
          @for (infos of group.inputInfosFlipChai; track j; let j = $index) {
            <div class="sub-form-field-item item">
              @for (info of infos; track $index) {
                <app-input [info]="info"></app-input>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
</ng-scrollbar>
<div class="toolbar center">
  <button mat-flat-button (click)="addItem()">添加</button>
  <button mat-flat-button (click)="selectAll()">全选</button>
  <button mat-flat-button (click)="unselectAll()">全不选</button>
</div>
<div class="toolbar center">
  <button mat-flat-button (click)="submit()" [disabled]="!valid">确定</button>
  <button mat-flat-button (click)="cancel()">取消</button>
</div>
