<app-data-list
  class="flex-110"
  [navDataName]="navDataName()"
  navDataTitle="配件库分类"
  [itemsAll]="cadsAll()"
  [(items)]="cads"
  [(activeNavNode)]="activeNavNode"
  (navNameChange)="onNavNameChange($event)"
>
  <div class="toolbar" appDataListToolbar>
    <button mat-raised-button color="primary" (click)="refreshCads()">刷新</button>
    <button mat-raised-button color="primary" (click)="addCad()">添加</button>
    <button mat-raised-button [color]="cadsEditMode() ? 'accent' : 'primary'" (click)="toggleCadsEditMode()">编辑</button>
    <button mat-raised-button color="primary" (click)="removeCads()">批量删除</button>
    @if (cadYaoqiu()?.["有帮助文档"]) {
      <button mat-raised-button color="primary" (click)="cadYaoqiu()?.['打开帮助文档']()">帮助文档</button>
    }
    @if (cadYaoqiu()?.["有导入参考dxf模板"]) {
      <button mat-raised-button color="primary" (click)="cadYaoqiu()?.['下载导入参考dxf模板'](downloadApi)">下载导入cad模板</button>
    }
    <button mat-raised-button color="primary" (click)="openImportPage()">导入CAD</button>
    <button mat-raised-button color="primary" (click)="openExportPage()">导出CAD</button>
    <button mat-raised-button color="primary">导入</button>
    <button mat-raised-button color="primary">导出</button>
  </div>
  <div class="data-items items" appDataListItems>
    @for (cad of cads(); track i; let i = $index) {
      <div class="data-item item link">
        <app-cad-item
          [attr.data-id]="cad.id"
          [cad]="cad"
          [selectable]="cadsSelectInfo()[i]"
          [yaoqiu]="cadYaoqiu()"
          [buttons]="cadItemButtons()"
          [hideButtons]="!cadsEditMode()"
          [customInfo]="{index: i}"
          [collection]="collection"
          [isOnline]="cadsIsOnline[cad.id]"
          [editDisabled]="!cadItemEditable()"
          noFixedType
          (afterEditCad)="afterEditCad(cad.id)"
          (click)="clickCad(i)"
        ></app-cad-item>
      </div>
    }
  </div>
</app-data-list>

@if (selectable()) {
  <mat-divider vertical></mat-divider>
  <div class="selected-cads item">
    <div class="title">已选配件</div>
    @if (cadsEditMode()) {
      <div class="error">现在是编辑状态，不可以选择配件</div>
    }
    <ng-scrollbar #selectedCadsScrollbar class="selected-cads">
      <div class="data-items items">
        @for (cad of selectedCads(); track i; let i = $index) {
          <div class="data-item item link">
            <app-cad-image id="" [data]="cad"></app-cad-image>
            <div class="toolbar">
              <button mat-icon-button color="primary" (click)="unselectCad(i)">
                <mat-icon>remove_circle</mat-icon>
              </button>
              <div class="text long" [matTooltip]="cad.name" matTooltipPosition="above">
                {{ cad.name }}
              </div>
            </div>
          </div>
        }
      </div>
    </ng-scrollbar>
  </div>
}
