:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: var(--item-width);

  > :not(:last-child) {
    margin-bottom: 5px;
  }
  > .btn-group {
    margin: 0;
  }
}

.name {
  font-size: 18px;
}

.cads {
  display: flex;

  .cad {
    margin: 0;
    padding: 0;
  }

  .divider {
    display: flex;
    align-items: center;
  }

  .cad-container {
    justify-content: center;
    align-items: center;
  }

  .empty-cad {
    justify-content: center;
    align-items: center;
  }
}

.zhankais {
  width: 100%;
  display: flex;
  align-items: center;

  .zhankai {
    width: 100%;
    align-items: center;

    app-input {
      width: 0;
      &.width {
        flex: 3 3 0;
      }
      &.height {
        flex: 3 3 0;
      }
      &.num {
        flex: 2 2 0;
      }

      ::ng-deep {
        input {
          font-size: 15px;
        }
      }
    }

    .symbol {
      font-size: 24px;
      margin: 0 2px;
    }
  }
}

.muban-inputs {
  width: 100%;

  app-input {
    width: 0;
    flex: 1 1 0;
  }
}
