<div class="name">
  <button mat-button (click)="editCadName()">{{ cad["名字"] }}</button>
</div>
<div class="cads">
  <div class="cad item">
    <div #cadContainer class="cad-container flex-row"></div>
    <div class="toolbar compact">
      <button mat-button color="primary" (click)="centerCad()">居中</button>
      <button mat-button color="primary" (click)="editCad()">编辑</button>
      @for (button of buttons; track $index) {
        <button mat-button color="primary" (click)="button.onClick(this)">{{ button.name }}</button>
      }
    </div>
    <div class="inputs flex-column">
      @for (group of cadInputs; track $index) {
        <div class="group toolbar">
          @for (info of group; track $index) {
            <app-input [info]="info"></app-input>
          }
        </div>
      }
    </div>
    @if (fentiCads) {
      <div class="fenti-cads toolbar compact">
        @for (item of fentiCads | keyvalue: returnZero; track item.key) {
          <div class="fenti-cad toolbar">
            <div>{{ item.key }}:</div>
            <button mat-button (click)="selectFentiCad()">{{ item.value ? item.value["名字"] : "不做分体" }}</button>
          </div>
        }
        <button mat-button color="primary" (click)="clearFentiCads()">清空</button>
      </div>
    }
    @if (!noZhankai) {
      <div class="zhankais flex-column">
        @for (item of zhankaiInputs; track i; let i = $index) {
          <div class="zhankai flex-row">
            <!-- <button mat-icon-button color="primary" (click)="addZhankai(i)">
              <mat-icon>add_circle</mat-icon>
            </button>
            <button [disabled]="i === 0" mat-icon-button color="primary" (click)="removeZhankai(i)">
              <mat-icon>remove_circle</mat-icon>
            </button> -->
            <app-input class="width" [info]="item.width"></app-input>
            <div class="symbol">×</div>
            <app-input class="height" [info]="item.height"></app-input>
            <div class="symbol">=</div>
            <app-input class="num" [info]="item.num"></app-input>
          </div>
        }
      </div>
    }
  </div>
  @if (!noMuban) {
    <div class="divider" [style]="{height: cadHeight + 'px'}">
      <mat-icon color="primary">link</mat-icon>
    </div>
    <div class="cad item">
      <div #mubanContainer class="cad-container flex-row"></div>
      @if (mubanData) {
        <div class="toolbar compact">
          <button mat-button color="primary" (click)="centerMuban()">居中</button>
          <button mat-button color="primary" (click)="uploadMuban()">上传</button>
          <button mat-button color="primary" (click)="editMuban()">编辑</button>
          <button mat-button color="primary" (click)="removeMuban()">删除</button>
        </div>
        <div class="inputs flex-column">
          @for (group of mubanInputs; track $index) {
            <div class="group toolbar">
              @for (info of group; track $index) {
                <app-input [info]="info"></app-input>
              }
            </div>
          }
        </div>
      } @else {
        <div class="empty-cad item border link" [style]="{width: cadWidth + 'px', height: cadHeight + 'px'}" (click)="uploadMuban()">
          软件自动开料
        </div>
        <div class="toolbar compact">
          <button mat-button color="primary" (click)="uploadMuban()">上传</button>
        </div>
      }
    </div>
  }
</div>
