<div class="name toolbar">
  @if (selectable) {
    <mat-checkbox
      appClickStop
      [onClickStopped]="onClickStopped"
      [checked]="selectable.selected"
      (change)="selectable.onChange(this)"
    ></mat-checkbox>
  }
  <div class="flex-110 flex-row link" style="justify-content: center; align-items: center" (click)="selectable?.onChange(this)">
    <button mat-button appClickStop [onClickStopped]="onClickStopped" (click)="editCadForm()">{{ cadName }}</button>
    <button mat-icon-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="copyName()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</div>
<div class="cads">
  <div class="cad item">
    <div class="toolbar">
      <div #cadContainer class="cad-container flex-row">
        @if (!showCadViewer) {
          @if (isOnline) {
            <app-cad-image
              class="link"
              [id]="cadId"
              [data]="cadData"
              [width]="cadWidth"
              [height]="cadHeight"
              [paramsGetter]="getCadPreviewParams"
              [style.width.px]="cadWidth"
              (click)="selectable?.onChange(this)"
              (dblclick)="onCadImageClick()"
              (dataInfoChange)="onCadInfoChange($event)"
            ></app-cad-image>
          } @else {
            <app-cad-image
              class="link"
              id=""
              [data]="cadData"
              [width]="cadWidth"
              [height]="cadHeight"
              [paramsGetter]="getCadPreviewParams"
              [style.width.px]="cadWidth"
              (dblclick)="onCadImageClick()"
              (dataInfoChange)="onCadInfoChange($event)"
            ></app-cad-image>
          }
        }
      </div>
      @for (button of buttons2; track $index) {
        <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="button.onClick(this)">
          {{ button.name }}
        </button>
      }
    </div>
    <div class="toolbar compact">
      @if (cadViewer) {
        <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="centerCad()">居中</button>
      }
      <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="editCad()">编辑</button>
      @for (button of buttons; track $index) {
        <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="button.onClick(this)">
          {{ button.name }}
        </button>
      }
    </div>
    <div class="cad-info item link" style="align-items: flex-start" (click)="selectable?.onChange(this)" (dblclick)="editCadForm()">
      @for (item of yaoqiu?.["CAD弹窗修改属性"]; track $index) {
        @if (item.key !== "名字") {
          @if (isCadInfoVisible(item)) {
            <div class="flex-row">
              <div class="key">{{ item.key }}{{ item.key2 }}：</div>
              <div class="value" [class.error]="errorMsgs[item.key]">{{ getCadInfoStr(item) }}</div>
            </div>
          } @else {
            <div class="key disabled">{{ item.key }}（未实现）</div>
          }
        }
      }
    </div>
    @if (fentiDialogInput) {
      <div class="fenti-cads toolbar">
        @for (item of fentiDialogInput.data | keyvalue: returnZero; track item.key) {
          <div class="fenti-cad toolbar">
            <div>{{ item.key }}:</div>
            @if (item.value) {
              <button mat-raised-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="selectFentiCad()">
                {{ item.value["名字"] }}
              </button>
            } @else {
              <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="selectFentiCad()">不做分体</button>
            }
          </div>
        }
      </div>
    }
  </div>
  @if (showMuban) {
    <div class="divider" [style]="{height: cadHeight + 'px'}">
      <mat-icon color="primary">link</mat-icon>
    </div>
    <div class="cad item">
      <div #mubanContainer class="cad-container f lex-row">
        @if (!showMubanViewer && mubanId && mubanData) {
          <app-cad-image
            class="link"
            [id]="mubanId"
            [data]="mubanData"
            collection="kailiaocadmuban"
            [width]="cadWidth"
            [height]="cadHeight"
            [style.width.px]="cadWidth"
            (dblclick)="onMubanImageClick()"
          ></app-cad-image>
        }
      </div>
      @if (mubanId) {
        <div class="toolbar compact">
          @if (mubanViewer) {
            <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="centerMuban()">居中</button>
          }
          <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="uploadMuban()">上传</button>
          <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="editMuban()">编辑</button>
          <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="editMubanInNewTab()">
            新窗口编辑
          </button>
          <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="refreshMuban()">刷新</button>
          <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="removeMuban()">删除</button>
        </div>
        <div class="inputs flex-column">
          @for (group of mubanInputs; track $index) {
            <div class="group toolbar">
              @for (info of group; track $index) {
                <app-input [info]="info"></app-input>
              }
            </div>
          }
        </div>
      } @else {
        <div
          class="empty-cad item border link"
          [style]="{width: cadWidth + 'px', height: cadHeight + 'px'}"
          appClickStop
          [onClickStopped]="onClickStopped"
          (click)="uploadMuban()"
        >
          软件自动开料
        </div>
        <div class="toolbar compact">
          <button mat-button color="primary" appClickStop [onClickStopped]="onClickStopped" (click)="uploadMuban()">上传</button>
        </div>
      }
    </div>
  }
</div>
