:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  > :not(:last-child) {
    margin-bottom: 5px;
  }
}

.name {
  width: 100%;

  .name-text {
    font-size: 16px;
    text-align: center;
  }
}

.cads {
  display: flex;

  .cad {
    width: var(--cad-image-width);
    margin: 0;
  }

  .divider {
    display: flex;
    align-items: center;
  }

  .cad-container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: var(--cad-image-width);
    height: var(--cad-image-height);
  }

  .empty-cad {
    justify-content: center;
    align-items: center;
  }

  .cad-info {
    align-items: flex-start;
    width: 100%;

    .key {
      flex: 0 0 auto;
      &.disabled {
        color: var(--mat-sys-outline);
      }
    }

    .value {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .inputs {
    width: 100%;

    app-input {
      width: 0;
      flex: 1 1 0;
    }
  }
}

.fenti-cads {
  flex-wrap: wrap;

  .fenti-cad {
    width: auto;
  }
}
