:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: var(--item-width);

  > :not(:last-child) {
    margin-bottom: 5px;
  }
  > .btn-group {
    margin: 0;
  }
}

.name {
  --mdc-text-button-label-text-size: 18px;
  --mdc-text-button-container-height: auto;
}

.cads {
  display: flex;

  .cad {
    margin: 0;
  }

  .divider {
    display: flex;
    align-items: center;
  }

  .cad-container {
    justify-content: center;
    align-items: center;
  }

  .empty-cad {
    justify-content: center;
    align-items: center;
  }

  .cad-info {
    align-items: flex-start;
    width: 100%;

    .value {
      white-space: pre;
    }
  }

  .inputs {
    width: 100%;

    app-input {
      width: 0;
      flex: 1 1 0;
    }
  }
}

.fenti-cads {
  flex-wrap: wrap;

  .fenti-cad {
    width: auto;
  }
}
