<ng-scrollbar>
  <div class="item container">
    <div class="flex-row">
      <div class="item import-config">
        <div class="toolbar center">
          @if (compactPage()) {
            <div class="spinner-container">
              <div class="toolbar">
                @if (isSbjbType()) {
                  <button mat-flat-button (click)="importDxf(false, loaderIds.importLoader, null, true)" [disabled]="!canSubmit(false)">
                    导入替换
                  </button>
                }
                <button mat-flat-button (click)="importDxf(false, loaderIds.importLoader)" [disabled]="!canSubmit(false)">导入添加</button>
              </div>
              <app-spinner [id]="loaderIds.importLoader" [inline]="true"></app-spinner>
            </div>
          } @else {
            <div class="spinner-container">
              <button mat-flat-button (click)="importDxf(false, loaderIds.importLoader)" [disabled]="!canSubmit(false)">
                导入框型锁边铰边
              </button>
              <app-spinner [id]="loaderIds.importLoader" [inline]="true"></app-spinner>
            </div>
            <div class="spinner-container">
              <button
                mat-flat-button
                (click)="importDxf(false, loaderIds.reimportLoader, sourceFile)"
                [disabled]="!sourceCad || !canSubmit(true)"
              >
                重新导入选中文件
              </button>
              <app-spinner [id]="loaderIds.reimportLoader" [inline]="true"></app-spinner>
            </div>
          }
        </div>
        <div class="form">
          @for (info of importNormalInputs(); track $index) {
            <app-input [info]="info"></app-input>
          }
        </div>
      </div>
      @if (!compactPage()) {
        <mat-divider vertical style="height: auto"></mat-divider>
        <div class="item import-config">
          <div class="toolbar center">
            <div class="spinner-container">
              <button mat-flat-button (click)="importDxf(true, loaderIds.importSuanliaoLoader)" [disabled]="!canSubmit(true)">
                替换导入型号算料dxf文件
              </button>
              <app-spinner [id]="loaderIds.importSuanliaoLoader" [inline]="true"></app-spinner>
            </div>
            <div class="spinner-container">
              <button
                mat-flat-button
                (click)="importDxf(true, loaderIds.reimportSuanliaoLoader, sourceFile)"
                [disabled]="!sourceCad || !canSubmit(true)"
              >
                重新导入选中文件
              </button>
              <app-spinner [id]="loaderIds.reimportSuanliaoLoader" [inline]="true"></app-spinner>
            </div>
          </div>
          <div class="form">
            @for (info of importSuanliaoInputs(); track $index) {
              <app-input [info]="info"></app-input>
            }
          </div>
        </div>
      }
    </div>
    <app-progress-bar [progressBar]="progressBar"></app-progress-bar>

    <div class="toolbar">
      <div class="spinner-container">
        <button mat-flat-button (click)="downloadSourceCad()" [disabled]="!sourceCad() || !cadsParsed()">下载dxf文件</button>
        <app-spinner [id]="loaderIds.downloadSourceCad" [inline]="true"></app-spinner>
      </div>
      <button mat-flat-button (click)="downloadBatchCheckData()" [disabled]="!batchCheckData() || !cadsParsed()">下载json数据</button>
    </div>
    <div class="cads">
      @for (cad of cads(); track $index) {
        @if (cad.errors.length > 0) {
          <div class="cad">
            <div>名字: {{ cad.data.name }}</div>
            <div>分类: {{ cad.data.type }}</div>
            <ul>
              @for (error of cad.errors; track $index) {
                @if (isString(error)) {
                  <li class="error" [innerHtml]="error"></li>
                } @else {
                  <li class="error">
                    <span [innerHtml]="error.text"></span>
                    <span class="super link" [matTooltip]="error.detail" (click)="alertError(error)">?</span>
                  </li>
                }
              }
            </ul>
          </div>
        }
      }
      @for (slgs of slgses(); track $index) {
        @if (slgs.errors.length > 0) {
          <div class="cad">
            <div>名字: {{ slgs.data["名字"] }}</div>
            <ul>
              @for (error of slgs.errors; track $index) {
                <li class="error" [innerHtml]="error"></li>
              }
            </ul>
          </div>
        }
      }
      @if (xinghaoInfoErrors(); as errors) {
        <div class="cad">
          <div>型号配置</div>
          <ul>
            @for (error of errors; track $index) {
              <li class="error" [innerHtml]="error"></li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</ng-scrollbar>
