:host {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  > * {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.toolbars {
  display: flex;
  justify-content: space-around;
  > *:not(:last-child) {
    margin-right: 10px;
  }

  .toolbar {
    .content {
      display: flex;
      flex-direction: column;
      text-align: center;

      > * {
        margin: 10px;
      }
    }

    .form {
      .mat-radio-button:not(:last-child) {
        margin-right: 10px;
      }
    }

    .hint {
      text-align: left;
      color: gray;
    }

    .btn-group {
      justify-content: center;
    }
  }
}

.cads-title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.cads {
  display: flex;
  flex-wrap: wrap;

  .cad {
    padding: 5px;
    margin: 5px;
    width: calc(20% - 10px);
    border: 1px grey solid;
    border-radius: 20px;
    box-sizing: border-box;

    ul {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 15px;
    }
  }
}

.error {
  color: red;
}
.success {
  color: green;
}
