.container {
  padding: 20px;
  max-width: 1060px;
  > * {
    width: 100%;
  }
}

.import-config {
  max-width: 500px;
}

.cads-title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.cads {
  display: flex;
  flex-wrap: wrap;

  .cad {
    padding: 5px;
    margin: 5px;
    width: calc(20% - 10px);
    border: 1px grey solid;
    border-radius: 20px;
    box-sizing: border-box;
  }
}
