<div #rectOuter class="rect-outer flex-110 flex-column" [style]="rectOuterStyle()">
  <div class="rects">
    @for (info of rectInfosRelativeWithStyle(); track $index) {
      <div
        [id]="info.raw.vid"
        class="rect flex-column"
        [class]="{'is-buju': info.raw.isBuju, active: info.raw.vid === activeRectInfo()?.raw?.vid}"
        [style]="info.style"
        (click)="onRectClick(info)"
        appClickStop
      >
        <div class="title">{{ info.name }}</div>
        <div class="option-name title small">{{ info["选项名称"] }}</div>
      </div>
    }
  </div>
</div>
<div class="rect-buju toolbar center hidden-if-empty" [style]="bujuRectStyle()">
  @for (info of bujuRectInfos(); track $index) {
    <button mat-button [class.accent]="info.raw.vid === activeRectInfo()?.raw?.vid" (click)="onRectClick(info)">
      {{ info.name }}
    </button>
  }
</div>
