:host {
  flex: 1 1 0;
}

.rects {
  position: relative;
  width: 100%;
  height: 100%;

  .rect {
    position: absolute;
    border: 1px solid var(--mat-sys-on-surface);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    --title-padding: 0;
    &.active {
      border: 2px solid var(--mat-sys-tertiary);
    }

    .option-name {
      writing-mode: vertical-lr;
    }
  }
}

.rect-buju {
  --mdc-text-button-label-text-size: var(--mat-sys-title-large-size);
  button {
    min-width: 40px;
  }
}
