:host {
  display: flex;
  flex: 1 1 0;
}

.rect-outer {
  .toolbar {
    --mdc-text-button-label-text-size: var(--title-size);
    button {
      min-width: 40px;
    }
  }
}

.rects {
  position: relative;
  width: 100%;
  height: 100%;

  .rect {
    position: absolute;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    &.active {
      border: 2px solid red;
    }

    .title {
      &.small {
        font-size: 14px;
        writing-mode: vertical-lr;
      }
    }
  }
}
