@switch (data.type) {
  @case ("iframe") {
    <div class="iframe-toolbar">
      <h2 class="iframe-title" [innerHTML]="titleHTML()"></h2>
      <button mat-icon-button (click)="cancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  }
  @default {
    <div class="toolbar">
      @if (titleHTML(); as title) {
        <div mat-dialog-title [class]="titleClass()" [innerHTML]="title"></div>
      }
      @if (subTitleHTML(); as subTitle) {
        <div mat-dialog-title class="sub-title" [innerHTML]="subTitle"></div>
      }
      @if (data.titleBtns; as btns) {
        <div class="toolbar">
          @for (btn of btns; track $index) {
            <button mat-flat-button color="primary" (click)="clickButton(btn)">
              {{ btn.label }}
            </button>
          }
        </div>
      }
    </div>
  }
}
<div mat-dialog-content [class]="data.type">
  <ng-scrollbar>
    @switch (data.type) {
      @case ("editor") {
        <quill-editor [(ngModel)]="data.content"></quill-editor>
      }
      @case ("iframe") {
        <iframe #iframe [src]="iframeSrc()" frameborder="0"></iframe>
      }
      @case ("json") {
        <div #jsonEditorContainer></div>
      }
      @case ("form") {
        <div [innerHTML]="contentHTML()"></div>
        <form style="padding: 1px">
          <button hidden></button>
          @for (info of form(); track $index) {
            <app-input #formInput [info]="info" (change)="refreshForm()"></app-input>
          }
        </form>
      }
      @default {
        <div [innerHTML]="contentHTML()"></div>
      }
    }
    @if (jsonDetails) {
      <div class="toolbar">
        <button mat-flat-button [class.accent]="showJsonDetails()" (click)="toggleJsonDetails()">显示详细数据</button>
      </div>
    }
    <div #jsonDetailsContainer [class.hidden]="!showJsonDetails()"></div>
  </ng-scrollbar>
</div>
<div class="hidden-if-empty" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" mat-dialog-actions style="justify-content: center">
  @switch (data.type) {
    @case ("alert") {
      <ng-container *ngTemplateOutlet="submitBtn"></ng-container>
    }
    @case ("confirm") {
      <ng-container *ngTemplateOutlet="confirmBtns"></ng-container>
    }
    @case ("form") {
      <ng-container *ngTemplateOutlet="formBtns"></ng-container>
    }
    @case ("book") {
      <button mat-flat-button (click)="setPage(page() - 1)" [disabled]="page() <= pageMin()">
        {{ data.btnTexts?.prev || "上一页" }}
      </button>
      <button mat-flat-button (click)="setPage(page() + 1)" [disabled]="page() >= pageMax()">
        {{ data.btnTexts?.prev || "下一页" }}
      </button>
      <button mat-flat-button (click)="cancel()">
        {{ data.btnTexts?.exit || "退出" }}
      </button>
    }
    @case ("editor") {
      <ng-container *ngTemplateOutlet="confirmBtns"></ng-container>
    }
    @case ("json") {
      <ng-container *ngTemplateOutlet="formBtns"></ng-container>
    }
    @case ("button") {
      @for (button of data.buttons; track $index) {
        <button mat-flat-button (click)="submit(button)">
          {{ getButtonLabel(button) }}
        </button>
      }
      <ng-container *ngTemplateOutlet="cancelBtn"></ng-container>
    }
  }
</div>

<ng-template #submitBtn>
  <button mat-flat-button (click)="submit()">
    {{ btnTextSubmit() }}
  </button>
</ng-template>

<ng-template #cancelBtn>
  @if (!data.disableCancel) {
    <button mat-flat-button (click)="cancel()">
      {{ btnTextCancel() }}
    </button>
  }
</ng-template>

<ng-template #formBtn>
  @if (data.type === "form") {
    @if (data.resettable) {
      <button mat-flat-button class="accent" (click)="reset()">
        {{ btnTextReset() }}
      </button>
    }
    @if (data.autoFill) {
      <button mat-flat-button (click)="autoFill()">
        {{ btnTextAutoFill() }}
      </button>
    }
  }
</ng-template>

<ng-template #confirmBtns>
  <ng-container *ngTemplateOutlet="submitBtn"></ng-container>
  @if (!data.disableCancel) {
    <ng-container *ngTemplateOutlet="cancelBtn"></ng-container>
  }
</ng-template>

<ng-template #formBtns>
  <ng-container *ngTemplateOutlet="confirmBtns"></ng-container>
  <ng-container *ngTemplateOutlet="formBtn"></ng-container>
</ng-template>
