@switch (data.type) {
  @case ("iframe") {
    <div class="iframe-toolbar">
      <h2 class="iframe-title" [innerHTML]="titleHTML"></h2>
      <button mat-icon-button (click)="cancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  }
  @default {
    @if (titleHTML) {
      <div mat-dialog-title [ngClass]="titleClass" [innerHTML]="titleHTML"></div>
    }
    @if (subTitleHTML) {
      <div mat-dialog-title class="sub-title" [innerHTML]="subTitleHTML"></div>
    }
  }
}
<div mat-dialog-content [ngClass]="data.type">
  <ng-scrollbar>
    @switch (data.type) {
      @case ("editor") {
        <quill-editor [(ngModel)]="data.content"></quill-editor>
      }
      @case ("iframe") {
        <iframe #iframe [src]="iframeSrc" frameborder="0"></iframe>
      }
      @case ("json") {
        <div #jsonEditorContainer></div>
      }
      @case ("form") {
        <div [innerHTML]="contentHTML"></div>
        <div style="padding: 1px" (keyup)="onKeyUp($event)">
          @for (info of inputs; track info) {
            <app-input #formInput [info]="info"></app-input>
          }
        </div>
      }
      @default {
        <div [innerHTML]="contentHTML"></div>
      }
    }
  </ng-scrollbar>
</div>
<div class="hidden-if-empty" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" mat-dialog-actions style="justify-content: center">
  @switch (data.type) {
    @case ("alert") {
      <ng-container *ngTemplateOutlet="submitBtn"></ng-container>
    }
    @case ("confirm") {
      <ng-container *ngTemplateOutlet="confirmBtns"></ng-container>
    }
    @case ("form") {
      <ng-container *ngTemplateOutlet="formBtns"></ng-container>
    }
    @case ("book") {
      <button mat-raised-button (click)="setPage(page - 1)" [disabled]="page <= minPage">
        {{ cast("book", data).btnTexts?.prev || "上一页" }}
      </button>
      <button mat-raised-button (click)="setPage(page + 1)" [disabled]="page >= maxPage">
        {{ cast("book", data).btnTexts?.prev || "下一页" }}
      </button>
      <button mat-raised-button (click)="cancel()">
        {{ cast("book", data).btnTexts?.exit || "退出" }}
      </button>
    }
    @case ("editor") {
      <ng-container *ngTemplateOutlet="confirmBtns"></ng-container>
    }
    @case ("json") {
      <ng-container *ngTemplateOutlet="formBtns"></ng-container>
    }
    @case ("button") {
      @for (button of cast("button", data).buttons; track button) {
        <button mat-raised-button color="primary" (click)="submit(button)">
          {{ getButtonLabel(button) }}
        </button>
      }
      <ng-container *ngTemplateOutlet="cancelBtn"></ng-container>
    }
  }
</div>

<ng-template #submitBtn>
  <button mat-raised-button color="primary" (click)="submit()">
    {{ cast("confirm", data).btnTexts?.submit || "确定" }}
  </button>
</ng-template>

<ng-template #cancelBtn>
  @if (!data.disableCancel) {
    <button mat-raised-button color="primary" (click)="cancel()">
      {{ cast("confirm", data).btnTexts?.cancel || "取消" }}
    </button>
  }
</ng-template>

<ng-template #formBtn>
  @if (cast("form", data).resetable) {
    <button mat-raised-button color="accent" (click)="reset()">
      {{ cast("form", data).btnTexts?.reset || "重置" }}
    </button>
  }
  @if (cast("form", data).autoFill) {
    <button mat-raised-button color="primary" (click)="autoFill()">
      {{ cast("form", data).btnTexts?.autoFill || "自动填充" }}
    </button>
  }
</ng-template>

<ng-template #confirmBtns>
  <ng-container *ngTemplateOutlet="submitBtn"></ng-container>
  @if (!data.disableCancel) {
    <ng-container *ngTemplateOutlet="cancelBtn"></ng-container>
  }
</ng-template>

<ng-template #formBtns>
  <ng-container *ngTemplateOutlet="confirmBtns"></ng-container>
  <ng-container *ngTemplateOutlet="formBtn"></ng-container>
</ng-template>
