<ng-container [ngSwitch]="data.type">
  <div *ngSwitchCase="'iframe'" class="iframe-toolbar">
    <h2 class="iframe-title" [innerHTML]="titleHTML"></h2>
    <button mat-icon-button (click)="cancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <ng-container *ngSwitchDefault>
    <div mat-dialog-title *ngIf="titleHTML" [ngClass]="titleClass" [innerHTML]="titleHTML"></div>
    <div mat-dialog-title *ngIf="subTitleHTML" class="sub-title" [innerHTML]="subTitleHTML"></div>
  </ng-container>
</ng-container>
<div mat-dialog-content [ngSwitch]="data.type" [ngClass]="data.type">
  <ng-container *ngSwitchCase="'editor'">
    <quill-editor [(ngModel)]="data.content" [preserveWhitespace]="true"> </quill-editor>
  </ng-container>
  <ng-container *ngSwitchCase="'iframe'">
    <iframe #iframe [src]="iframeSrc" frameborder="0"></iframe>
  </ng-container>
  <ng-container *ngSwitchCase="'json'">
    <json-editor [options]="jsonEditorOptions" [data]="cast('json', data).json"></json-editor>
  </ng-container>
  <ng-container *ngSwitchDefault="">
    <div [innerHTML]="contentHTML"></div>
    <div *ngIf="data.type === 'form'" (keydown)="onKeyDown($event)">
      <app-input #formInput *ngFor="let info of inputs" [info]="info"></app-input>
    </div>
  </ng-container>
</div>
<div
  class="hidden-if-empty"
  cdkTrapFocus
  [cdkTrapFocusAutoCapture]="true"
  mat-dialog-actions
  style="justify-content: center"
  [ngSwitch]="data.type"
>
  <ng-container *ngSwitchCase="'alert'">
    <ng-container *ngTemplateOutlet="submitBtn"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'confirm'">
    <ng-container *ngTemplateOutlet="confirmBtns"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'form'">
    <ng-container *ngTemplateOutlet="formBtns"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'book'">
    <button mat-raised-button (click)="setPage(page - 1)" [disabled]="page <= minPage">
      {{ cast("book", data).btnTexts?.prev || "上一页" }}
    </button>
    <button mat-raised-button (click)="setPage(page + 1)" [disabled]="page >= maxPage">
      {{ cast("book", data).btnTexts?.prev || "下一页" }}
    </button>
    <button mat-raised-button (click)="cancel()">
      {{ cast("book", data).btnTexts?.exit || "退出" }}
    </button>
  </ng-container>
  <ng-container *ngSwitchCase="'editor'">
    <ng-container *ngTemplateOutlet="confirmBtns"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'json'">
    <ng-container *ngTemplateOutlet="formBtns"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'button'">
    <button mat-raised-button color="primary" *ngFor="let button of cast('button', data).buttons" (click)="submit(button)">
      {{ getButtonLabel(button) }}
    </button>
    <ng-container *ngTemplateOutlet="cancelBtn"></ng-container>
  </ng-container>
</div>

<ng-template #submitBtn>
  <button mat-raised-button color="primary" (click)="submit()">
    {{ cast("confirm", data).btnTexts?.submit || "确定" }}
  </button>
</ng-template>

<ng-template #cancelBtn>
  <button mat-raised-button (click)="cancel()" *ngIf="!data.disableCancel">
    {{ cast("confirm", data).btnTexts?.cancel || "取消" }}
  </button>
</ng-template>

<ng-template #resetBtn>
  <button mat-raised-button color="accent" (click)="reset()">
    {{ cast("json", data).btnTexts?.reset || "重置" }}
  </button>
</ng-template>

<ng-template #confirmBtns>
  <ng-container *ngTemplateOutlet="submitBtn"></ng-container>
  <ng-container *ngTemplateOutlet="cancelBtn"></ng-container>
</ng-template>

<ng-template #formBtns>
  <ng-container *ngTemplateOutlet="confirmBtns"></ng-container>
  <ng-container *ngTemplateOutlet="resetBtn"></ng-container>
</ng-template>
