<div class="formulas">
  @for (info of formulaInfos; track $index) {
    <div #formula class="formula" [style]="formulaStyles">
      @for (key of info.keys; track i; let i = $index) {
        @if (key.eq && i > 0) {
          <div class="formula-eq"></div>
        }
        @if (!key.eq && i > 0) {
          <div class="formula-neq"></div>
        }
        <div class="formula-key" [style]="keyStyles">{{ key.name }}</div>
      }
      @for (value of info.values; track $index) {
        @if (value.eq) {
          <div class="formula-eq"></div>
        }
        @if (!value.eq) {
          <div class="formula-neq"></div>
        }
        @if (value.inputInfo; as info) {
          <app-input [info]="info"></app-input>
        } @else {
          <div class="formula-value" [style]="valueStyles">{{ value.name }}</div>
        }
      }
    </div>
  }
</div>
