<div class="formulas">
  @for (info of formulaInfos; track info) {
    <div #formula class="formula" [ngStyle]="formulaStyles">
      @for (key of info.keys; track key; let i = $index) {
        @if (key.eq && i > 0) {
          <div class="formula-eq"></div>
        }
        @if (!key.eq && i > 0) {
          <div class="formula-neq"></div>
        }
        <div class="formula-key" [ngStyle]="keyStyles">{{ key.name }}</div>
      }
      @for (value of info.values; track value) {
        @if (value.eq) {
          <div class="formula-eq"></div>
        }
        @if (!value.eq) {
          <div class="formula-neq"></div>
        }
        <div class="formula-value" [ngStyle]="valueStyles">{{ value.name }}</div>
      }
    </div>
  }
</div>
