:host {
  padding: 5px;
}

.sub-form-field {
  margin-bottom: 10px;

  .list {
    display: flex;
    flex-wrap: wrap;
  }
}

.empty-cad {
  margin: 5px;
  font-size: 18px;
  align-items: flex-start;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
