<div class="toolbar right">
  <button mat-raised-button color="primary" (click)="submit(false)">保存</button>
  <button mat-raised-button color="primary" (click)="submit(true)">保存并关闭</button>
  <button mat-raised-button color="primary" (click)="cancel(true)">不保存关闭</button>
  @if (!data.component?.production) {
    <button mat-raised-button color="primary" (click)="cancel(false)">cancel</button>
    <button mat-raised-button color="primary" (click)="autoFill()">autoFill</button>
  }
</div>

<ng-scrollbar>
  @for (info of form; track $index) {
    <app-input [info]="info"></app-input>
  }
  <mat-tab-group (selectedTabChange)="onMenjiaoCadTabChange($event)">
    @for (key1 of menjiaoCadTypes; track $index) {
      <mat-tab [label]="getMenjiaoCadTabLabel(key1)">
        @if (key1Infos[key1]) {
          <div class="sub-form-field">
            <div class="label">{{ key1 }}</div>
            <div class="flex-row">
              <div class="flex-column flex-110" style="width: 0">
                <ng-template #btns>
                  <div class="toolbar">
                    <button mat-raised-button color="primary" (click)="editBcfz(key1)">板材分组</button>
                    <button mat-raised-button color="primary" (click)="editSuanliaoData(key1)">算料公式CAD配置</button>
                    <button mat-raised-button color="primary" (click)="copy(key1)">复制</button>
                    <button mat-raised-button color="primary" (click)="empty(key1)">清空</button>
                  </div>
                </ng-template>
                @if (!production) {
                  <ng-container [ngTemplateOutlet]="btns"></ng-container>
                }
                <div class="list">
                  @for (key3 of qiliaoKeys[data.component?.fenleiName || ""] || []; track i; let i = $index) {
                    <ng-container *ngTemplateOutlet="cadItem; context: {key1, key2: '企料CAD', key3}"></ng-container>
                  }
                  @for (key3 of peiheKeys[data.component?.fenleiName || ""] || []; track i; let i = $index) {
                    <ng-container *ngTemplateOutlet="cadItem; context: {key1, key2: '配合框CAD', key3}"></ng-container>
                  }
                </div>
                <div class="sub-form-field">
                  <div class="label toolbar">
                    <div>示意图CAD</div>
                    <app-input [info]="shiyituSearchInputInfo[key1]"></app-input>
                  </div>
                  <div class="list">
                    @if (formData[key1]["示意图CAD"]["算料单示意图"].length > 0) {
                      @for (item of formData[key1]["示意图CAD"]["算料单示意图"]; track i; let i = $index) {
                        <app-cad-item
                          [cad]="item"
                          [buttons]="shiyituCadItemButtons"
                          [customInfo]="{key1, index: $index}"
                          [shujuyaoqiu]="getCadshujuyaoqiu('算料单示意图')"
                          [openCadOptions]="getOpenCadOptions(key1)"
                          [noMuban]="true"
                          [cadWidth]="cadWidth"
                          [cadHeight]="cadHeight"
                          [class.hidden]="hiddenShiyitus.includes(i)"
                          (afterEditCad)="afterEditCad(key1)"
                        ></app-cad-item>
                      }
                      <div class="flex-row" style="align-items: center">
                        <button mat-raised-button color="primary" (click)="selectShiyituCad(key1)">选择</button>
                      </div>
                    } @else {
                      <div class="empty-cad item link" (click)="selectShiyituCad(key1)">
                        <div class="box border" [ngStyle]="{'width.px': cadWidth, 'height.px': cadHeight}"></div>
                      </div>
                    }
                  </div>
                </div>
                @if (key1Infos[key1].xiaoguotuInputs.length > 0) {
                  <div class="flex-row">
                    @for (info of key1Infos[key1].xiaoguotuInputs; track $index) {
                      <app-input [info]="info"></app-input>
                    }
                  </div>
                }
                @if (production) {
                  <ng-container [ngTemplateOutlet]="btns"></ng-container>
                }
                @if (key1Infos[key1].error) {
                  <div class="error-msg">{{ key1Infos[key1].error }}</div>
                }
              </div>
              @if (data.isKailiao && key1Infos[key1].isLoaded) {
                <app-suanliao-tables [ngClass]="key1" [suanliaoDataParams]="key1Infos[key1].suanliaoDataParams"></app-suanliao-tables>
              }
            </div>
          </div>
        }
      </mat-tab>
    }
  </mat-tab-group>
</ng-scrollbar>

<ng-template #cadItem [appTypedTemplate]="emptyCadTemplateType" let-key1="key1" let-key2="key2" let-key3="key3">
  @if (formData[key1][key2][key3] && formData[key1][key2][key3].cad && key1Infos[key1].isLoaded) {
    <app-cad-item
      [cad]="formData[key1][key2][key3].cad!"
      [buttons]="cadItemButtons"
      [buttons2]="cadItemButtons2"
      [customInfo]="{key1, key2, key3}"
      [shujuyaoqiu]="getCadshujuyaoqiu(key3)"
      [fentiDialogInput]="getFentiDialogInput(key1, key2, key3)"
      [openCadOptions]="getOpenCadOptions(key1)"
      [noMuban]="true"
      [cadWidth]="cadWidth"
      [cadHeight]="cadHeight"
      (afterEditCad)="afterEditCad(key1)"
    ></app-cad-item>
  } @else {
    <div class="empty-cad item link" (click)="selectCad0({key1, key2, key3})">
      <div class="name">{{ cadNameMap[key3] || key3 }}</div>
      <div class="box border" [ngStyle]="{'width.px': cadWidth, 'height.px': cadHeight}"></div>
    </div>
  }
</ng-template>
