:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-image ::ng-deep {
  img {
    width: var(--cad-image-width);
    height: var(--cad-image-height);
    background-color: var(--cad-image-background-color);
  }
}
