:host {
  padding: 10px;
}

.to-be-replaced-list {
  --items-per-row: 4;
  --item-margin: 10px;
}

.matched-text {
  display: inline-block;
  width: 100%;
  padding: 3px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #b1b1b1;
  }
}
