<div class="form flex-row" [formGroup]="form">
  <div class="flex-110">
    <mat-form-field>
      <mat-label>替换类型</mat-label>
      <mat-select formControlName="replacer">
        <mat-option *ngFor="let r of replacers" [value]="r">
          {{ r.type }}
        </mat-option>
      </mat-select>
      <mat-hint>{{ replacerDesc }}</mat-hint>
    </mat-form-field>
  </div>
  <div class="flex-110">
    <mat-form-field>
      <mat-label>被替换的字符串</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        [cdkAutosizeMinRows]="1"
        formControlName="replaceFrom"
        [errorStateMatcher]="replaceStrErrorMatcher()"
      ></textarea>
      <mat-error>{{ getReplaceStrError(form.controls.replaceFrom) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="flex-110">
    <mat-form-field>
      <mat-label>用来替换的字符串</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        [cdkAutosizeMinRows]="1"
        formControlName="replaceTo"
        [errorStateMatcher]="replaceStrErrorMatcher()"
      ></textarea>
      <mat-error>{{ getReplaceStrError(form.controls.replaceTo) }}</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="btn-group" *ngIf="step.value === 1">
  <button mat-raised-button color="primary" (click)="ready()" [disabled]="form.invalid">提交</button>
</div>

<ng-container *ngIf="step.value === 2">
  <div class="btn-group">
    <button mat-raised-button color="primary" (click)="step.next(1)">取消</button>
    <button mat-raised-button color="primary" (click)="submit()">确认替换</button>
  </div>
  <div>{{ replacerDesc }}</div>
  <div>匹配到的模板：</div>
  <div class="btn-group">
    <button mat-raised-button color="primary" (click)="selectAll()">全选</button>
    <button mat-raised-button color="primary" (click)="selectNone()">全不选</button>
  </div>
  <ng-scrollbar>
    <div class="to-be-replaced-list">
      <mat-card *ngFor="let item of toBeReplacedList">
        <mat-card-header>
          <mat-card-title>
            <mat-checkbox [checked]="item.checked" (change)="item.checked = $event.checked"></mat-checkbox>
            <span>{{ item.name }}</span>
          </mat-card-title>
          <mat-card-subtitle>
            <button color="primary" mat-icon-button (click)="openCad(item.id)"><mat-icon>open_in_new</mat-icon></button>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <span class="matched-text">匹配到的文本（{{ item.matchedTexts.length }}个）：</span>
          <span class="matched-text" *ngFor="let text of item.matchedTexts">{{ text }}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-scrollbar>
</ng-container>
