:host {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.form {
  padding: 10px;
  box-sizing: border-box;
  max-height: 100%;
  overflow: auto;

  > *:not(:last-child) {
    margin-right: 10px;
  }
}

.to-be-replaced-list {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
  }
}

.matched-text {
  display: inline-block;
  width: 100%;
  padding: 3px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #b1b1b1;
  }
}
