.floating-dialog-container {
  --handle-size: 5px;
  --z-index-base-offset: -3;
  --z-index-base: calc(var(--top-z-index) + var(--z-index-base-offset) + var(--offset-z-index, 0));
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-base);
  &.backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.32);
  }
  &.cover-mat-dialog {
    --z-index-base-offset: -1;
  }
  &.active {
    z-index: calc(var(--z-index-base) + 1);
  }
  &.pinned {
    z-index: calc(var(--z-index-base) + 2);
    &.active {
      z-index: calc(var(--z-index-base) + 3);
    }
  }
  &.minimized {
    display: none;
  }
  &.maximized {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
  }
}

.floating-dialog {
  position: fixed;
  z-index: var(--z-index-base);
  background-color: var(--mat-sys-surface);
  box-shadow: var(--mat-sys-level4);
  --corner-size: var(--mat-sys-corner-extra-large);
  border-radius: var(--corner-size);
  padding: var(--handle-size);

  .resize-handle {
    --corner-offset: calc((sqrt(2) - 1) * var(--corner-size) / 2);
    position: absolute;
    &.top {
      top: 0;
      left: var(--corner-size);
      right: var(--corner-size);
      height: var(--handle-size);
      cursor: ns-resize;
    }
    &.left {
      top: var(--corner-size);
      bottom: var(--corner-size);
      left: 0;
      width: var(--handle-size);
      cursor: ew-resize;
    }
    &.right {
      top: var(--corner-size);
      bottom: var(--corner-size);
      right: 0;
      width: var(--handle-size);
      cursor: ew-resize;
    }
    &.bottom {
      bottom: 0;
      left: var(--corner-size);
      right: var(--corner-size);
      height: var(--handle-size);
      cursor: ns-resize;
    }
    &.top-left {
      top: var(--corner-offset);
      left: var(--corner-offset);
      width: var(--handle-size);
      height: var(--handle-size);
      cursor: nwse-resize;
    }
    &.top-right {
      top: var(--corner-offset);
      right: var(--corner-offset);
      width: var(--handle-size);
      height: var(--handle-size);
      cursor: nesw-resize;
    }
    &.bottom-left {
      bottom: var(--corner-offset);
      left: var(--corner-offset);
      width: var(--handle-size);
      height: var(--handle-size);
      cursor: nesw-resize;
    }
    &.bottom-right {
      bottom: var(--corner-offset);
      right: var(--corner-offset);
      width: var(--handle-size);
      height: var(--handle-size);
      cursor: nwse-resize;
    }
  }
}

.title {
  padding: 10px;
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.15);
  margin-bottom: 3px;
}

.body {
  padding: 5px;
}
