<div class="flex-column">
  <div class="toolbar">
    <button mat-button class="plain" [matMenuTriggerFor]="file">文件</button>
    <mat-menu #file="matMenu">
      @if (openCadOptions().isLocal === false) {
        <button mat-menu-item (click)="clickBtn('q')">新建<span class="shortcut">Ctrl + Q</span></button>
        <button mat-menu-item [matMenuTriggerFor]="openType">打开</button>
        <button mat-menu-item (click)="clickBtn('s')">保存<span class="shortcut">Ctrl + S</span></button>
        <button mat-menu-item (click)="copyCad()">复制</button>
        <button mat-menu-item (click)="openImportPage()">导入</button>
        <button mat-menu-item (click)="exportCadJson()">导出</button>
        <button mat-menu-item (click)="goToBackup()">备份</button>
        <button mat-menu-item (click)="removeCad()">删除</button>
      }
      <button mat-menu-item (click)="clickBtn('p')">打印<span class="shortcut">Ctrl + P</span></button>
      <button mat-menu-item (click)="resetIds()">重置实体ID</button>
    </mat-menu>
    <mat-menu #openType="matMenu">
      <button mat-menu-item (click)="clickBtn('1')">CAD<span class="shortcut">Ctrl + 1</span></button>
      <button mat-menu-item (click)="clickBtn('2')">CAD模板<span class="shortcut">Ctrl + 2</span></button>
      <button mat-menu-item (click)="clickBtn('3')">企料组合<span class="shortcut">Ctrl + 3</span></button>
      <button mat-menu-item (click)="clickBtn('4')">切料CAD<span class="shortcut">Ctrl + 4</span></button>
    </mat-menu>

    <button mat-button class="plain" [matMenuTriggerFor]="edit" [disabled]="!isStatusNormal()">编辑</button>
    <mat-menu #edit="matMenu">
      @if (env.beta) {
        <button mat-menu-item (click)="openCadLayerDialog()">图层</button>
      }
      <button mat-menu-item [matMenuTriggerFor]="transform">变形</button>
      <button mat-menu-item (click)="clickBtn('g')">装配<span class="shortcut">Ctrl + G</span></button>
      <button mat-menu-item (click)="clickBtn('h')">选取<span class="shortcut">Ctrl + H</span></button>
      <button mat-menu-item (click)="fillet(0)">连接线段(直角)</button>
      <button mat-menu-item (click)="fillet()">连接线段(圆角)</button>
    </mat-menu>
    <mat-menu #transform="matMenu">
      <button mat-menu-item (click)="flip(true, false)">垂直翻转</button>
      <button mat-menu-item (click)="flip(false, true)">水平翻转</button>
      <button mat-menu-item (click)="flip(true, true)">中心对称</button>
      <button mat-menu-item (click)="rotate(true)">顺时针旋转</button>
      <button mat-menu-item (click)="rotate(false)">逆时针旋转</button>
      <button mat-menu-item (click)="rotate()">旋转</button>
      <button mat-menu-item (click)="scaleComponents()">放大装配CAD</button>
    </mat-menu>

    <button mat-button class="plain" [matMenuTriggerFor]="view" [disabled]="!isStatusNormal">视图</button>
    <mat-menu #view="matMenu">
      <button mat-menu-item (click)="setPointSize()">设置选取点大小</button>
    </mat-menu>

    <button mat-button class="plain"><app-about></app-about></button>
    <mat-divider vertical></mat-divider>

    <button mat-button class="plain" (click)="toggleShowLineLength()" [disabled]="!isStatusNormal">
      {{ getConfig("hideLineLength") ? "隐藏" : "显示" }}线长
    </button>
    <button mat-button class="plain" (click)="toggleShowLineGongshi()" [disabled]="!isStatusNormal">
      {{ getConfig("hideLineGongshi") ? "隐藏" : "显示" }}公式
    </button>
    <button mat-button class="plain" (click)="toggleShowDimensions()" [disabled]="!isStatusNormal">
      {{ getConfig("hideDimensions") ? "隐藏" : "显示" }}标注
    </button>
    <button mat-button class="plain" (click)="toggleValidateLines()" [disabled]="!isStatusNormal">
      {{ getConfig("validateLines") ? "" : "不" }}验证线段
    </button>
    <button mat-button class="plain" (click)="resetLineLength()" [disabled]="!isStatusNormal">重置线长</button>
    <button mat-button class="plain" (click)="setKailiaofangshi()" [disabled]="!isStatusNormal">首尾开料使用线长</button>
    <button mat-button class="plain" (click)="highlightTjqz()">高亮条件取值的线</button>

    @if (canLeave()) {
      <button mat-flat-button class="accent" (click)="leaveCadStatus()">
        退出{{ statusName() }}
        @if (canLeaveWithEsc()) {
          <span>(Esc)</span>
        }
      </button>
    }
    @if (canConfirm()) {
      <button mat-flat-button class="accent" (click)="leaveCadStatus(true)">
        确认
        @if (canConfirmWithEnter()) {
          <span>(Enter)</span>
        }
      </button>
    }
  </div>
  <div class="toolbar">
    <button mat-button class="plain" (click)="editZhankai()">展开</button>
    <button mat-button class="plain" (click)="editTiaojianquzhi()">条件取值</button>
    <button mat-button class="plain" (click)="editLineInfo()">线属性弹窗</button>
    @if (canOpenKailiaoConfig) {
      <button mat-button class="plain" (click)="openKailiaoConfig()">线开料设置</button>
    }
    @if (data.type === "包边正面") {
      <button mat-button class="plain" (click)="editBbzhmkgz()">修改包边正面宽规则</button>
    }
    <button mat-button class="plain" [class.accent]="cadFentiOn()" (click)="toggleCadFentiOn()">分体设置</button>
  </div>
</div>
