<div class="toolbar">
  <div class="flex-row" style="flex-wrap: wrap">
    <button mat-button [matMenuTriggerFor]="file">文件</button>
    <mat-menu #file="matMenu">
      <ng-container *ngIf="(isCadLocal$ | async) === false">
        <button mat-menu-item (click)="clickBtn('q')">新建<span class="shortcut">Ctrl + Q</span></button>
        <button mat-menu-item [matMenuTriggerFor]="openType">打开</button>
        <button mat-menu-item (click)="clickBtn('s')">保存<span class="shortcut">Ctrl + S</span></button>
        <button mat-menu-item (click)="copyCad()">复制</button>
        <a mat-menu-item routerLink="/import" queryParamsHandling="merge" target="_blank">导入</a>
        <a mat-menu-item (click)="goToBackup()" target="_blank">备份</a>
        <button mat-menu-item (click)="removeCad()">删除</button>
      </ng-container>
      <button mat-menu-item (click)="clickBtn('p')">打印<span class="shortcut">Ctrl + P</span></button>
      <button mat-menu-item (click)="resetIds()">重置实体ID</button>
    </mat-menu>
    <mat-menu #openType="matMenu">
      <button mat-menu-item (click)="clickBtn('1')">CAD<span class="shortcut">Ctrl + 1</span></button>
      <button mat-menu-item (click)="clickBtn('2')">CAD模板<span class="shortcut">Ctrl + 2</span></button>
      <button mat-menu-item (click)="clickBtn('3')">企料组合<span class="shortcut">Ctrl + 3</span></button>
      <button mat-menu-item (click)="clickBtn('4')">切料CAD<span class="shortcut">Ctrl + 4</span></button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="edit" [disabled]="!isStatusNormal">编辑</button>
    <mat-menu #edit="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="transform">变形</button>
      <button mat-menu-item (click)="clickBtn('g')">装配<span class="shortcut">Ctrl + G</span></button>
      <button mat-menu-item (click)="clickBtn('h')">选取<span class="shortcut">Ctrl + H</span></button>
      <button mat-menu-item (click)="fillet(0)">连接线段(直角)</button>
      <button mat-menu-item (click)="fillet()">连接线段(圆角)</button>
    </mat-menu>
    <mat-menu #transform="matMenu">
      <button mat-menu-item (click)="flip(true, false)">垂直翻转</button>
      <button mat-menu-item (click)="flip(false, true)">水平翻转</button>
      <button mat-menu-item (click)="flip(true, true)">中心对称</button>
      <button mat-menu-item (click)="rotate(true)">顺时针旋转</button>
      <button mat-menu-item (click)="rotate(false)">逆时针旋转</button>
      <button mat-menu-item (click)="rotate()">旋转</button>
      <button mat-menu-item (click)="scaleComponents()">放大装配CAD</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="view" [disabled]="!isStatusNormal">视图</button>
    <mat-menu #view="matMenu">
      <button mat-menu-item (click)="setShowGongshi()">设置公式显示</button>
      <button mat-menu-item (click)="setPointSize()">设置选取点大小</button>
    </mat-menu>

    <!-- <button mat-button (click)="showManual()">帮助<span class="super">NEW!</span></button> -->
    <button mat-button (click)="showChangelog()">更新日志<span *ngIf="showNew" class="super">NEW!</span></button>
    <!-- <button mat-button disabled>|</button> -->
    <mat-divider vertical></mat-divider>

    <button mat-button (click)="toggleShowLineLength()" [disabled]="!isStatusNormal">
      {{ getConfig("hideLineLength") ? "隐藏" : "显示" }}线长
    </button>
    <button mat-button (click)="toggleShowLineGongshi()" [disabled]="!isStatusNormal">
      {{ getConfig("hideLineGongshi") ? "隐藏" : "显示" }}公式
    </button>
    <button mat-button (click)="toggleShowDimensions()" [disabled]="!isStatusNormal">
      {{ getConfig("hideDimensions") ? "隐藏" : "显示" }}标注
    </button>
    <button mat-button (click)="toggleValidateLines()" [disabled]="!isStatusNormal">
      {{ getConfig("validateLines") ? "" : "不" }}验证线段
    </button>
    <button mat-button (click)="resetLineLength()" [disabled]="!isStatusNormal">重置线长</button>
    <button mat-button (click)="setKailiaofangshi()" [disabled]="!isStatusNormal">首尾开料使用线长</button>
    <button mat-button (click)="highlightTjqz()">高亮条件取值的线</button>

    <button mat-raised-button color="accent" (click)="backToNormal()" *ngIf="canExit">
      退出{{ statusName }}
      <span *ngIf="exitWithEsc">(Esc)</span>
    </button>
    <button mat-raised-button color="accent" (click)="backToNormal(true)" *ngIf="canConfirm">
      确认
      <span *ngIf="confirmWithEnter">(Enter)</span>
    </button>
  </div>
  <div>
    <button mat-button (click)="editZhankai()">展开</button>
    <button mat-button (click)="editTiaojianquzhi()">条件取值</button>
    <button mat-button (click)="editGongshi()">公式</button>
    <button mat-button *ngIf="data.type === '包边正面'" (click)="editBbzhmkgz()">修改包边正面宽规则</button>
  </div>
</div>
