@import "../../../../mat-theme.scss";

:host {
  &.color {
    input {
      transition: 0.3s;
      text-transform: uppercase;
    }
  }
  &.image {
    app-image {
      display: block;
      width: 200px;
      height: 200px;
      cursor: pointer;
      border: 1px dashed transparent;
      &:hover {
        border: 1px dashed $accent-color;
      }
    }
  }
  &.cad {
    --cad-preview-width: 200px;
    --cad-preview-height: 100px;
    .cad-preview-empty {
      width: var(--cad-preview-width);
      height: var(--cad-preview-height);
      border: 1px dashed gray;
      border-radius: 10px;
      background: white;
      color: gray;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        border: 1px dashed $accent-color;
      }
    }
  }
}

.sub-form-field {
  > div .mat-mdc-form-field:not(:last-child) {
    padding-right: 5px;
    box-sizing: border-box;
  }
}
