@import "../../../../mat-theme.scss";

:host {
  &.color {
    input {
      transition: 0.3s;
      text-transform: uppercase;
    }
  }
  &.image {
    app-image {
      display: block;
      width: 200px;
      height: 200px;
      cursor: pointer;
      border: 1px dashed transparent;
      &:hover {
        border: 1px dashed $accent-color;
      }
    }
  }
  &.cad {
    --border: 1px dashed gray;
    border: var(--border);
    padding: 5px;
    border-radius: 10px;

    app-image,
    .cad-preview-empty {
      width: var(--cad-preview-width);
      height: var(--cad-preview-height);
      cursor: pointer;
      border-radius: 10px;
      overflow: hidden;
      margin: 5px;
    }
    app-image {
      display: block;
    }
    .cad-preview-empty {
      background: white;
      color: gray;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .label {
      text-align: center;
    }

    .cad-name {
      text-align: center;
      white-space: pre-wrap;
    }
  }
  &.button {
    display: flex;
    flex-direction: column;

    .buttons {
      display: flex;
      flex-wrap: wrap;

      > * {
        margin: 2px;
      }
    }
  }
}

.sub-form-field {
  height: 100%;

  > div .mat-mdc-form-field:not(:last-child) {
    padding-right: 5px;
    box-sizing: border-box;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;

  .hint {
    color: var(--mdc-dialog-supporting-text-color);
  }
  .error {
    color: var(--mat-form-field-error-text-color);
  }
}
