:host {
  &.select {
    display: flex;

    .label {
      flex: 0 0 auto;
      margin-right: 5px;
      font-size: var(--mdc-list-list-item-label-text-size);
    }

    .select-list {
      > mat-checkbox {
        margin-left: 24px;
      }
    }

    mat-selection-list {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 0;
      padding: 0;

      mat-list-option {
        width: auto;
        padding-left: 0;
        flex-direction: row-reverse;
        height: auto;
        margin-right: 5px;
      }

      ::ng-deep {
        .mdc-list-item--with-trailing-radio .mdc-list-item__end {
          margin-left: 0;
          margin-right: 3px;
          --mdc-radio-state-layer-size: 20px;
        }
      }
    }
  }
  &.color {
    input {
      transition: 0.3s;
    }
  }
  &.image {
    app-image {
      display: block;
      width: 200px;
      height: 200px;
      cursor: pointer;
      border: 1px dashed transparent;
      &:hover {
        border: 1px dashed var(--mat-sys-tertiary);
      }
    }
  }
  &.button {
    display: flex;
    flex-direction: column;

    .buttons {
      display: flex;
      flex-wrap: wrap;

      > * {
        margin: 2px;
      }
    }
  }
  &.list {
    display: flex;
    flex-direction: column;
  }
  &.readonly {
    --mdc-filled-text-field-container-color: #d3d3d3;
  }
}

::ng-deep {
  .mat-mdc-form-field-infix {
    width: auto;
  }
  input {
    text-align: var(--input-text-align);
  }
}

.drag-list-item {
  cursor: move;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 16px;

  .name {
    flex: 1 1 0;
  }

  input {
    font-size: 1em;
    width: 3ch;
    text-align: center;
    border: none;
    border-bottom: var(--border);
    outline: none;
  }
}

.sub-form-field {
  margin-bottom: 5px;

  > div .mat-mdc-form-field:not(:last-child) {
    padding-right: 5px;
    box-sizing: border-box;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: var(--mat-form-field-subscript-text-size);

  .hint {
    color: var(--mdc-dialog-supporting-text-color);
  }
  .error {
    color: var(--mat-form-field-error-text-color);
  }
}

.switch-container {
  display: flex;
  padding: 5px;
  align-items: center;
}
