<ng-container [ngSwitch]="info.type">
  <ng-container *ngSwitchCase="'string'">
    <mat-form-field #formField [ngClass]="{empty: isEmpty(value)}">
      <mat-label>{{ info.label }}</mat-label>
      <mat-hint>{{ hint }}</mat-hint>
      <input
        *ngIf="!cast('string', info).textarea && displayValue === null"
        matInput
        [errorStateMatcher]="errorStateMatcher"
        [readonly]="info.readonly"
        [disabled]="info.disabled || false"
        [autocomplete]="info.autocomplete || ''"
        [(ngModel)]="value"
        type="text"
        (change)="onChange()"
        (input)="onInput()"
        (blur)="onBlur()"
        [matAutocomplete]="auto"
        [placeholder]="info.placeholder || ''"
      />
      <textarea
        *ngIf="cast('string', info).textarea && displayValue === null"
        matInput
        [errorStateMatcher]="errorStateMatcher"
        [cdkTextareaAutosize]="!!cast('string', info).textarea?.autosize"
        [cdkAutosizeMinRows]="cast('string', info).textarea?.autosize?.minRows"
        [cdkAutosizeMaxRows]="cast('string', info).textarea?.autosize?.maxRows"
        [readonly]="info.readonly"
        [disabled]="info.disabled || false"
        [autocomplete]="info.autocomplete || ''"
        [(ngModel)]="value"
        type="text"
        (change)="onChange()"
        (input)="onInput()"
        (blur)="onBlur()"
        [matAutocomplete]="auto"
        [placeholder]="info.placeholder || ''"
      ></textarea>
      <textarea
        matInput
        readonly
        *ngIf="displayValue !== null"
        [value]="displayValue"
        cdkTextareaAutosize
        [cdkAutosizeMinRows]="1"
      ></textarea>
      <button mat-icon-button matSuffix *ngIf="optionKey" color="primary" (click)="selectOptions(model.key, optionKey)">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-icon-button matSuffix *ngIf="info.clearable" color="primary" (click)="clear()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button matSuffix *ngIf="info.copyable" color="primary" (click)="copy()">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button matSuffix color="primary" *ngFor="let icon of suffixIcons" (click)="icon.onClick()">
        <mat-icon>{{ icon.name }}</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutocompleteChange($event)">
        <mat-option
          *ngFor="let option of filteredOptions$ | async"
          [value]="option.value"
          [matTooltip]="option.label === option.value ? option.label : option.label + '=' + option.value"
          [matTooltipShowDelay]="500"
          [matTooltipPosition]="'right'"
        >
          {{ option.label }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>{{ errorMsg }}</mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'number'">
    <mat-form-field [ngClass]="{empty: isEmpty(value)}">
      <mat-label>{{ info.label }}</mat-label>
      <mat-hint>{{ hint }}</mat-hint>
      <input
        matInput
        [errorStateMatcher]="errorStateMatcher"
        [readonly]="info.readonly"
        [disabled]="info.disabled || false"
        [autocomplete]="info.autocomplete || ''"
        [(ngModel)]="value"
        type="number"
        [step]="cast('number', info).step"
        [min]="cast('number', info).max ?? null"
        [max]="cast('number', info).max ?? null"
        (change)="onChange()"
        (input)="onInput()"
        (blur)="onBlur()"
        [matAutocomplete]="auto"
        [placeholder]="info.placeholder || ''"
      />
      <button mat-icon-button matSuffix *ngIf="info.copyable" color="primary" (click)="copy()">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button matSuffix color="primary" *ngFor="let icon of suffixIcons" (click)="icon.onClick()">
        <mat-icon>{{ icon.name }}</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutocompleteChange($event)">
        <mat-option
          *ngFor="let option of filteredOptions$ | async"
          [value]="option.value"
          [matTooltip]="option.label === option.value ? option.label : option.label + '=' + option.value"
          [matTooltipShowDelay]="500"
          [matTooltipPosition]="'right'"
        >
          {{ option.label }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>{{ errorMsg }}</mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'object'">
    <div class="sub-form-field">
      <div class="label">
        <span>{{ info.label }}</span>
        <span *ngIf="info.hint">({{ hint }})</span>
      </div>
      <div *ngIf="keysOf(value).length === 0">
        <button mat-icon-button color="primary" (click)="objectAdd(value, '')">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <div *ngFor="let item of asObject(value) | keyvalue : returnZero">
        <mat-form-field style="width: 30%" [ngClass]="{empty: isEmpty(item.key)}">
          <input
            type="text"
            matInput
            [readonly]="info.readonly"
            [disabled]="info.disabled || false"
            [autocomplete]="info.autocomplete"
            [value]="item.key"
            (change)="changeObjectKey(value, item.key, $event)"
          />
        </mat-form-field>
        <mat-form-field style="width: 70%" [ngClass]="{empty: isEmpty(item.value)}">
          <input
            type="text"
            matInput
            [readonly]="info.readonly"
            [disabled]="info.disabled || false"
            [autocomplete]="info.autocomplete"
            [(ngModel)]="item.value"
            (change)="value[item.key] = item.value"
          />
          <button mat-icon-button matSuffix color="primary" (click)="selectOptions(model.key, item.key)">
            <mat-icon>list</mat-icon>
          </button>
          <button mat-icon-button matSuffix color="primary" (click)="objectAdd(value, '', '')">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button matSuffix color="primary" (click)="objectRemove(value, item.key)">
            <mat-icon>remove_circle</mat-icon>
          </button>
          <button mat-icon-button matSuffix color="primary" *ngFor="let icon of suffixIcons" (click)="icon.onClick()">
            <mat-icon>{{ icon.name }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'array'">
    <div class="sub-form-field">
      <div class="label">
        <span>{{ info.label }}</span>
        <span *ngIf="info.hint">({{ hint }})</span>
      </div>
      <div *ngIf="value.length === 0">
        <button mat-icon-button color="primary" (click)="arrayAdd(value, '')">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <mat-form-field [ngClass]="{empty: isEmpty(value[j])}" *ngFor="let c of ' '.repeat(value.length).split(''); let j = index">
        <input
          matInput
          type="text"
          [readonly]="info.readonly"
          [disabled]="info.disabled || false"
          [autocomplete]="info.autocomplete"
          [(ngModel)]="value[j]"
          [ngModelOptions]="{standalone: true}"
        />
        <button mat-icon-button matSuffix color="primary" (click)="arrayAdd(value, '', j + 1)">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button matSuffix color="primary" (click)="arrayRemove(value, j)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <button mat-icon-button matSuffix color="primary" *ngFor="let icon of suffixIcons" (click)="icon.onClick()">
          <mat-icon>{{ icon.name }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'boolean'">
    <mat-form-field [ngClass]="{empty: isEmpty(value)}">
      <mat-label>{{ info.label }}</mat-label>
      <mat-hint>{{ hint }}</mat-hint>
      <mat-select
        [disabled]="info.disabled || false"
        [(ngModel)]="value"
        (selectionChange)="onChange()"
        [placeholder]="info.placeholder || ''"
      >
        <mat-option [value]="true" [disabled]="info.readonly">是</mat-option>
        <mat-option [value]="false" [disabled]="info.readonly">否</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'select'">
    <mat-form-field [ngClass]="{empty: isEmpty(value)}">
      <mat-label>{{ info.label }}</mat-label>
      <mat-hint>{{ hint }}</mat-hint>
      <mat-select [disabled]="info.disabled || false" [(ngModel)]="value" (selectionChange)="onChange()">
        <mat-select-trigger *ngIf="optionText" [innerHtml]="optionText"></mat-select-trigger>
        <mat-option *ngFor="let option of options" [value]="option.value" [disabled]="info.readonly">
          {{ option.label || option.value }}
        </mat-option>
      </mat-select>
      <button *ngIf="info.clearable" appClickStop mat-icon-button matSuffix color="primary" (click)="clear()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button matSuffix color="primary" appClickStop *ngFor="let icon of suffixIcons" (click)="icon.onClick()">
        <mat-icon>{{ icon.name }}</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'selectMulti'">
    <mat-form-field [ngClass]="{empty: isEmpty(value)}">
      <mat-label>{{ info.label }}</mat-label>
      <mat-hint>{{ hint }}</mat-hint>
      <mat-select [disabled]="info.disabled || false" [(ngModel)]="value" (selectionChange)="onChange()" multiple>
        <mat-select-trigger *ngIf="optionText" [innerHtml]="optionText"></mat-select-trigger>
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.label || option.value }}
        </mat-option>
      </mat-select>
      <button *ngIf="info.clearable" appClickStop mat-icon-button matSuffix color="primary" (click)="clear()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button matSuffix color="primary" appClickStop *ngFor="let icon of suffixIcons" (click)="icon.onClick()">
        <mat-icon>{{ icon.name }}</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'coordinate'">
    <div class="sub-form-field" *ngIf="cast('coordinate', info).compact; else coordinate">
      <div class="label">
        <span>{{ info.label }}</span>
        <span *ngIf="info.hint">({{ hint }})</span>
      </div>
      <div>
        <mat-form-field style="width: 50%" [ngClass]="{empty: isEmpty(value[0])}">
          <mat-label>{{ cast("coordinate", info).labelX || "x" }}</mat-label>
          <ng-container>
            <mat-select [(ngModel)]="value[0]" (change)="onChange()">
              <mat-option [value]="0">左</mat-option>
              <mat-option [value]="0.5">中</mat-option>
              <mat-option [value]="1">右</mat-option>
            </mat-select>
          </ng-container>
          <ng-template #anchorX>
            <input matInput type="number" [(ngModel)]="value[0]" (change)="onChange()" />
          </ng-template>
        </mat-form-field>
        <mat-form-field style="width: 50%" [ngClass]="{empty: isEmpty(value[1])}">
          <mat-label>{{ cast("coordinate", info).labelY || "y" }}</mat-label>
          <ng-container>
            <mat-select [(ngModel)]="value[1]" (change)="onChange()">
              <mat-option [value]="1">上</mat-option>
              <mat-option [value]="0.5">中</mat-option>
              <mat-option [value]="0">下</mat-option>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </div>
    </div>
    <ng-template #coordinate>
      <mat-form-field [ngClass]="{empty: isEmpty(value)}">
        <mat-label>{{ info.label }}</mat-label>
        <mat-hint>{{ hint }}</mat-hint>
        <input matInput type="text" placeholder="请选择锚点" [value]="anchorStr" readonly [disabled]="info.disabled || false" />
        <button mat-icon-button matSuffix color="primary" [matMenuTriggerFor]="editable ? anchor : null">
          <mat-icon>list</mat-icon>
        </button>
        <mat-menu #anchor="matMenu">
          <app-anchor-selector [x]="value[0]" [y]="value[1]" (anchorChangeEnd)="onChange($event)" appClickStop></app-anchor-selector>
        </mat-menu>
        <button mat-icon-button matSuffix color="primary" *ngFor="let icon of suffixIcons" (click)="icon.onClick()">
          <mat-icon>{{ icon.name }}</mat-icon>
        </button>
      </mat-form-field>
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'color'">
    <mat-form-field [ngClass]="{empty: isEmpty(value)}">
      <mat-label>{{ info.label }}</mat-label>
      <mat-hint>{{ hint }}</mat-hint>
      <input
        matInput
        [value]="colorStr"
        [style]="{color: colorStr, backgroundColor: colorBg}"
        [matMenuTriggerFor]="editable ? colorPicker : null"
        readonly
        [disabled]="info.disabled || false"
      />
      <mat-menu #colorPicker="matMenu">
        <color-circle
          *ngIf="cast('color', info).options"
          [width]="202"
          [circleSpacing]="10"
          [color]="colorStr"
          [colors]="colorOptions"
          (onChangeComplete)="onColorChange($event.color)"
          appClickStop
        ></color-circle>
        <color-chrome
          *ngIf="!cast('color', info).optionsOnly"
          #colorChrome
          [color]="colorStr"
          (onChangeComplete)="onColorChange($event.color)"
          appClickStop
        >
        </color-chrome>
      </mat-menu>
      <ng-template></ng-template>
      <button mat-icon-button matSuffix *ngIf="info.clearable" color="primary" (click)="clear()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button matSuffix color="primary" *ngFor="let icon of suffixIcons" (click)="icon.onClick()">
        <mat-icon>{{ icon.name }}</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>
  <ng-container *ngSwitchCase="'group'">
    <ng-container *ngIf="info.label">
      <div class="sub-form-field">
        <div class="label">
          <span>{{ info.label }}</span>
          <span *ngIf="hint">({{ hint }})</span>
        </div>
        <div class="group">
          <app-input *ngFor="let info2 of cast('group', info).infos" [info]="info2"></app-input>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!info.label">
      <div class="group">
        <app-input *ngFor="let info2 of cast('group', info).infos" [info]="info2"></app-input>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
