@mixin colored-entity($color) {
  line,
  circle,
  path {
    stroke: $color;
    &[fill]:not([fill="none"]) {
      fill: $color;
    }
  }

  text {
    fill: $color;
    &[stroke]:not([stroke="none"]) {
      stroke: $color;
    }
  }

  image {
    filter: drop-shadow(0px 0px 5px $color);
  }
}

.cad-viewer {
  --selected-color: #ffca1c;
  --highlighted-color: #ffca1c;
  --hover-color: cyan;
  position: relative;
  svg {
    box-sizing: border-box;

    * {
      user-select: none;
      &.selectable {
        cursor: pointer;
      }
    }

    g {
      &.highlighted {
        @include colored-entity(var(--highlighted-color));
      }
      &:not(.highlighted) {
        &.selected.selectable {
          @include colored-entity(var(--selected-color));
        }
        &:not(.selected) {
          &:hover.selectable {
            @include colored-entity(var(--hover-color));
          }
        }
      }
    }
  }

  .multi-selector {
    position: fixed;
    background-color: rgba(29, 149, 234, 0.3);
    border: white solid 1px;
  }
}
