mat-paginator,
.cads {
  line-height: 1.5rem;
  font-size: 1rem;
}

.cads {
  --items-per-row: 5;
}

.details {
  width: 100%;

  .title {
    --title-size: 1.2rem;
    --title-padding: 0 0 5px 0;
    color: #0378d5;
  }
}
