<div class="toolbar">
  @if (data.source) {
    <div class="flex-110"></div>
  } @else {
    <mat-form-field style="flex: 0 1 150px">
      <mat-label>搜索类型</mat-label>
      <mat-select name="search-field" [(ngModel)]="searchField">
        <mat-option value="_id">ID</mat-option>
        <mat-option value="名字">名字</mat-option>
        <mat-option value="选项">选项</mat-option>
        <mat-option value="条件">条件</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>搜索CAD</mat-label>
      <input name="search-value" matInput type="search" (keydown)="searchKeydown($event)" [(ngModel)]="searchNameInput" />
      <button mat-icon-button color="primary" type="submit" matSuffix (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    @if (data.options) {
      <button mat-raised-button color="primary" (click)="search(true, 'and')">父级搜索</button>
      <button mat-raised-button color="primary" (click)="search(true, 'or')">父级搜索2</button>
    }
    <button mat-raised-button color="primary" (click)="advancedSearch()">高级搜索</button>
    <button mat-raised-button color="primary" (click)="search()">刷新</button>
    <button mat-raised-button color="primary" (click)="addCad()">添加</button>
    @if (data.yaoqiu?.["有帮助文档"]) {
      <button mat-raised-button color="primary" (click)="data.yaoqiu?.['打开帮助文档']()">帮助文档</button>
    }
    @if (data.yaoqiu?.["有导入参考dxf模板"]) {
      <button mat-raised-button color="primary" (click)="data.yaoqiu?.['下载导入参考dxf模板']()">下载导入cad模板</button>
    }
    <button mat-raised-button color="primary" (click)="openImportPage()">导入CAD</button>
    <button mat-raised-button color="primary" (click)="openExportPage()">导出CAD</button>
  }
  <mat-divider vertical class="placeholder large"></mat-divider>
  <div class="spinner-container">
    <button mat-raised-button color="primary" (click)="submit()">确定</button>
    <app-spinner [id]="loaderIdSubmit" [inline]="true"></app-spinner>
  </div>
  <button mat-raised-button color="primary" (click)="close()">取消</button>
</div>
<div class="toolbar">
  <mat-slide-toggle [checked]="showCheckedOnly" (change)="toggleShowCheckedOnly($event)">
    <span>只显示已选</span>
    @if (checkedInOtherPages) {
      <span>（其他页已选）</span>
    }
  </mat-slide-toggle>
  @if (data.selectMode === "multiple") {
    <mat-checkbox [checked]="allChecked()" [indeterminate]="partiallyChecked()" (change)="toggleSelectAll()">全选</mat-checkbox>
  }
</div>

<div class="flex-110 flex-column">
  <ng-scrollbar>
    <div class="cads items no-items-per-row add-empty-msg">
      @for (item of pageData; track i; let i = $index) {
        <app-cad-item
          [cad]="item.data"
          [buttons]="cadItemButtons"
          [customInfo]="{index: i}"
          [shujuyaoqiu]="data.yaoqiu"
          [isOnline]="true"
          [selectable]="{isSelected: item.checked, onChange: onSelectChange.bind(this)}"
        ></app-cad-item>
      }
    </div>
  </ng-scrollbar>
  <app-spinner [id]="loaderId" text="正在加载CAD"></app-spinner>
</div>

<div class="toolbar">
  <mat-paginator
    #paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true"
    (page)="changePage($event)"
  ></mat-paginator>
</div>

<ng-template #details let-data [appTypedTemplate]="{$implicit: cadDataType}"> </ng-template>
