<div class="toolbar">
  @if (data.title; as title) {
    <div class="title">{{ title }}</div>
  }
  @for (info of searchForm1(); track $index) {
    <app-input [info]="info"></app-input>
  }
  @if (!data.source) {
    <button mat-raised-button [color]="multiDeleting() ? 'accent' : 'primary'" (click)="toggleMultiDeleting()">批量删除</button>
    <button mat-raised-button color="primary" (click)="advancedSearch()">高级搜索</button>
    <button mat-raised-button color="primary" (click)="search()">刷新</button>
    <button mat-raised-button color="primary" (click)="addCad()">添加</button>
    @if (data.yaoqiu?.["有帮助文档"]) {
      <button mat-raised-button color="primary" (click)="data.yaoqiu?.['打开帮助文档']()">帮助文档</button>
    }
    @if (data.yaoqiu?.["有导入参考dxf模板"]) {
      <button mat-raised-button color="primary" (click)="data.yaoqiu?.['下载导入参考dxf模板'](downloadApi)">下载导入cad模板</button>
    }
    <button mat-raised-button color="primary" (click)="openImportPage()">导入CAD</button>
    <button mat-raised-button color="primary" (click)="openExportPage()">导出CAD</button>
  }
  @for (btn of data.toolbarBtns; track $index) {
    <button mat-raised-button color="primary" (click)="btn.onClick?.(this)">{{ btn.name }}</button>
  }
  <mat-divider vertical class="placeholder large"></mat-divider>
  <div class="spinner-container">
    <button mat-raised-button color="primary" (click)="submit()">确定</button>
    <app-spinner [id]="loaderIdSubmit" [inline]="true"></app-spinner>
  </div>
  <button mat-raised-button color="primary" (click)="close()">取消</button>
</div>
<div class="toolbar">
  <mat-slide-toggle [checked]="showCheckedOnly()" (change)="toggleShowCheckedOnly($event)">
    <span>只显示已选</span>
    @if (checkedInOtherPages()) {
      <span>（其他页已选）</span>
    }
  </mat-slide-toggle>
  @if (data.selectMode === "multiple") {
    <mat-checkbox [checked]="allChecked()" [indeterminate]="partiallyChecked()" (change)="toggleSelectAll()">全选</mat-checkbox>
  }
  @for (info of searchForm2(); track $index) {
    <app-input [info]="info"></app-input>
  }
</div>

<div class="flex-110 flex-column">
  <ng-scrollbar>
    <div class="cads items add-empty-msg">
      @for (item of pageData(); track i; let i = $index) {
        <app-cad-item
          #cadItem
          [cad]="item.data"
          [buttons]="cadItemButtons()"
          [customInfo]="{index: i}"
          [collection]="data.collection"
          [yaoqiu]="data.yaoqiu"
          [gongshis]="data.gongshis"
          [isOnline]="{isFetched: item.isFetched, afterFetch: afterFetch.bind(this)}"
          [selectable]="getItemSelectable(item)"
          (beforeEditCad)="beforeEditCad(item.data)"
          (afterEditCad)="afterEditCad(item.data)"
        ></app-cad-item>
      }
    </div>
  </ng-scrollbar>
  <app-spinner [id]="loaderId" text="正在加载CAD"></app-spinner>
</div>

<div class="toolbar">
  <mat-paginator
    #paginator
    [length]="length()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions()"
    [showFirstLastButtons]="true"
    (page)="changePage($event)"
  ></mat-paginator>
</div>
