.items {
  display: flex;
  flex-wrap: wrap;

  .item {
    width: 400px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .btn-group {
      width: 100%;
    }
  }

  ::ng-deep app-input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    .group {
      display: flex;
      width: 100%;

      > * {
        width: 0;
        flex: 1 1 0;
      }
    }
  }
}
