<ng-scrollbar>
  <div class="items">
    @for (item of formData; track item; let i = $index) {
      <mat-card class="item" (click)="printItem(item.item)">
        <div class="btn-group">
          <button mat-raised-button color="primary" (click)="addItem(i)">新增</button>
          <button mat-raised-button color="primary" (click)="addItem(i, item.item)">复制</button>
          <button mat-raised-button color="primary" (click)="removeItem(i)">删除</button>
        </div>
        @for (info of item.inputs1; track info) {
          <app-input [info]="info"></app-input>
        }
        @for (info of item.inputs2; track info) {
          <app-input [info]="info"></app-input>
        }
        @for (info of item.inputs3; track info) {
          <app-input [info]="info"></app-input>
        }
      </mat-card>
    }
    @if (formData.length < 1) {
      <mat-card class="item">
        <div class="btn-group">
          <button mat-raised-button color="primary" (click)="addItem(0)">新增</button>
        </div>
      </mat-card>
    }
  </div>
</ng-scrollbar>
