<div class="toolbar">
  <button mat-raised-button color="primary" (click)="close()">关闭</button>
</div>
<div class="flex-110 flex-row">
  <div class="table-list">
    <div class="title center">通用数据分类</div>
    <app-spinner [id]="tabelListLoader"></app-spinner>
    <ng-scrollbar>
      <div class="flex-column">
        @for (item of tableData; track i; let i = $index) {
          @if (i > 0) {
            <mat-divider></mat-divider>
          }
          <div class="table-item item-list" [class]="{active: item.active}">
            <div class="name" (click)="clickTableListItem(i)">{{ item.mingzi }}</div>
            @if (item.xiaodaohang) {
              <button mat-button color="primary" (click)="editTableListItem(i)">编辑</button>
            }
            @if (item.bangzhuwendang) {
              <button mat-button color="primary" (click)="helpTableListItem(i)">帮助</button>
            }
          </div>
        }
      </div>
    </ng-scrollbar>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="active-item">
    <div class="title center">可选项</div>
    <app-spinner [id]="activeItemLoader"></app-spinner>
    @if (activeItem) {
      <div class="toolbar right">
        @if (tableData[activeItem.index].xiaodaohang) {
          <button mat-button color="primary" (click)="editTableListItem(activeItem.index)">编辑</button>
        }
        @if (tableData[activeItem.index].bangzhuwendang) {
          <button mat-button color="primary" (click)="helpTableListItem(activeItem.index)">帮助</button>
        }
      </div>
      <ng-scrollbar>
        <div class="flex-column">
          @for (item of activeItem.data; track i; let i = $index) {
            @if (i > 0) {
              <mat-divider></mat-divider>
            }
            <div class="active-item-item" [class]="{active: item.active}">
              <div class="name" (click)="clickActiveItem(activeItem.index, i)">{{ item.mingzi }}</div>
            </div>
          }
        </div>
      </ng-scrollbar>
    }
  </div>
  <mat-divider vertical></mat-divider>
  <div class="cad-list">
    <div class="title center">CAD数据</div>
    <app-spinner [id]="cadListLoader"></app-spinner>
    @if (activeCadList && activeItem && isDataHaveCad(tableData[activeItem.index])) {
      <div class="toolbar">
        <button mat-raised-button color="primary" (click)="addCad()">添加</button>
      </div>
      <ng-scrollbar>
        <div class="items no-items-per-row">
          @if (activeCadList.data.length < 1) {
            <div class="item">
              <div class="title error">请添加CAD</div>
            </div>
          } @else {
            @for (item of activeCadList.data; track i; let i = $index) {
              <ng-container *ngTemplateOutlet="cadItem; context: {$implicit: item}"></ng-container>
            }
          }
        </div>
      </ng-scrollbar>
    }
  </div>
</div>

<ng-template #cadItem let-item>
  <div class="cad-item item">
    <div class="name center">{{ item["名字"] }}</div>
    <app-image class="cad-preview" [src]="item.img" (imgError)="getCadPreview(item)"></app-image>
    <div class="item">
      @for (option of item["选项"] | keyvalue: returnZero; track option.key) {
        <div class="text">{{ option.key }}: {{ option.value }}</div>
      }
    </div>
    <div class="toolbar center">
      <button mat-button color="primary" (click)="editCad(item)">编辑</button>
      <button mat-button color="primary" (click)="copyCad(item)">复制</button>
      <button mat-button color="primary" (click)="deleteCad(item)">删除</button>
    </div>
  </div>
</ng-template>
