<div class="toolbar right">
  <button mat-flat-button (click)="close()">关闭</button>
</div>
<div class="flex-110 flex-row">
  <div class="table-list">
    <div class="title center">通用数据分类</div>
    <app-spinner [id]="tabelListLoader"></app-spinner>
    <ng-scrollbar>
      <div class="flex-column">
        @for (item of tableData(); track i; let i = $index) {
          @if (i > 0) {
            <mat-divider></mat-divider>
          }
          <div class="table-item item-list" [class]="{active: item.active}">
            <div class="name" (click)="clickTableListItem(i)">{{ item.mingzi }}</div>
            <!-- @if (item.xiaodaohang) {
              <button mat-button  (click)="editTableListItem(i)">编辑</button>
            }
            @if (item.bangzhuwendang) {
              <button mat-button  (click)="helpTableListItem(i)">帮助</button>
            } -->
          </div>
        }
      </div>
    </ng-scrollbar>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="active-item">
    <div class="title center">下单选项</div>
    <app-spinner [id]="activeItemLoader"></app-spinner>
    @if (activeItem(); as activeItem) {
      <div class="toolbar right">
        @if (tableData()[activeItem.index].xiaodaohang) {
          <button mat-button (click)="editTableListItem(activeItem.index)">编辑</button>
        }
        @if (tableData()[activeItem.index].bangzhuwendang) {
          <button mat-button (click)="helpTableListItem(activeItem.index)">帮助</button>
        }
      </div>
      <ng-scrollbar>
        <div class="flex-column">
          @for (item of activeItem.data; track i; let i = $index) {
            @if (i > 0) {
              <mat-divider></mat-divider>
            }
            <div class="active-item-item" [class]="{active: item.active}">
              <div class="name" (click)="clickActiveItem(activeItem.index, i)">{{ item.mingzi }}</div>
            </div>
          }
        </div>
      </ng-scrollbar>
    }
  </div>
  <mat-divider vertical></mat-divider>
  <div class="cad-list">
    <div class="title center">CAD数据</div>
    <app-spinner [id]="cadListLoader"></app-spinner>
    @if (tableData()[activeItem()?.index ?? -1]; as data) {
      @if (isDataHaveCad(data)) {
        @if (activeCadList(); as activeCadList) {
          <div class="toolbar">
            <button mat-flat-button (click)="addCadFromList()">从配件库选择</button>
          </div>
          <ng-scrollbar>
            <div class="items">
              @if (activeCadList.data.length < 1) {
                <div class="item">
                  <div class="title error">请选择CAD</div>
                </div>
              } @else {
                @for (item of activeCadList.data; track i; let i = $index) {
                  <app-cad-item
                    [id]="item._id"
                    [cad]="item"
                    [buttons]="cadItemButtons"
                    [customInfo]="{index: i}"
                    [yaoqiu]="getShujuyaoqiu(data)"
                    [gongshis]="[]"
                    [isOnline]="{isFetched: true}"
                    (afterEditCad)="editCad(item)"
                  ></app-cad-item>
                }
              }
            </div>
          </ng-scrollbar>
        }
      }
    }
  </div>
</div>
