:host {
  --text-font-size: 17px;
  font-size: var(--text-font-size);
}

.table-list,
.active-item,
.cad-list {
  position: relative;
  display: flex;
  flex-direction: column;
}
.table-list {
  flex: 0 1 405px;
}
.active-item {
  flex: 0 1 300px;
}
.cad-list {
  flex: 1 0 200px;
}

.table-item,
.active-item-item {
  --item-min-height: 40px;
  width: 100%;
  min-height: var(--item-min-height);
  display: flex;
  align-items: center;
  &.active {
    background-color: lightgray;
  }

  .name {
    flex: 1 1 0;
    cursor: pointer;
    min-height: var(--item-min-height);
    display: flex;
    align-items: center;
  }
}
