<div class="toolbar right">
  <button mat-raised-button color="primary" (click)="close()">关闭</button>
</div>
<div class="flex-110 flex-row">
  <div class="table-list">
    <div class="title center">通用数据分类</div>
    <app-spinner [id]="tabelListLoader"></app-spinner>
    <ng-scrollbar>
      <div class="flex-column">
        @for (item of tableData; track i; let i = $index) {
          @if (i > 0) {
            <mat-divider></mat-divider>
          }
          <div class="table-item item-list" [class]="{active: item.active}">
            <div class="name" (click)="clickTableListItem(i)">{{ item.mingzi }}</div>
            @if (item.xiaodaohang) {
              <button mat-button color="primary" (click)="editTableListItem(i)">编辑</button>
            }
            @if (item.bangzhuwendang) {
              <button mat-button color="primary" (click)="helpTableListItem(i)">帮助</button>
            }
          </div>
        }
      </div>
    </ng-scrollbar>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="active-item">
    <div class="title center">下单选项</div>
    <app-spinner [id]="activeItemLoader"></app-spinner>
    @if (activeItem) {
      <div class="toolbar right">
        @if (tableData[activeItem.index].xiaodaohang) {
          <button mat-button color="primary" (click)="editTableListItem(activeItem.index)">编辑</button>
        }
        @if (tableData[activeItem.index].bangzhuwendang) {
          <button mat-button color="primary" (click)="helpTableListItem(activeItem.index)">帮助</button>
        }
      </div>
      <ng-scrollbar>
        <div class="flex-column">
          @for (item of activeItem.data; track i; let i = $index) {
            @if (i > 0) {
              <mat-divider></mat-divider>
            }
            <div class="active-item-item" [class]="{active: item.active}">
              <div class="name" (click)="clickActiveItem(activeItem.index, i)">{{ item.mingzi }}</div>
            </div>
          }
        </div>
      </ng-scrollbar>
    }
  </div>
  <mat-divider vertical></mat-divider>
  <div class="cad-list">
    <div class="title center">CAD数据</div>
    <app-spinner [id]="cadListLoader"></app-spinner>
    @if (activeCadList && activeItem && isDataHaveCad(tableData[activeItem.index])) {
      <div class="toolbar">
        <button mat-raised-button color="primary" (click)="addCad()">添加</button>
        <button mat-raised-button color="primary" (click)="addCadFromList()">从配件库添加</button>
      </div>
      <ng-scrollbar>
        <div class="items no-items-per-row">
          @if (activeCadList.data.length < 1) {
            <div class="item">
              <div class="title error">请添加CAD</div>
            </div>
          } @else {
            @for (item of activeCadList.data; track i; let i = $index) {
              <!-- <ng-container *ngTemplateOutlet="cadItem; context: {$implicit: item}"></ng-container> -->
              <app-cad-item
                [cad]="item"
                [cadWidth]="300"
                [cadHeight]="150"
                [buttons]="cadItemButtons"
                [customInfo]="{index: i}"
                [shujuyaoqiu]="getShujuyaoqiu(tableData[activeItem.index])"
                (afterEditCad)="editCad(item)"
              ></app-cad-item>
            }
          }
        </div>
      </ng-scrollbar>
    }
  </div>
</div>
