:host {
  padding: 10px;
}

.error {
  color: black;
}

.filter-form {
  display: flex;
  align-items: center;

  > :not(:last-child) {
    margin-right: 10px;
  }
}

.dakong-summary {
  --title-size: 1.2rem;

  .dakong-summary-table {
    border: var(--border);

    .title {
      border-bottom: var(--border);
    }

    .row {
      display: flex;
      &:not(:last-child) {
        border-bottom: var(--border);
      }
    }

    .cell {
      padding: 2px;
      flex: 1 1 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
      &:not(:last-child) {
        border-right: var(--border);
      }

      > * {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &.error {
        white-space: pre-wrap;
        text-align: left;
      }

      .success {
        color: green;
      }
      .error {
        color: red;
      }
    }
  }
}
