<div class="toolbar center">
  <div class="title">订单编号：{{ ordersCodeText() }}</div>
  <div class="title">最近一次孔位开料结果</div>
</div>
<div class="toolbar">
  <button mat-flat-button (click)="close()">关闭</button>
  <mat-slide-toggle [(ngModel)]="showIds">{{ showIds() ? "" : "不" }}显示id</mat-slide-toggle>
  <mat-slide-toggle [checked]="form().strictFilter" (change)="onStrictFilterChange($event)">
    {{ form().strictFilter ? "精确" : "模糊" }}搜索
  </mat-slide-toggle>
</div>
<div class="filter-form">
  <div>数据筛选</div>
  @for (info of formInputInfos(); track $index) {
    <app-input class="flex-110" [info]="info"></app-input>
  }
</div>
<ng-scrollbar>
  @for (info of tableInfos(); track $index) {
    <div class="dakong-summary">
      <div class="dakong-summary-table">
        <div class="title">CAD开孔情况</div>
        <div class="row">
          @for (col of tableColumns(); track $index) {
            <div [class]="['cell', col.field]">{{ col.name }}</div>
          }
        </div>
        @for (item of info.data; track $index) {
          @if (!item.hidden) {
            <div class="row">
              @for (col of tableColumns(); track $index) {
                <div [class]="['cell', col.field]">
                  @switch (col.field) {
                    @case ("count") {
                      <span>
                        @if (item.count < 1) {
                          <span>不开孔</span>
                        }
                        @if (item.count > 0) {
                          <span>开孔</span>
                        }
                      </span>
                    }
                    @case ("cadName") {
                      <span>
                        <span>{{ item.cadName }}</span>
                        <br />
                        <app-cad-image [id]="item.cadId" />
                        <span class="link text" (click)="openCad(item)">查看</span>
                      </span>
                    }
                    @case ("kongName") {
                      <span>
                        <span>{{ item.kongName }}</span>
                        <br />
                        <app-cad-image [id]="item.kongId" />
                        <span class="link text" (click)="openKongCad(item)">查看</span>
                      </span>
                    }
                    @case ("peizhiName") {
                      <span>
                        <span>{{ item.peizhiName }}</span>
                        <br />
                        <span class="link text" (click)="openKongpeizhi(item)">查看</span>
                        @if (item.formulaInfos; as infos) {
                          <br />
                          <app-formulas [formulaInfos]="infos"></app-formulas>
                        }
                      </span>
                    }
                    @case ("error") {
                      <span>
                        @if (item.muban; as muban) {
                          <span>激光开料模板</span>
                          <span class="link text" (click)="openMuban(item)">【{{ muban.name }}】</span>
                          <br />
                        }
                        @if (item[col.field]; as val) {
                          <span>{{ val }}</span>
                          <br />
                        }
                        @if (item.info) {
                          <br />
                          <span>{{ item.info }}</span>
                        }
                      </span>
                    }
                    @default {
                      <span>{{ item[col.field] }}</span>
                    }
                  }
                </div>
              }
            </div>
          }
        }
      </div>
    </div>
  }
</ng-scrollbar>
