::ng-deep {
  .spinner-container {
    position: relative;
  }
}

:host ::ng-deep {
  .spinner-container {
    position: relative;
  }

  ngx-ui-loader {
    --z-index-base: var(--top-z-index);
    .ngx-background-spinner {
      z-index: var(--z-index-base) !important;
    }

    .ngx-overlay {
      z-index: calc(var(--z-index-base) + 1) !important;
    }

    .ngx-progress-bar {
      z-index: calc(var(--z-index-base) + 2) !important;
    }
  }
}
