<div class="flex-row flex-110 scrollbar-container">
  <ng-scrollbar style="flex: 0 0 auto; height: 100%">
    <div class="item-types border flex-column">
      @for (item of items(); track i; let i = $index) {
        <div class="item-type link" [class.active]="activeItemIndex() === i" (click)="clickItem(i)">
          <span>{{ item["产品分类"] }}</span>
          @if (item["锁边铰边数据"].length < 1) {
            <span class="error">（没有数据）</span>
          }
          <button mat-stroked-button (click)="copySbjbItems(item)">复制</button>
        </div>
      }
    </div>
  </ng-scrollbar>
  <mat-divider vertical></mat-divider>
  <div class="flex-column flex-110 scrollbar-container">
    <div class="flex-column flex-110">
      @if (sbjbItemTableInfo(); as info) {
        <app-table
          #sbjbItemTable
          class="flex-110"
          [info]="info"
          (rowButtonClick)="onSbjbItemTableRow($event)"
          (cellClick)="onSbjbItemTableCellClick($event)"
          (filterAfter)="onSbjbItemTableFilterAfter($event)"
        ></app-table>
      }
    </div>
    <ng-scrollbar class="enable-x">
      <div class="flex-column">
        <div class="toolbar">
          <button mat-flat-button [class.accent]="showCadFormDefaultTexts()" (click)="toggleShowCadFormDefaultTexts()">显示详细信息</button>
          <button mat-flat-button (click)="importItemCads()">导入</button>
          <button mat-flat-button (click)="exportItemCads()">导出</button>
        </div>
        @for (group of cadInfoGroups(); track $index) {
          <div class="flex-row">
            @for (info of group; track $index) {
              <div class="item">
                @if (info.cad; as cad) {
                  <app-cad-item
                    [collection]="cadCollection"
                    [cad]="cad"
                    [buttons]="[]"
                    [buttons2]="cadButtons2()"
                    [formTitleBtns]="cadItemFormTitleBtns()"
                    [customInfo]="{index: info.originalIndex}"
                    [yaoqiu]="cadYaoqius()[cad.type]"
                    [titlePrefix]="info.title + '：'"
                    [cadForm]="info.cadForm"
                    [isOnline]="{isFetched: false}"
                  ></app-cad-item>
                } @else {
                  <div class="item link" (click)="selectSbjbItemSbjbCad(info.originalIndex)">
                    <div class="name">{{ info.title }}</div>
                    <div class="empty-cad error">请选择</div>
                  </div>
                }
                @if (info.item2?.["使用正面分体"] || info.item2?.["使用背面分体"]) {
                  <ng-container
                    *ngTemplateOutlet="fentiCads; context: {$implicit: {key: info.title, qiliao: info.qiliao, vertical: true}}"
                  ></ng-container>
                }
              </div>
            }
          </div>
        }
      </div>
    </ng-scrollbar>
  </div>
</div>

@if (sbjbItemSbjbItemForm(); as form) {
  <app-floating-dialog width="50%" height="70%" left="25%" top="15%" noTitle (close)="closeSbjbItemSbjbItemForm(false)">
    <div class="toolbar">
      <div class="title">{{ form.title }}</div>
      <button mat-flat-button (click)="showXinghaosUsingSbjbCad(form.cadName)">{{ showXinghaosUsingSbjbCadBtnName }}</button>
    </div>
    <ng-scrollbar>
      <div class="toolbar vertical">
        @for (info of form.inputInfos; track $index) {
          <app-input #sbjbItemSbjbItemFormInputs style="width: 100%" [info]="info"></app-input>
        }
        @if (form.item2New["使用正面分体"] || form.item2New["使用背面分体"]) {
          <ng-container *ngTemplateOutlet="fentiCads; context: {$implicit: {key: form.name, form}}"></ng-container>
        }
      </div>
    </ng-scrollbar>
    <div class="toolbar center">
      <button mat-flat-button (click)="closeSbjbItemSbjbItemForm(true)">确定</button>
      <button mat-flat-button (click)="closeSbjbItemSbjbItemForm(false)">取消</button>
    </div>
  </app-floating-dialog>
}

<ng-template #fentiCads [appTypedTemplate]="fentiCadTemplateData" let-data>
  <div class="toolbar" [class.vertical]="data.vertical" style="width: 100%">
    @for (title of fentiCadTemplateTitles; track $index) {
      @if (getFentiCadTemplateCad({data, title}); as cad) {
        <app-cad-item
          [collection]="cadCollection"
          [cad]="cad"
          [buttons]="[]"
          [buttons2]="fentiCadButtons2()"
          [customInfo]="{data, title}"
          [yaoqiu]="fentiCadYaoqiu()"
          [titlePrefix]="title + '：'"
          [cadForm]="{noDefaultTexts: !showCadFormDefaultTexts()}"
          [isOnline]="{isFetched: false}"
        ></app-cad-item>
      } @else {
        <div class="item link" (click)="chooseFentiCad({data, title})">
          <div class="empty-cad error">请选择{{ title }}</div>
        </div>
      }
    }
  </div>
</ng-template>
