<div class="flex-row flex-110">
  <ng-scrollbar style="flex: 0 0 auto; height: 100%">
    <div class="item-types border flex-column">
      @for (item of items(); track i; let i = $index) {
        <div class="item-type link" [class.active]="activeItemIndex() === i" (click)="clickItem(i)">
          <span>{{ item["产品分类"] }}</span>
          @if (item["锁边铰边数据"].length < 1) {
            <span class="error">（没有数据）</span>
          }
          <button mat-stroked-button color="primary" appClickStop (click)="copySbjbItems(item)">复制</button>
        </div>
      }
    </div>
  </ng-scrollbar>
  <mat-divider vertical></mat-divider>
  <div class="flex-column flex-110">
    <div class="flex-column flex-110" #sbjbItemTableContainer>
      @if (sbjbItemTableInfo(); as info) {
        <app-table
          class="flex-110"
          [info]="info"
          (rowButtonClick)="onSbjbItemTableRow($event)"
          (rowSelectionChange)="onSbjbItemTableRowSelect($event)"
        ></app-table>
      }
    </div>
    <ng-scrollbar>
      <div class="items no-items-per-row flex-110">
        @for (info of cadInfos(); track $index) {
          @if (info.cad; as cad) {
            <app-cad-item
              [cad]="cad"
              [cadWidth]="cadWidth"
              [cadHeight]="cadHeight"
              [buttons]="[]"
              [buttons2]="cadButtons2()"
              [customInfo]="{index: $index}"
              [yaoqiu]="cadYaoqius()[cad.name]"
              [titlePrefix]="info.type + '：'"
              editDisabled
              [isOnline]="{isFetched: true}"
            ></app-cad-item>
          } @else {
            <div class="empty-cad item link" (click)="selectSbjbItemSbjbCad($index)">
              <div class="name">{{ info.type }}</div>
              <div class="box border" [style]="{width: cadWidth + 'px', height: cadHeight + 'px'}">
                <span class="error">请选择</span>
              </div>
            </div>
          }
        }
      </div>
    </ng-scrollbar>
  </div>
</div>
