.item-type {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: bold;
  &:not(:last-child) {
    border-bottom: var(--border);
  }
  &.active {
    background-color: lightgray;
  }
}

app-table {
  margin: 5px;
}
