:host {
  padding: 10px;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mat-sys-on-surface);
  position: relative;
  user-select: none;

  * {
    user-select: none;
  }
}

.pointer {
  position: absolute;
  background-color: var(--mat-sys-outline);
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.selections {
  > * {
    width: 80px;
    margin: 0 5px;
  }
}

.divider {
  background-color: var(--mat-sys-surface);
  position: absolute;
  transform: translate(-50%, -50%);
  --size: 2px;

  &.horizontal {
    width: 100%;
    height: var(--size);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &.vertical {
    width: var(--size);
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
