:host {
  padding: 20px;
}

.favorites-group {
  > * {
    width: 100%;
  }

  > .items {
    margin-top: -20px;
  }
}

.favorite-item {
  --item-width: 240px;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;

  .header {
    flex-grow: 1;
    align-items: flex-start;

    .title {
      color: blue;
      padding: 10px 0;
      width: 100%;
    }
  }
}
