<div class="toolbar">
  <button mat-raised-button color="primary" (click)="refresh()">刷新</button>
  <button mat-raised-button color="primary" (click)="clear()">清空</button>
  <button mat-raised-button color="primary" (click)="import()">导入</button>
  <button mat-raised-button color="primary" (click)="export()">导出</button>
  <button mat-raised-button [color]="showMoreButtons ? 'accent' : 'primary'" (click)="showMoreButtons = !showMoreButtons">编辑</button>
  <button mat-raised-button color="primary" (click)="importDefaultWorkData()">加载默认配置</button>
  @if (defaultWorkDataFormInfo) {
    <button mat-raised-button color="primary" (click)="setDefaultWorkData()">保存默认配置</button>
    <button mat-raised-button color="primary" (click)="unsetDefaultWorkData()">删除默认配置</button>
  }
  @if (!production) {
    <button mat-raised-button color="primary" (click)="toggleDefaultWorkDataList()">list</button>
  }
</div>

<ng-scrollbar>
  @if (showDefaultWorkDataList && defaultWorkDataList) {
    <div class="items no-items-per-row">
      @for (item of defaultWorkDataList; track $index) {
        <div class="favorite-item item border">
          <div class="toolbar header">
            <div class="title">{{ item.key }}</div>
          </div>
          <div class="text">{{ item.path }}</div>
          <div class="toolbar">
            <button mat-button color="primary" (click)="loadDefaultWorkData(item.data)">加载</button>
            <button mat-button color="primary" (click)="removeDefaultWorkData(item.key, null, true)">删除</button>
          </div>
        </div>
      }
    </div>
  }

  <div class="favorites-groups flex-column">
    @for (i of manager.typesSortedIndexs; track $index) {
      <div class="favorites-group item">
        <div class="toolbar">
          <div class="title">{{ manager.types[i].name }}</div>
          @if (showMoreButtons) {
            <div class="text short">排序：{{ manager.types[i].order || 0 }}</div>
            <button mat-button color="primary" (click)="editType(i)">编辑</button>
          }
        </div>
        <div class="items no-items-per-row">
          @for (j of manager.favoritesSortedIndexs; track $index) {
            @if (manager.favorites[j].type === manager.types[i].name) {
              <div class="favorite-item item border">
                <div class="toolbar header">
                  <div class="title link" (click)="openFavorite(j)">{{ manager.favorites[j].xiao }}</div>
                </div>
                @if (showMoreButtons) {
                  <div class="desc text link" (click)="openFavorite(j)">{{ manager.favorites[j].tou }}/{{ manager.favorites[j].da }}</div>
                  <div class="toolbar">
                    <button mat-button color="primary" (click)="editFavorite(j)">编辑</button>
                    <button mat-button color="primary" (click)="removeFavorite(j)">删除</button>
                    <div class="text short">排序：{{ manager.favorites[j].order || 0 }}</div>
                  </div>
                }
              </div>
            }
          }
        </div>
      </div>
    }
  </div>
</ng-scrollbar>
