<app-context-menu #contextMenu>
  <button mat-menu-item (click)="zoomAll()">居中</button>
  <button mat-menu-item (click)="refresh()">刷新</button>
  <button mat-menu-item (click)="toggleAllMenu()">{{ showAllMenu() ? "隐藏" : "显示" }}菜单</button>
</app-context-menu>

<div class="menus">
  <div class="cad-container" #cadContainer [appContextMenuTrigger]="contextMenu"></div>
  <app-cad-points></app-cad-points>

  <div class="menu top" [@closeTop]="showTopMenu() ? 'open' : 'closed'">
    <app-toolbar></app-toolbar>
  </div>
  <div class="menus-row">
    <div class="menu left" [style.width.px]="leftMenuWidth()" [@closeLeft]="showLeftMenu() ? 'open' : 'closed'">
      <div class="toolbar" style="width: 100%">
        @if (!openCadOptions().isLocal) {
          <button mat-flat-button class="accent" (click)="save()">保存</button>
        }
        <div class="flex-110"></div>
        <button mat-icon-button class="menu-icon left" [class.closed]="!showLeftMenu()" (click)="toggleLeftMenu()">
          <mat-icon>
            {{ showLeftMenu() ? "navigate_before" : "navigate_next" }}
          </mat-icon>
        </button>
      </div>
      <app-sub-cads></app-sub-cads>
      @if (draggingLeft(); as dragDataLeft) {
        <div class="width-indicator" @menuWidth>{{ dragDataLeft.width }}px</div>
      }
      <div
        class="resize-handle-right"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragStarted)="onResizeMenuStart($event, 'leftMenuWidth')"
        (cdkDragMoved)="onResizeMenu($event, 'leftMenuWidth')"
        (cdkDragEnded)="onResizeMenuEnd($event, 'leftMenuWidth')"
      ></div>
    </div>
    <div class="menu right" [style.width.px]="rightMenuWidth()" [@closeRight]="showRightMenu() ? 'open' : 'closed'">
      <div class="toolbar" style="width: 100%">
        <button mat-icon-button class="menu-icon right" [class.closed]="!showRightMenu()" (click)="toggleRightMenu()">
          <mat-icon>
            {{ showRightMenu() ? "navigate_next" : "navigate_before" }}
          </mat-icon>
        </button>
      </div>
      @for (name of shownMenuNames(); track $index) {
        @switch (name) {
          @case ("cadInfo") {
            <div class="sub-menu">
              <div style="padding: 10px">CAD总长: {{ cadLength() }}</div>
              <div class="toolbar" style="position: relative">
                <mat-slide-toggle [checked]="multiSelect" (change)="toggleMultiSelect()">
                  实体{{ multiSelect ? "多选" : "单选" }}
                </mat-slide-toggle>
                <div class="flex-110"></div>
                <button mat-icon-button (pointerenter)="showMenuSearch()">
                  <mat-icon>search</mat-icon>
                </button>
                @if (menuSearchShown()) {
                  <div class="menu-search" (pointermove)="onMenuSearchPointerMove($event)">
                    <app-input [info]="menuSearchInputInfo()"></app-input>
                  </div>
                }
              </div>
              <mat-tab-group
                #infoTabs
                [disablePagination]="true"
                dynamicHeight
                [(selectedIndex)]="tabIndex"
                (selectedTabChange)="onInfoTabChange($event)"
              >
                <mat-tab label="CAD">
                  <ng-scrollbar>
                    <app-cad-info></app-cad-info>
                  </ng-scrollbar>
                </mat-tab>
                <mat-tab label="线段">
                  <ng-scrollbar>
                    <app-cad-line></app-cad-line>
                  </ng-scrollbar>
                </mat-tab>
                <mat-tab label="文本">
                  <ng-scrollbar>
                    <app-cad-mtext></app-cad-mtext>
                  </ng-scrollbar>
                </mat-tab>
                <mat-tab label="标注">
                  <ng-scrollbar>
                    <app-cad-dimension></app-cad-dimension>
                  </ng-scrollbar>
                </mat-tab>
                @if (cadFentiOn()) {
                  <mat-tab label="分体">
                    <ng-scrollbar>
                      <app-cad-fenti-config></app-cad-fenti-config>
                    </ng-scrollbar>
                  </mat-tab>
                }
              </mat-tab-group>
            </div>
          }
          @case ("cadAssemble") {
            <div class="sub-menu">
              <app-cad-assemble></app-cad-assemble>
            </div>
          }
          @case ("cadSplit") {
            <div class="sub-menu" style="display: none">
              <app-cad-split></app-cad-split>
            </div>
          }
        }
      }
      @if (draggingRight(); as dragDataRight) {
        <div class="width-indicator" @menuWidth>{{ dragDataRight.width }}px</div>
      }
      <div
        class="resize-handle-left"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragStarted)="onResizeMenuStart($event, 'rightMenuWidth')"
        (cdkDragMoved)="onResizeMenu($event, 'rightMenuWidth')"
        (cdkDragEnded)="onResizeMenuEnd($event, 'rightMenuWidth')"
      ></div>
    </div>
    @if (params()?.suanliaogongshiInfo; as suanliaogongshiInfo) {
      <div #suanliaogongshi class="suanliaogongshi menu" [class.mini]="!showSuanliaogongshi()" [style.left.px]="suanliaogongshiLeft()">
        <div class="toolbar">
          <button mat-flat-button (click)="toggleSuanliaogongshi()">
            {{ showSuanliaogongshi() ? "隐藏" : "显示" }}
          </button>
        </div>
        <app-suanliaogongshi [info]="suanliaogongshiInfo"></app-suanliaogongshi>
      </div>
    }
    @if (params()?.suanliaoTablesInfo; as suanliaoTablesInfo) {
      <div #suanliaoTables class="suanliao-tables menu" [class.mini]="!showSuanliaoTables()" [style.left.px]="suanliaoTablesLeft()">
        <div class="toolbar">
          <button mat-flat-button (click)="toggleSuanliaoTables()">
            {{ showSuanliaoTables() ? "隐藏" : "显示" }}
          </button>
        </div>
        <app-suanliao-tables [suanliaoDataParams]="suanliaoTablesInfo.params"></app-suanliao-tables>
      </div>
    }
  </div>
  <div class="menu bottom" [class.accent]="hasCadStatusNotNormal()" [@closeBottom]="showBottomMenu() ? 'open' : 'closed'">
    <div class="cad-status">当前状态：{{ cadStatusesName() }}</div>
  </div>
  <app-spinner [id]="spinnerId"></app-spinner>
</div>
