@for (component of components(); track $index) {
  <div
    #componentEl
    class="page-component"
    [class]="component.type"
    [attr.data-id]="component.id"
    [style]="component.getStyle()"
    (click)="clickComponent($event, component)"
    (dblclick)="dblClickComponent(component, componentEl)"
    cdkDrag
    [cdkDragDisabled]="isEditingComponent()?.id === component.id"
    (cdkDragStarted)="moveComponentStart()"
    (cdkDragMoved)="moveComponent($event, component)"
    (cdkDragEnded)="moveComponentEnd($event, component)"
  >
    @switch (component.type) {
      @case ("text") {
        <textarea
          matInput
          [value]="component.text"
          [readonly]="isEditingComponent()?.id !== component.id"
          (input)="onComponentTextInput($event, component)"
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
        ></textarea>
      }
    }
  </div>
}

@if (controlStyle(); as controlStyle) {
  <div class="control-rect" [style]="controlStyle">
    <div class="line top"></div>
    <div class="line right"></div>
    <div class="line bottom"></div>
    <div class="line left"></div>
  </div>
}
