@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$rose-palette
      ),
      typography: "Roboto, 微软雅黑, sans-serif",
      density: -1
    )
  );

  @include mat.icon-button-overrides(
    (
      // ? not working
      icon-size: var(--mat-icon-size),
      icon-color: var(--mat-sys-primary)
    )
  );

  @include mat.form-field-overrides(
    (
      filled-label-text-size: calc(var(--mat-sys-body-large-size) * 1.125),
      filled-label-text-color: var(--mat-sys-primary),
      filled-hover-label-text-color: var(--mat-sys-primary),
      outlined-label-text-size: calc(var(--mat-sys-body-large-size) * 1.125)
    )
  );

  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-primary),
      supporting-text-color: var(--mat-sys-on-primary)
    )
  );

  @include mat.dialog-overrides(
    (
      container-max-width: 100vw
    )
  );

  & {
    font: var(--mat-sys-body-large);
  }
}

.plain {
  @include mat.button-overrides(
    (
      text-label-text-color: var(--mat-sys-on-surface)
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-on-surface)
    )
  );
}
.accent {
  @include mat.button-overrides(
    (
      text-label-text-color: var(--mat-sys-tertiary),
      filled-label-text-color: var(--mat-sys-on-tertiary),
      filled-container-color: var(--mat-sys-tertiary)
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-tertiary)
    )
  );
}

.mat-mdc-form-field {
  width: 100%;
  flex: 1 1 0;

  .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field-icon-suffix {
    display: flex;

    .mat-mdc-icon-button {
      width: inherit;
      height: inherit;
      padding: 0;

      .mat-mdc-button-touch-target {
        display: none;
      }
    }
  }

  .mdc-text-field,
  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper {
    padding: 0 5px;
  }
}

.mat-mdc-button.mdc-button {
  min-width: unset;
}

.mat-mdc-dialog-surface .mat-mdc-dialog-actions {
  justify-content: center;

  > :not(:first-child) {
    margin-left: 8px;
  }
}

.mat-mdc-menu-item {
  display: flex !important;
  justify-content: space-between;
  padding: 0 10px;

  .shortcut {
    text-align: right;
    font-size: 0.75rem;
    color: var(--mat-sys-outline-variant);
    margin-left: 10px;
  }
}

mat-divider {
  &.mat-divider-horizontal {
    margin: var(--mat-divider-margin) 0;
  }
  &.mat-divider-vertical {
    margin: 0 var(--mat-divider-margin);
  }
  &.placeholder {
    --mat-divider-color: transparent;
  }
}

.mat-tree {
  --node-padding: 0 0 0 20px;

  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .mat-nested-tree-node div[role="group"] {
    padding: var(--node-padding);
  }

  div[role="group"] > .mat-tree-node {
    padding: var(--node-padding);
  }
}

.mat-icon {
  width: var(--mat-icon-size) !important;
  height: var(--mat-icon-size) !important;
  font-size: var(--mat-icon-size) !important;
}
.mat-mdc-icon-button.mat-mdc-button-base {
  width: var(--mat-icon-size) !important;
  height: var(--mat-icon-size) !important;
  padding: var(--mat-icon-padding) !important;
}
.mat-mdc-icon-button .mat-mdc-button-touch-target {
  width: var(--mat-icon-size) !important;
  height: var(--mat-icon-size) !important;
}

.cdk-overlay-container {
  z-index: calc(var(--top-z-index) + var(--floating-dialog-offset-z-index, 0));
}

.cdk-drag-preview {
  opacity: 0;
}
.cdk-drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-tab-group.hide-first-tab {
  .mat-mdc-tab-labels > .mat-mdc-tab:first-child {
    display: none;
  }
}

:root {
  --mat-divider-margin: 5px;
  --mat-icon-size: 24px;
}
