@use "@angular/material" as mat;

@include mat.core();

$app-typography: mat.define-rem-typography-config(
  $font-family: "Roboto, 微软雅黑, sans-serif"
);
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette);
$warn: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography: $app-typography,
    density: 0
  )
);
@include mat.all-component-themes($app-theme);
@include mat.typography-hierarchy($app-typography);

$primary-color: mat.get-color-from-palette($primary);
$accent-color: mat.get-color-from-palette($accent);

.mat-mdc-form-field {
  width: 100%;
  flex: 1 1 0;

  .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field-icon-suffix {
    display: flex;

    .mat-mdc-icon-button {
      width: inherit;
      height: inherit;
      padding: 0;

      .mat-mdc-button-touch-target {
        display: none;
      }
    }
  }

  &.empty {
    .mdc-line-ripple::before {
      border-bottom-color: red;
      border-bottom-width: 2px;
    }
  }

  .mdc-text-field,
  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper {
    padding: 0 5px;
  }
}

.mat-mdc-dialog-container {
  --mdc-dialog-supporting-text-color: black;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #{$primary-color};
}

.mat-mdc-button.mdc-button {
  min-width: unset;
}

.mat-mdc-dialog-surface .mat-mdc-dialog-actions {
  justify-content: center;

  > :not(:first-child) {
    margin-left: 8px;
  }
}

.mat-mdc-option .mdc-list-item__primary-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-mdc-menu-item {
  display: flex !important;
  justify-content: space-between;
  padding: 0 10px;

  .shortcut {
    text-align: right;
    font-size: 0.75rem;
    color: #868686;
    margin-left: 10px;
  }
}

mat-divider {
  &.mat-divider {
    border-color: rgb(0, 0, 0, 0.7);
  }
  &.mat-divider-horizontal {
    margin: var(--mat-divider-margin) 0;
  }
  &.mat-divider-vertical {
    margin: 0 var(--mat-divider-margin);
  }
  &.placeholder {
    border-color: transparent;
  }
}

.mat-tree {
  --node-padding: 0 0 0 20px;

  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .mat-nested-tree-node div[role="group"] {
    padding: var(--node-padding);
  }

  div[role="group"] > .mat-tree-node {
    padding: var(--node-padding);
  }
}

.mat-icon {
  width: var(--mat-icon-size) !important;
  height: var(--mat-icon-size) !important;
  font-size: var(--mat-icon-size) !important;
}
.mat-mdc-icon-button.mat-mdc-button-base {
  width: var(--mat-icon-size) !important;
  height: var(--mat-icon-size) !important;
  padding: var(--mat-icon-padding) !important;
}
.mat-mdc-icon-button .mat-mdc-button-touch-target {
  width: var(--mat-icon-size) !important;
  height: var(--mat-icon-size) !important;
}

.cdk-overlay-container {
  z-index: var(--top-z-index);
}

.cdk-drag-preview {
  z-index: var(--top-z-index1) !important;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

:root {
  --mat-divider-margin: 5px;
  --mat-icon-size: 24px;
  --mat-form-field-container-text-size: 1.125rem;
  --mdc-filled-text-field-label-text-color: #{$primary-color};
  --mdc-filled-text-field-focus-label-text-color: #{$primary-color};
  --mdc-filled-text-field-label-text-size: 1.125rem;
  --mdc-outlined-text-field-label-text-color: #{$primary-color};
  --mdc-outlined-text-field-focus-label-text-color: #{$primary-color};
  --mdc-outlined-text-field-label-text-size: 1.125rem;
}
