.ng-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  --toolbat-margin: 2.5px;
  &.mat-mdc-dialog-component-host {
    display: flex;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    --item-margin: 2px;

    &.items-per-row > .item {
      width: calc(100% / var(--items-per-row, 1) - var(--item-margin) * 2);
    }
    .items-per-row {
      position: relative; // placeholder
    }
  }

  .item {
    width: var(--item-width, auto);
    height: var(--item-height, auto);
    margin: var(--item-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    box-sizing: border-box;
    position: relative;
    --border: 1px solid var(--primary-color);
    &:hover {
      --border: 1px solid var(--accent-color);
    }
    &.active {
      --border: 1px solid var(--accent-color);
    }

    app-image {
      width: 100%;
      height: var(--item-image-height, 0);
      flex: 1 1 0;
    }
    app-cad-image app-image {
      height: auto;
      flex: 0 0 auto;
    }

    .name,
    .text.long {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .text {
      width: 100%;
    }

    .name {
      text-align: center;
    }

    .toolbar {
      width: 100%;
      padding: 0;
    }

    & > :not(:last-child) {
      margin-bottom: 5px;
    }

    .float-top {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .toolbar {
    --large-placeholder-size: 30px;
    display: flex;
    flex-wrap: wrap;
    > .mdc-button {
      flex: 0 0 auto;
    }
    &:not(.vertical) {
      align-items: center;
      &.center {
        justify-content: center;
      }
      &.right {
        justify-content: flex-end;
      }
      &.left {
        justify-content: flex-start;
      }
      &.top {
        align-items: flex-start;
      }
      &.bottom {
        align-items: flex-end;
      }
    }
    &.vertical {
      flex-direction: column;
      align-items: center;
      &.center {
        justify-content: center;
      }
      &.bottom {
        justify-content: flex-end;
      }
      &.top {
        justify-content: flex-start;
      }
      &.left {
        align-items: flex-start;
      }
      &.right {
        align-items: flex-end;
      }
    }
    &.no-wrap {
      flex-wrap: nowrap;
    }

    .text {
      &:not(.wrap) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &.wrap {
        width: 0;
        flex: 1 1 0;
      }
      &.center {
        text-align: center;
      }
      &.short {
        width: auto;
        flex: 0 0 auto;
      }
      &.long {
        width: 0;
        flex: 1 1 0;
      }
    }

    > * {
      margin: var(--toolbat-margin);
    }
    > .toolbar {
      margin: 0;
    }

    & {
      --mdc-checkbox-state-layer-size: 30px;
      .mat-mdc-checkbox-touch-target {
        width: 36px;
        height: 36px;
      }
      .mat-mdc-checkbox {
        margin: 0;
      }
    }

    &.compact {
      .mdc-button {
        padding: 0;
        --mdc-text-button-container-height: auto;
        .mat-mdc-button-touch-target {
          height: auto;
        }
      }
    }

    .mat-divider {
      &.large {
        flex: 0 1 var(--large-placeholder-size);
      }
      &.flex-110 {
        flex: 1 1 0;
      }
    }
  }

  .success {
    color: green;
  }

  .error,
  button.error {
    color: red;
  }

  .primary {
    color: var(--primary-color);
  }
  .accent {
    color: var(--accent-color);
  }

  .link {
    cursor: pointer;
    &.text {
      text-decoration: underline;
    }
  }

  mat-tab-group.flex-110 {
    .mat-mdc-tab-body-wrapper {
      flex: 1 1 0;
    }
  }

  ol,
  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 20px;
  }
}

.error-msg {
  font-size: var(--mat-form-field-subscript-text-size);
  color: var(--mat-form-field-error-text-color);
}

.empty-cad {
  display: flex;
  flex-direction: column;
  margin: var(--toolbat-margin);
  font-size: 18px;
  align-items: flex-start;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cad-image-width);
    height: var(--cad-image-height);
  }
}
