.ng-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  word-break: break-word;
  --toolbar-margin: 2.5px;
  &.mat-mdc-dialog-component-host {
    display: flex;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    --item-margin: 2px;
    --item-padding: 0;

    &.items-per-row > .item {
      width: calc(100% / var(--items-per-row, 1) - var(--item-margin) * 2);
    }
    .items-per-row {
      position: relative; // placeholder
    }
    &.vertical {
      flex-direction: column;
    }
  }

  .item {
    width: var(--item-width, auto);
    height: var(--item-height, auto);
    margin: var(--item-margin);
    padding: var(--item-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    box-sizing: border-box;
    position: relative;
    --border: 1px solid var(--mat-sys-primary);
    &:hover,
    &.active {
      --border: 1px solid var(--mat-sys-tertiary);
    }
    &.clicked {
      border: 1px solid var(--mat-sys-tertiary);
    }
    &.colored-dim {
      &:hover,
      &.active {
        background-color: var(--mat-sys-outline-variant);
      }
    }
    &.colored {
      background-color: var(--mat-sys-primary-container);
      color: var(--mat-sys-on-primary-container);
      &:hover,
      &.active {
        background-color: var(--mat-sys-tertiary-container);
        color: var(--mat-sys-on-tertiary-container);
      }
    }

    app-image {
      width: 100%;
      height: var(--item-image-height, 0);
      flex: 1 1 0;
    }
    app-cad-image app-image {
      height: auto;
      flex: 0 0 auto;
    }

    .name {
      width: auto;
      &.fullwidth {
        width: 100%;
      }
    }

    .text {
      width: 100%;
      &.long {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .toolbar {
      width: 100%;
      padding: 0;
    }

    & > :not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .toolbar {
    --placeholder-size: 30px;
    display: flex;
    flex-wrap: wrap;
    > .mdc-button {
      flex: 0 0 auto;
    }
    &:not(.vertical) {
      align-items: center;
      &.center {
        justify-content: center;
      }
      &.right {
        justify-content: flex-end;
      }
      &.left {
        justify-content: flex-start;
      }
      &.top {
        align-items: flex-start;
      }
      &.bottom {
        align-items: flex-end;
      }
    }
    &.vertical {
      flex-direction: column;
      align-items: center;
      &.center {
        justify-content: center;
      }
      &.bottom {
        justify-content: flex-end;
      }
      &.top {
        justify-content: flex-start;
      }
      &.left {
        align-items: flex-start;
      }
      &.right {
        align-items: flex-end;
      }
    }
    &.no-wrap {
      flex-wrap: nowrap;
    }

    .text {
      &:not(.wrap) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &.wrap {
        width: 0;
        flex: 1 1 0;
      }
      &.short {
        width: auto;
        flex: 0 0 auto;
      }
      &.long {
        width: 0;
        flex: 1 1 0;
      }
    }

    > * {
      margin: var(--toolbar-margin);
    }
    > .toolbar {
      margin: 0;
    }

    & {
      --mdc-checkbox-state-layer-size: 30px;
      .mat-mdc-checkbox-touch-target {
        width: 36px;
        height: 36px;
      }
      .mat-mdc-checkbox {
        margin: 0;
      }
    }

    &.compact {
      .mdc-button {
        padding: 0;
        --mdc-text-button-container-height: auto;
        .mat-mdc-button-touch-target {
          height: auto;
        }
      }
    }

    .placeholder {
      flex: 0 1 var(--placeholder-size);
    }
  }

  .text {
    word-break: break-word;
    &.center {
      text-align: center;
    }
    &.pre {
      white-space: pre;
    }
    &.pre-wrap {
      white-space: pre-wrap;
    }
  }

  .success {
    color: var(--mat-sys-primary);
  }

  .error {
    color: var(--mat-sys-error);
  }

  .link {
    cursor: pointer;
    &.text {
      text-decoration: underline;
    }
  }

  mat-tab-group.flex-110 {
    .mat-mdc-tab-body-wrapper {
      flex: 1 1 0;
    }
  }

  ol,
  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 20px;
  }

  .text.accent,
  span.accent {
    color: var(--mat-sys-tertiary);
  }
}

.error-msg {
  font-size: var(--mat-form-field-subscript-text-size);
  color: var(--mat-form-field-error-text-color);
}

.empty-cad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cad-image-width);
  height: var(--cad-image-height);
  border: var(--border);
  font: var(--mat-sys-title-large);
}
