@import "./app/modules/message/styles.scss";

.hljs,
pre {
  font-family: "Fira Code Retina", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
@media print {
  body {
    overflow: visible;
  }
}

.btn-group {
  margin: 5px 5px 0 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > * {
    margin-bottom: 5px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

*[disabled] {
  cursor: not-allowed !important;
}

.add-empty-msg:empty::after {
  content: "空空如也";
  color: #888888;
  font-size: 1rem;
}

.not-allowed {
  position: relative;

  &::after {
    content: "DISABLED";
    cursor: not-allowed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
}

// ngx scrollbar
ng-scrollbar.ng-scrollbar {
  --scrollbar-border-radius: 7px;
  --scrollbar-padding: 0px;
  --scrollbar-viewport-margin: 0;
  --scrollbar-track-color: transparent;
  --scrollbar-wrapper-color: transparent;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.3);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.5);
  --scrollbar-size: 8px;
  --scrollbar-hover-size: 12px;
  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
}

.sub-form-field,
.sub-form-field-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;

  &:empty {
    display: none;
  }
}
.sub-form-field {
  .label {
    color: rgba(0, 0, 0, 0.54);
  }
}

.drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  width: 30px;
  height: 40px;
  box-sizing: border-box;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  cursor: move;
}

// resizable-element
.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
  left: 0;
}
.resize-handle-top {
  top: 0;
}
.resize-handle-bottom {
  bottom: 0;
}
.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
  top: 0;
}
.resize-handle-left {
  left: 0;
}
.resize-handle-right {
  right: 0;
}

.grecaptcha-badge {
  display: none;
}
.max-width {
  max-width: 1000px;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-110 {
  flex: 1 1 0;
}

img.cad-preview,
.cad-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
}

/* Remove Input Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.hidden {
  display: none !important;
}

.hidden-if-empty {
  &:empty {
    display: none;
  }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border {
  border: var(--border);
}
.border-left {
  border-left: var(--border);
}
.border-right {
  border-right: var(--border);
}
.border-top {
  border-top: var(--border);
}
.border-bottom {
  border-bottom: var(--border);
}

:root {
  --title-size: 1.5rem;
  --title-padding: 0.5em;
  --border: 1px solid black;
}

.title {
  font-size: var(--title-size);
  padding: var(--title-padding);
  &.center {
    text-align: center;
  }
  &.bold {
    font-weight: bold;
  }
}

@media print {
  .no-print {
    display: none;
  }
}
