@use "app/modules/message/styles.scss";
@use "ng-page.scss";
@use "sass:color";
@use "ngx-scrollbar" as scrollbar;

body.ng-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: block;
}
@media print {
  body,
  body * {
    overflow: visible;
  }
}

*[disabled] {
  cursor: not-allowed !important;
}

.add-empty-msg:empty::after {
  content: "空空如也";
  color: var(--mat-sys-outline);
  font-size: 1em;
}

.not-allowed {
  position: relative;
  &::after {
    content: "";
    cursor: not-allowed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--mat-sys-surface);
    opacity: 0.33;
  }
}

// ngx scrollbar
:root {
  @include scrollbar.ng-scrollbar-overrides(
    (
      track-color: transparent,
      track-shape: 10px,
      track-thickness: 8px,
      thumb-color: var(--mat-sys-outline-variant),
      thumb-hover-color: var(--mat-sys-outline)
    )
  );
}

ng-scrollbar.ng-scrollbar {
  flex: 1 1 0;
  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
  --_scrollbar-content-width: 100%;
  --_scrollbar-content-height: auto;

  &.enable-x {
    --_scrollbar-content-width: fit-content;
  }
  &.disable-y {
    --_scrollbar-content-height: 100%;
  }

  .ng-scroll-content {
    box-sizing: border-box;
    height: var(--_scrollbar-content-height);
  }
}
.scrollbar-container {
  overflow: hidden;
}

.sub-form-field,
.sub-form-field-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--mat-sys-outline);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;

  &:empty {
    display: none;
  }
}
.sub-form-field {
  .label {
    color: var(--mat-sys-on-surface);
    display: flex;
    align-items: center;
    min-height: 5px;
  }
}

.drag-placeholder {
  background: var(--mat-sys-outline-variant);
  border: dotted 3px var(--mat-sys-outline);
  width: 30px;
  height: 40px;
  box-sizing: border-box;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  cursor: move;
}

// resizable-element
.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
  left: 0;
}
.resize-handle-top {
  top: 0;
}
.resize-handle-bottom {
  bottom: 0;
}
.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
  top: 0;
}
.resize-handle-left {
  left: 0;
}
.resize-handle-right {
  right: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-110 {
  flex: 1 1 0;
}
.flex-00a {
  flex: 0 0 auto;
}

/* Remove Input Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: var(--scrollbar-track-thickness);
  height: var(--scrollbar-track-thickness);
  background-color: var(--scrollbar-track-color);
  transition: var(--scrollbar-track-transition);
  &:hover {
    width: var(--scrollbar-track-hover-thickness);
    height: var(--scrollbar-track-hover-thickness);
  }
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-track-shape);
  transition: var(--scrollbar-thumb-transition);
  &:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }
}

.hidden {
  display: none !important;
}

.hidden-if-empty {
  &:empty {
    display: none;
  }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border {
  border: var(--border);
}
.border-left {
  border-left: var(--border);
}
.border-right {
  border-right: var(--border);
}
.border-top {
  border-top: var(--border);
}
.border-bottom {
  border-bottom: var(--border);
}

:root {
  --title-padding: 0.5em;
  --border: 1px solid var(--mat-sys-on-surface);
  --top-z-index: 99999;
  --cad-image-width: 300px;
  --cad-image-height: 150px;
}

.title {
  font: var(--mat-sys-title-large);
  padding: var(--title-padding);
  &.small {
    font: var(--mat-sys-title-medium);
  }
  &.center {
    text-align: center;
  }
  &.bold {
    font-weight: bold;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}

.img-mark {
  --img-width: 35px;
  --img-height: 35px;
  position: absolute;
  width: var(--img-width);
  height: var(--img-height);
  background-size: contain;
  background-repeat: no-repeat;
  &.done {
    top: 0;
    left: 0;
    background-image: url("/n/static/images/done.png");
  }
  &.disabled {
    top: 0;
    right: 0;
    background-image: url("/n/static/images/disabled.png");
  }
  &.is-default {
    top: 0;
    left: calc(50% - var(--img-width) / 2);
    background-image: url("/n/static/images/is-default.png");
  }
  &.selected {
    top: 0;
    right: 0;
    background-image: url("/n/static/images/selected.png");
  }
}

a.text {
  color: var(--mat-sys-on-surface);
}

// @viselect/vanilla
.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;
}
