<div class="btn-group no-print">
  <button mat-raised-button color="primary" (click)="print()">打印</button>
  <button mat-raised-button color="primary" (click)="exportExcel()">导出Excel</button>
  @if (!environment.production) {
    <button mat-raised-button color="primary" (click)="clearCache()">clear cache</button>
    <mat-slide-toggle [(ngModel)]="noCad">no cad</mat-slide-toggle>
  }
</div>
<app-table #table class="flex-110" [info]="info" (rowButtonClick)="onRowButtonClick($event)"></app-table>
