<div class="toolbar">
  <div class="title">门扇铰位配置：{{ name() }}</div>
  <button mat-flat-button (click)="submit()">提交</button>
</div>
<ng-scrollbar>
  <div class="menjiaos items items-per-row">
    @for (item of items(); track $index) {
      <div class="item border">
        <div class="name fullwidth title">做{{ item.key }}个铰时</div>
        @for (group of item.inputInfoGroups; track $index) {
          <div class="toolbar">
            <div class="name">{{ group.name }}</div>
            @for (info of group.infos; track $index) {
              <app-input [info]="info"></app-input>
            }
          </div>
        }
      </div>
    }
  </div>
</ng-scrollbar>
