<div class="img-container" [class.small-pic]="bigPicSrc" (click)="showBigPic()">
  <div *ngIf="loading">
    <img [src]="loadingSrc" />
  </div>
  <img
    (wheel)="onWheel($event)"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    [src]="getSrc()"
    [ngStyle]="{visibility: loading ? 'hidden' : ''}"
    (load)="onLoad()"
    (error)="onError()"
  />
</div>

<div #bigPicDiv class="big-pic" [ngClass]="bigPicClass" *ngIf="getBigPicSrc()" style="display: none" (click)="hideBigPic()">
  <img [src]="getBigPicSrc()" *ngIf="bigPicVisible" @toggle />
</div>
