<div class="img-container" [class.small-pic]="bigPicSrc() && !bigPicClickShowDisabled()" (click)="clickImgContainer($event)">
  @if (loading()) {
    <img
      [src]="noLoading() ? emptySrc() : loadingSrc()"
      (wheel)="onSmallPicWheel($event)"
      (pointerdown)="onSmallPicPointerDown($event)"
      (pointermove)="onSmallPicPointerMove($event)"
      (pointerup)="onSmallPicPointerUp($event)"
    />
  }
  @if (error()) {
    <img
      [src]="emptySrc()"
      (wheel)="onSmallPicWheel($event)"
      (pointerdown)="onSmallPicPointerDown($event)"
      (pointermove)="onSmallPicPointerMove($event)"
      (pointerup)="onSmallPicPointerUp($event)"
    />
  }
  @if (currSrc(); as currSrc) {
    <img
      [src]="currSrc"
      [class.hidden]="loading() || error()"
      [style.object-fit]="objectFit()"
      (wheel)="onSmallPicWheel($event)"
      (pointerdown)="onSmallPicPointerDown($event)"
      (pointermove)="onSmallPicPointerMove($event)"
      (pointerup)="onSmallPicPointerUp($event)"
      (load)="onLoad($event)"
      (error)="onError($event)"
      cdkOverlayOrigin
      #origin="cdkOverlayOrigin"
    />
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="origin"
      [cdkConnectedOverlayOpen]="bigPicVisible()"
      (detach)="hideBigPic()"
    >
      <div class="big-pic" (pointerup)="onBigPicOuterClick($event)">
        <div class="big-pic-container" (animate.enter)="onBigPicEnter($event)" (animate.leave)="onBigPicLeave($event)">
          <img
            [src]="currBigPicSrc()"
            [style.object-fit]="objectFit()"
            (wheel)="onBigPicWheel($event)"
            (pointerdown)="onBigPicPointerDown($event)"
            (pointermove)="onBigPicPointerMove($event)"
            (pointerup)="onBigPicPointerUp($event)"
          />
        </div>
      </div>
    </ng-template>
  } @else {
    <img
      [src]="emptySrc()"
      (wheel)="onSmallPicWheel($event)"
      (pointerdown)="onSmallPicPointerDown($event)"
      (pointermove)="onSmallPicPointerMove($event)"
      (pointerup)="onSmallPicPointerUp($event)"
    />
  }
</div>
