<div class="img-container" [class.small-pic]="bigPicSrc() && !bigPicClickShowDisabled()" (click)="clickImgContainer()">
  @if (loading()) {
    <img
      [src]="loadingSrc()"
      (wheel)="onWheel($event)"
      (pointerdown)="onPointerDown($event)"
      (pointermove)="onPointerMove($event)"
      (pointerup)="onPointerUp($event)"
    />
  }
  @if (error()) {
    <img
      [src]="emptySrc()"
      (wheel)="onWheel($event)"
      (pointerdown)="onPointerDown($event)"
      (pointermove)="onPointerMove($event)"
      (pointerup)="onPointerUp($event)"
    />
  }
  @if (currSrc(); as currSrc) {
    <img
      [src]="currSrc"
      [class.hidden]="loading() || error()"
      [style.object-fit]="objectFit()"
      (wheel)="onWheel($event)"
      (pointerdown)="onPointerDown($event)"
      (pointermove)="onPointerMove($event)"
      (pointerup)="onPointerUp($event)"
      (load)="onLoad($event)"
      (error)="onError($event)"
    />
  } @else {
    <img
      [src]="emptySrc()"
      (wheel)="onWheel($event)"
      (pointerdown)="onPointerDown($event)"
      (pointermove)="onPointerMove($event)"
      (pointerup)="onPointerUp($event)"
    />
  }
</div>

@if (currBigPicSrc(); as currBigPicSrc) {
  <div #bigPicDiv class="big-pic" style="display: none" (click)="hideBigPic()">
    @if (bigPicVisible()) {
      <img [src]="currBigPicSrc" [style.object-fit]="objectFit()" @toggle />
    }
  </div>
}
