<div class="title">条件取值设置</div>
<div class="toolbar">
  <div class="spinner-container">
    <button mat-raised-button color="accent" (click)="submit()">保存</button>
    <app-spinner [id]="loaderId" [inline]="true"></app-spinner>
  </div>
  <button mat-raised-button color="normal" (click)="close()">关闭</button>
</div>
<div class="content">
  <app-table #tableLeft [info]="infoLeft()" (cellChange)="onCellChangeLeft($event)" (cellClick)="onCellClickLeft($event)"></app-table>
  <div class="divider"></div>
  <app-table #tableLeft [info]="infoRight()" (cellFocus)="onCellFocusRight($event)" (cellClick)="onCellClickRight($event)"></app-table>
</div>
