@if (selectable()) {
  <div class="toolbar right">
    <button mat-raised-button color="primary" (click)="close(true)">确定</button>
    <button mat-raised-button color="primary" (click)="close()">取消</button>
  </div>
}
<div class="flex-row flex-110">
  <app-data-list
    [navDataName]="navDataName"
    navDataTitle="模块库分类"
    [itemsAll]="mokuaisAll()"
    [(items)]="mokuais"
    [(activeNavNode)]="mokuaiActiveNavNode"
    (navNameChange)="onNavNameChange($event)"
  >
    <div class="toolbar" appDataListToolbar>
      <button mat-raised-button [color]="mokuaiEditMode() ? 'accent' : 'primary'" (click)="toggleMokuaiEditMode()">编辑</button>
      <button mat-raised-button color="primary" (click)="addMukuai()">添加</button>
      <button mat-raised-button color="primary">导入</button>
      <button mat-raised-button color="primary">导出</button>
    </div>
    <div class="data-items items no-items-per-row" appDataListItems>
      @for (mokuai of mokuais(); track $index) {
        <div
          class="data-item item link"
          [attr.data-id]="mokuai.id"
          [class.active]="mokuaiActiveItem()?.id === mokuai.id"
          (click)="clickMokuaiItem(mokuai)"
        >
          @if (selectable()) {
            <app-image [src]="mokuai.xiaoguotu" [prefix]="imgPrefix()" (click)="selectedMokuai(mokuai)"></app-image>
            <div class="name toolbar center">
              <button mat-icon-button color="primary" (click)="enterMokuai(mokuai)"><mat-icon>edit</mat-icon></button>
              <div>{{ mokuai.name }}</div>
            </div>
            @if (selectedMokuaiIds().includes(mokuai.id)) {
              <div class="img selected"></div>
            }
          } @else {
            <app-image [src]="mokuai.xiaoguotu" [prefix]="imgPrefix()" (click)="enterMokuai(mokuai)"></app-image>
            <div class="name">{{ mokuai.name }}</div>
          }
          @if (mokuaiEditMode()) {
            <div class="toolbar compact center">
              <button mat-button color="primary" (click)="editMokuai(mokuai)">编辑</button>
              <button mat-button color="primary" (click)="copyMokuai(mokuai)">复制</button>
              <button mat-button color="primary" (click)="removeMokuai(mokuai)">删除</button>
            </div>
          }
        </div>
      }
    </div>
  </app-data-list>
  @if (selectable()) {
    <mat-divider vertical></mat-divider>
    <div class="flex-column">
      <div class="title">可选模块</div>
      <ng-scrollbar>
        <div class="selected-mokuais items flex-110">
          @for (mokuai of selectedMokuais(); track $index) {
            <div class="item">
              <app-image [src]="mokuai.xiaoguotu" [prefix]="imgPrefix()"></app-image>
              <div class="name toolbar center">
                <button mat-icon-button color="primary" (click)="unselectedMokuai(mokuai)"><mat-icon>remove_circle</mat-icon></button>
                <button mat-icon-button color="primary" (click)="enterMokuai(mokuai)"><mat-icon>edit</mat-icon></button>
                <div>{{ mokuai.name }}</div>
              </div>
            </div>
          }
        </div>
      </ng-scrollbar>
    </div>
  }
</div>

@if (currMokuai(); as mokuai) {
  <app-floating-dialog [maximized]="true" noTitle>
    <app-mokuai-item [mokuai]="mokuai" [bancaiListData]="bancaiListData()" (close)="closeMokuai()"></app-mokuai-item>
  </app-floating-dialog>
}
