@if (closable()) {
  <div class="toolbar">
    <div class="title">{{ title() }}</div>
    <div class="flex-110"></div>
    <button mat-flat-button (click)="close(true)">确定</button>
    <button mat-flat-button (click)="close()">取消</button>
  </div>
}
<div class="flex-row flex-110">
  <app-var-names [varNameItem]="varNameItem()"></app-var-names>
  <mat-divider vertical></mat-divider>
  <div class="slgs flex-column">
    <app-suanliaogongshi class="flex-110" [info]="slgsInfo()" (slgsChange)="onSlgsChange()"></app-suanliaogongshi>
    <div class="toolbar center flex-110" style="height: 0">
      @if (data().rectInfos; as rectInfos) {
        <app-msbj-rects
          [rectInfos]="rectInfos"
          (activeRectInfoChange)="onActiveRectInfoChange($event)"
          selectType="bujuOnly"
        ></app-msbj-rects>
      }
      @if (data().msbj?.raw?.xiaoguotu; as xiaoguotu) {
        <app-image class="flex-110" [src]="xiaoguotu" [prefix]="imgPrefix"></app-image>
      }
    </div>
  </div>
  @if (nodesTable(); as info) {
    <mat-divider vertical></mat-divider>
    <app-table class="nodes-table" [info]="info"></app-table>
  }
  <!-- <mat-divider vertical></mat-divider> -->
  <!-- <app-table
    class="flex-110"
    [info]="shuruTable()"
    (toolbarButtonClick)="onShuruToolbar($event)"
    (rowButtonClick)="onShuruRow($event)"
  ></app-table> -->
</div>
