<div class="btn-group">
  <app-input [info]="filterInputInfo" style="flex: 1 1 0"></app-input>
  @if (zidingyiIndex >= 0) {
    <button mat-raised-button color="primary" (click)="selectZidingyi()">自定义</button>
  }
</div>
<ng-scrollbar class="content">
  <div class="bancai-list">
    @for (item of list; track item; let i = $index) {
      @if (!item.hidden) {
        <div class="bancai">
          <mat-checkbox
            class="name"
            [matTooltip]="item.bancai.mingzi"
            [matTooltipShowDelay]="500"
            [checked]="item.checked"
            (change)="onCheckboxChange(item)"
          >
            {{ item.bancai.mingzi }}
          </mat-checkbox>
        </div>
      }
    }
  </div>
</ng-scrollbar>
<div class="btn-group">
  <button mat-raised-button color="primary" (click)="submit()">确定</button>
  <button mat-raised-button color="primary" (click)="cancel()">取消</button>
</div>
