<div class="toolbar">
  <app-input class="flex-110" [info]="filterInputInfo()"></app-input>
</div>
<div class="toolbar">
  @for (type of bancaiTypes(); track $index) {
    <button mat-flat-button [class.accent]="activeBancaiType() === type" (click)="activeBancaiType.set(type)">
      {{ type }}
    </button>
  }
  <div class="placeholder"></div>
  @if (data.multi) {
    <button mat-flat-button (click)="selectAll()">全选当前数据</button>
  }
  <button mat-flat-button (click)="refresh()">刷新</button>
</div>
<ng-scrollbar>
  <div class="bancai-list items items-per-row">
    @for (item of list(); track $index) {
      @if (!item.hidden) {
        <div class="item">
          <mat-checkbox class="text long" [matTooltip]="item.bancai.mingzi" [checked]="item.checked" (change)="onCheckboxChange(item)">
            {{ item.bancai.mingzi }}
          </mat-checkbox>
        </div>
      }
    }
  </div>
</ng-scrollbar>
<div class="toolbar">
  <button mat-flat-button (click)="submit()">确定</button>
  <button mat-flat-button (click)="cancel()">取消</button>
</div>
