:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 0;
}

.bancai-list {
  display: flex;
  flex-wrap: wrap;

  .bancai {
    width: calc(20% - 6px);
    margin: 3px;

    .name {
      width: 100%;
    }
  }
}
