name: Deploy to server

on:
  push:
    branches: ["next"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Deploy
        env:
          SERVER_TOKEN: ${{ secrets.SERVER_TOKEN }}
        run: |
          corepack enable
          yarn install
          yarn build:packages
          yarn build:beta
          cd scripts
          yarn tsx ./upload.ts --beta
