<div>
  @for (info of inputInfos(); track $index) {
    <app-input [info]="info"></app-input>
  }
</div>
<ng-scrollbar>
  @if (useJsonEditor()) {
    @for (group of inputInfos2(); track i; let i = $index) {
      <mat-card class="item">
        @for (info of group; track $index) {
          <app-input [info]="info" [class]="info.label"></app-input>
        }
      </mat-card>
    }
  } @else {
    <div class="items items-per-row">
      @if (inputInfos2().length < 1) {
        <button mat-flat-button (click)="addQiezhongkongItem(0)">新增</button>
      }
      @for (group of inputInfos2(); track i; let i = $index) {
        <mat-card class="item">
          <div class="toolbar">
            <button mat-flat-button (click)="addQiezhongkongItem(i)">新增</button>
            <button mat-flat-button (click)="copyQiezhongkongItem(i)">复制</button>
            <button mat-flat-button (click)="removeQiezhongkongItem(i)">删除</button>
          </div>
          @for (info of group; track $index) {
            <app-input [info]="info" [class]="info.label"></app-input>
          }
        </mat-card>
      }
    </div>
  }
</ng-scrollbar>
<ng-template #qiezhongkong>
  <ng-scrollbar>
    <div class="qiezhongkong">
      @if (inputInfos2.length < 1) {
        <button mat-flat-button (click)="addQiezhongkongItem(0)">新增</button>
      }
      @for (group of inputInfos2(); track i; let i = $index) {
        <div class="qiezhongkong-item">
          <div class="toolbar">
            <button mat-flat-button (click)="addQiezhongkongItem(i)">新增</button>
            <button mat-flat-button (click)="copyQiezhongkongItem(i)">复制</button>
            <button mat-flat-button (click)="removeQiezhongkongItem(i)">删除</button>
          </div>
          @for (info of group; track $index) {
            <app-input [info]="info" [class]="info.label"></app-input>
          }
        </div>
      }
    </div>
  </ng-scrollbar>
</ng-template>
