<div>
  @for (info of inputInfos; track info) {
    <app-input [info]="info"></app-input>
  }
</div>

@if (useJsonEditor) {
  @for (group of inputInfos2; track group; let i = $index) {
    <div class="qiezhongkong-item">
      @for (info of group; track info) {
        <app-input [info]="info" [class]="info.label"></app-input>
      }
    </div>
  }
} @else {
  <ng-scrollbar>
    <div class="qiezhongkong">
      @if (inputInfos2.length < 1) {
        <button mat-raised-button color="primary" (click)="addQiezhongkongItem(0)">新增</button>
      }
      @for (group of inputInfos2; track group; let i = $index) {
        <div class="qiezhongkong-item">
          <div class="btn-group">
            <button mat-raised-button color="primary" (click)="addQiezhongkongItem(i)">新增</button>
            <button mat-raised-button color="primary" (click)="copyQiezhongkongItem(i)">复制</button>
            <button mat-raised-button color="primary" (click)="removeQiezhongkongItem(i)">删除</button>
          </div>
          @for (info of group; track info) {
            <app-input [info]="info" [class]="info.label"></app-input>
          }
        </div>
      }
    </div>
  </ng-scrollbar>
}
<ng-template #qiezhongkong>
  <ng-scrollbar>
    <div class="qiezhongkong">
      @if (inputInfos2.length < 1) {
        <button mat-raised-button color="primary" (click)="addQiezhongkongItem(0)">新增</button>
      }
      @for (group of inputInfos2; track group; let i = $index) {
        <div class="qiezhongkong-item">
          <div class="btn-group">
            <button mat-raised-button color="primary" (click)="addQiezhongkongItem(i)">新增</button>
            <button mat-raised-button color="primary" (click)="copyQiezhongkongItem(i)">复制</button>
            <button mat-raised-button color="primary" (click)="removeQiezhongkongItem(i)">删除</button>
          </div>
          @for (info of group; track info) {
            <app-input [info]="info" [class]="info.label"></app-input>
          }
        </div>
      }
    </div>
  </ng-scrollbar>
</ng-template>
