:host {
  background-color: var(--mat-sys-outline);
}

json-editor {
  flex: 1 1 0;

  ::ng-deep {
    > div {
      height: 100%;
    }
  }
}

.items {
  background-color: var(--mat-sys-outline);
  --items-per-row: 3;
  --item-margin: 10px;
  --item-padding: 5px;

  .item {
    padding: 5px;
    app-input {
      width: 100%;
    }
  }
}

.qiezhongkong {
  display: flex;
  flex-wrap: wrap;

  .qiezhongkong-item {
    box-sizing: border-box;
    border: 1px solid var(--mat-sys-outline);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: calc(33.33% - 10px);
    background-color: var(--mat-sys-surface);
  }
}

::ng-deep app-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
